<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.open.dao.OpenPageMapper">

    <!--新增应用菜单表-->
    <insert id="insertApplicationMenu">
        insert into tb_application_menu (appid, mid, parentid, cname, menupath,
        idx, adduid, addtime, upduid,updtime,
        status)
        values (#{appid},#{mid},#{parentid},#{cname},#{menupath},
        <choose>
            <when test="idx != null and idx !=''">
                #{idx},
            </when>
            <otherwise>
                (select count(mid) + 1
                from tb_application_menu
                where status = '1' and parentid =#{parentid}),
            </otherwise>
        </choose>
        #{uid},#{time},#{uid},#{time},#{status});
    </insert>
    <!--应用页面表新增-->
    <insert id="insertApplicationPage">
        insert into tb_application_page (pageid, appid, mid, cname, pagepath,
        idx, ouid, addtime, upduid,
        updtime, status)
        values (#{pageid},#{appid},#{mid},#{cname},#{pagepath},
        <choose>
            <when test="idx != null and idx !=''">
                #{idx},
            </when>
            <otherwise>
                (select count(pageid) + 1
                from tb_application_page
                where status = '1' and mid =#{mid}),
            </otherwise>
        </choose>
        #{uid},#{time},#{uid},#{time},#{status});
    </insert>
    <!--模糊查询开发者应用表-->
    <select id="searchOrgApplication" resultType="java.util.Map">
        select
        appid,
       appline,
       devtype,
       apptype,
       cid,
       appname,
       summary,
       applogo
        from tb_org_application
        where status = '1'
          and appname ~ #{value}
          order by addtime desc
    </select>
    <!--模糊查询开发者应用表总数-->
    <select id="searchOrgApplicationCount" resultType="java.lang.Integer">
        select count(appid)
        from tb_org_application
        where status = '1'
          and appname ~ '';
    </select>

    <!--修改开发者应用列表-->
    <update id="updateOrgApplication" parameterType="java.util.Map">
        update
        tb_org_application
        set
        <if test="appname != null and appname != ''">appname = #{appname},</if>
        <if test="appline != null and appline != ''">appline = #{appline},</if>
        <if test="status != null and status != ''">status = #{status},</if>
        <if test="summary != null and summary != ''">summary = #{summary},</if>
        <if test="updtime != null and updtime != ''">updtime = #{updtime}</if>
        where
        appid = #{appid}
    </update>

    <!--应用菜单表查询-->
    <select id="getApplicationMenuPage" resultType="java.util.Map">
        SELECT
            appid,
            mid,
            '' AS pageid,
            cname,
            menupath AS path,
            parentid,
            '1' AS status
        FROM
            tb_application_menu
        WHERE
            status = '1'
            AND appid = #{ appid }
            AND parentid = #{ parentid } UNION
        SELECT
            appid,
            mid,
            pageid,
            cname,
            pagepath AS path,
            '',
            '2' AS status
        FROM
            tb_application_page
        WHERE
            status = '1'
            AND mid = #{ parentid }
            AND appid = #{ appid }
    </select>

  <!--查询菜单的子父级-->
    <select id="serachApplicationMenu" parameterType="java.util.Map" resultType="java.util.Map">
         WITH RECURSIVE modt AS (
        select
        appid,mid,parentid,cname,menupath,'1' as statuss
        from
        tb_application_menu
        where parentid = '000000000000000'
        and status = '1' and appid = #{appid}
        UNION ALL
        SELECT
        a.appid,a.mid,a.parentid,a.cname,a.menupath,'1' as status
        from
        tb_application_menu a
        join modt on a.parentid = modt.mid
        and a.status = '1' and a.appid = #{appid}
        )
        select
        modt.*
        from
        modt
    </select>

  <!--查询页面-->
    <select id="getApplicationPage" parameterType="java.util.Map" resultType="java.util.Map">
        select
        appid,
        mid,
        pageid,
        cname,
        pagepath AS path,
        '2' AS statuss
        from
        tb_application_page
        where
        mid = #{mid} and status = '1'
    </select>

    <!--修改菜单-->
    <update id="updateMenu" parameterType="java.util.Map">
        update
        tb_application_menu
        set
        <if test="cname != null and cname != ''">cname = #{cname},</if>
        <if test="menupath != null and menupath != ''">menupath = #{path},</if>
        <if test="status != null and status != ''">status = #{status},</if>
        <if test="updtime != null and updtime != ''">updtime = #{updtime}</if>
        where
        mid = #{mid}
    </update>

    <!--修改页面-->
    <update id="updatePage" parameterType="java.util.Map">
        update
        tb_application_page
        set
        <if test="cname != null and cname != ''">cname = #{cname},</if>
        <if test="pagepath != null and pagepath != ''">pagepath = #{pagepath},</if>
        <if test="status != null and status != ''">status = #{status},</if>
        <if test="updtime != null and updtime != ''">updtime = #{updtime}</if>
        where
        pageid = #{pageid}
    </update>
</mapper>
