<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.open.dao.OpenPageMapper">
    <!--新增应用菜单表-->
    <insert id="insertApplicationMenu">
        insert into tb_application_menu (appid, mid, parentid, cname, menupath,
        idx, adduid, addtime, upduid,updtime,
        status)
        values (#{appid},#{mid},#{parentid},#{cname},#{menupath},
        <choose>
            <when test="idx != null and idx !=''">
                #{idx},
            </when>
            <otherwise>
                (select count(mid) + 1
                from tb_application_menu
                where status = '1' and parentid =#{parentid}),
            </otherwise>
        </choose>
        #{uid},#{time},#{uid},#{time},#{status});
    </insert>
    <!--应用页面表新增-->
    <insert id="insertApplicationPage">
        insert into tb_application_page (pageid, appid, mid, cname, pagepath,
        idx, ouid, addtime, upduid,
        updtime, status)
        values (#{pageid},#{appid},#{mid},#{cname},#{pagepath},
        <choose>
            <when test="idx != null and idx !=''">
                #{idx},
            </when>
            <otherwise>
                (select count(pageid) + 1
                from tb_application_page
                where status = '1' and mid =#{mid}),
            </otherwise>
        </choose>
        #{uid},#{time},#{uid},#{time},#{status});
    </insert>
    <!--模糊查询开发者应用表-->
    <select id="searchOrgApplication" resultType="java.util.Map">
        select appid,
       appline,
       devtype,
       apptype,
       cid,
       appname
        from tb_org_application
        where status = '1'
          and appname ~ #{value}
          order by addtime desc LIMIT #{pagesize}  OFFSET #{start};
    </select>
    <!--模糊查询开发者应用表总数-->
    <select id="searchOrgApplicationCount" resultType="java.lang.Integer">
        select count(appid)
        from tb_org_application
        where status = '1'
          and appname ~ '';
    </select>
    <!--应用菜单表查询-->
    <select id="getApplicationMenuPage" resultType="java.util.Map">
        SELECT
            appid,
            mid,
            '' AS pageid,
            cname,
            menupath AS path,
            parentid,
            '1' AS status
        FROM
            tb_application_menu
        WHERE
            status = '1'
            AND appid = #{ appid }
            AND parentid = #{ parentid } UNION
        SELECT
            appid,
            mid,
            pageid,
            cname,
            pagepath AS path,
            '',
            '2' AS status
        FROM
            tb_application_page
        WHERE
            status = '1'
            AND mid = #{ parentid }
            AND appid = #{ appid }
    </select>
</mapper>
