<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.open.dao.PlatformComMapper">
    <!--新增平台开发文档表-->
    <insert id="insertPlatformHelper">
        insert into tb_platform_helper
        (helpid, appline, title, context, ouid,
        addtime, upduid, updtime, status, summary)
        values (#{helpid},#{appline},#{title},#{context},#{uid},
        #{time},#{uid},#{time},#{status},#{summary});
    </insert>
    <!--新增开放文档类型-->
    <insert id="insertOpenApiType">
        insert into tb_open_api_type(otid, cname, potid, idx, ouid,
        addtime, upduid, updtime, status, summary)
        values (#{otid},#{cname},#{potid},
        <choose>
            <when test="idx != null and idx !=''">
                #{idx},
            </when>
            <otherwise>
                (select count(1) +1
                from tb_open_api_type where potid = #{potid} and status = '1'),
            </otherwise>
        </choose>
        #{uid},
        #{time},#{uid},#{time},#{status},#{summary});

    </insert>
    <!--新增文档类型接口表-->
    <insert id="insertOpenApiList">
        insert into tb_open_api_list (otid, apiid, cname, idx, apidesc,
        reqtype, curl, descfile, apibody,ouid,
        addtime, upduid, updtime, status, summary)
        values (#{otid},#{apiid},#{cname},
        <choose>
            <when test="idx != null and idx !=''">
                #{idx},
            </when>
            <otherwise>
                (select count(1)+1
                from tb_open_api_list where status ='1' and otid = #{otid}),
            </otherwise>
        </choose>
        #{apidesc},
        #{reqtype},#{curl},#{descfile},#{apibody},#{uid},
        #{time},#{uid},#{time},#{status},#{summary});
    </insert>
    <!--审批产品列表-->
    <update id="updateVerify">
        update tb_application_verify
        set status = #{status},
            upduid=#{uid},
            updtime=#{updtime}
        where appid=#{appid} and appvsn=#{appvsn} and status = '1';
    </update>
    <!--平台开发文档表-->
    <update id="updatePlatformHelper">
        update tb_platform_helper
        set updtime=#{time},upduid=#{uid}
        <if test=" title != null and title !='' ">,title=#{title}</if>
        <if test=" context != null and context !='' ">,context=#{context}</if>
        <if test=" status != null and status !='' ">,status=#{status}</if>
        where helpid=#{helpid};
    </update>
    <!--修改开放文档类型-->
    <update id="updateOpenApiType">
        update tb_open_api_type
        set upduid=#{uid},
        updtime=#{time}
        <if test=" cname != null and cname !='' ">,cname = #{cname}</if>
        <if test=" status != null and status !='' ">,status=#{status}</if>
        where otid = #{otid}
    </update>
    <!--修改文档类型接口表-->
    <update id="updateOpenApiList">
        update tb_open_api_list
        set upduid=#{uid},updtime =#{time}
        <if test=" cname != null and cname !='' ">,cname=#{cname}</if>
        <if test=" curl != null and curl !='' ">,curl=#{curl}</if>
        <if test=" apidesc != null and apidesc !='' ">,apidesc=#{apidesc}</if>
        <if test=" reqtype != null and reqtype !='' ">,reqtype=#{reqtype}</if>
        <if test=" apibody != null and apibody !='' ">,apibody=#{apibody}</if>
        <if test=" status != null and status !='' ">,status=#{status}</if>
        where apiid=#{apiid};
    </update>

    <!--获取所有开放平台的企业id-->
    <select id="queryPlatformIds" resultType="java.util.Map">
        select COALESCE( string_agg ( DISTINCT cid, ',' ), '' ) AS cids,
        COALESCE ( string_agg ( DISTINCT manager, ',' ), '' ) AS uids
        FROM tb_platform_org WHERE status = '1'
        <if test=" uids != null  ">
            and manager in ( SELECT regexp_split_to_table( #{uids},',' ) )
        </if>
    </select>
    <!--开发者列表查询-->
    <select id="searchAppDeveloper" resultType="java.util.Map">
        select oa.cid,ad.uid
        from tb_app_developer ad
        left join tb_org_application oa on oa.appid = ad.appid
        where 1=1
        <if test=" cid != null and cid != '' ">
            and oa.cid = #{cid}
        </if>
        <if test=" uids != null  ">
            and ad.uid in (SELECT regexp_split_to_table( #{uids},',' ) )
        </if>
        order by cid,uid LIMIT #{pagesize} OFFSET #{start}
    </select>
    <!--开发者列表查询count-->
    <select id="searchAppDeveloperCount" resultType="java.lang.Integer">
        select count(1)
        from tb_app_developer ad
        left join tb_org_application oa on oa.appid = ad.appid
        where 1=1
        <if test=" cid != null and cid != '' ">
            and oa.cid = #{cid}
        </if>
        <if test=" uids != null  ">
            and ad.uid in (SELECT regexp_split_to_table( #{uids},',' ) )
        </if>
    </select>
    <!--根据cid和集获取管理员信息-->
    <select id="getComAndMan" resultType="java.util.Map">
        SELECT
        cid,manager
        FROM
        tb_platform_org
        WHERE
        status = '1'
        <if test=" cid != null and cid != '' ">
            and cid = #{cid}
        </if>
    </select>
    <!--产品列表审批查询-->
    <select id="searchApplicationVerify" resultType="java.util.Map">
        SELECT distinct av.cid,
        av.appid,
        av.appname,
        av.appvsn,
        av.showvsn,
        av.apptype,
        av.appurl,
        av.status,
        ad.uid
        FROM tb_application_verify av
        LEFT JOIN tb_app_developer ad ON ad.appid = av.appid and ad.devauth = '1'
        WHERE
        av.appname ~ #{value}
        <if test=" cids != null  ">
            or av.cid in (SELECT regexp_split_to_table(#{cids}, ','))
        </if>
        order by av.cid, av.showvsn LIMIT #{pagesize} OFFSET #{start}

    </select>
    <!--产品列表审批查询count-->
    <select id="searchApplicationVerifyCount" resultType="java.lang.Integer">
        select count (1) from (
        SELECT distinct av.cid,
        av.appid,
        av.appname,
        av.appvsn,
        av.showvsn,
        av.apptype,
        av.appurl,
        av.status,
        ad.uid
        FROM tb_application_verify av
        LEFT JOIN tb_app_developer ad ON ad.appid = av.appid and ad.devauth = '1'
        WHERE
        av.appname ~ #{value}
        <if test=" cids != null  ">
            or av.cid in (SELECT regexp_split_to_table(#{cids}, ','))
        </if>
        ) as aaa
    </select>
    <!--查询应用审批表数据-->
    <select id="queryVerify" resultType="java.util.Map">
        select *
        from tb_application_verify where
         appid=#{appid}
        and appvsn=#{appvsn};
    </select>
    <!--查询平台开发文档表-->
    <select id="searchPlatformHelper" resultType="java.util.Map">
        select helpid, title, context, to_char(to_timestamp(addtime / 1000), 'yyyy-MM-dd') as addtime
        from tb_platform_helper
        where status = '1' and title ~ #{value}
        order by helpid  LIMIT #{pagesize}  OFFSET #{start}
    </select>
    <!--查询平台开发文档表总数-->
    <select id="searchPlatformHelperCount" resultType="java.lang.Integer">
        select count(1)
        from tb_platform_helper
        where status = '1' and title ~ #{value}
    </select>
    <!--获取开放文档类型-->
    <select id="getOpenApiType" resultType="java.util.Map">
        select otid,cname,potid
        from tb_open_api_type where status ='1';
    </select>
    <!--查询文档类型接口-->
    <select id="searchOpenApiList" resultType="java.util.Map">
        SELECT distinct toal.apiid,
        toat.cname AS TYPE,
        toal.cname,
        to_char( to_timestamp( toal.addtime / 1000 ), 'yyyy-MM-dd' ) AS uploadtime,toal.idx
        FROM
        tb_open_api_list toal
        LEFT JOIN tb_open_api_type toat ON toat.otid = toal.otid
        WHERE
        toal.status = '1'
        <if test=" start != null and start != ''">
            AND toal.addtime >= #{start}
        </if>
        <if test=" end != null and end != ''">
            AND #{end} >= toal.addtime
        </if>
        <if test=" value != null and value != ''">
            AND toal.cname ~ #{value}
        </if>
        <if test=" otid != null and otid != ''">
            AND toal.otid = #{otid}
        </if>
        order by toal.idx LIMIT #{pagesize} OFFSET #{start}
    </select>
    <!--查询文档类型接口总数-->
    <select id="searchOpenApiListCou" resultType="java.lang.Integer">
        SELECT distinct count(toal.apiid)
        FROM
        tb_open_api_list toal
        LEFT JOIN tb_open_api_type toat ON toat.otid = toal.otid
        WHERE
        toal.status = '1'
        <if test=" starttime != null and starttime != ''">
            AND toal.addtime >= #{starttime}
        </if>
        <if test=" endtime != null and endtime != ''">
            AND #{endtime} >= toal.addtime
        </if>
        <if test=" value != null and value != ''">
            AND toal.cname ~ #{value}
        </if>
        <if test=" otid != null and otid != ''">
            AND toal.otid = #{otid}
        </if>
    </select>

</mapper>
