<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.open.dao.PlatformComMapper">
    <!--审批产品列表-->
    <update id="updateVerify">
        update tb_application_verify
        set status = #{status},
            upduid=#{uid},
            updtime=#{updtime}
        where appid=#{appid} and appvsn=#{appvsn};
    </update>

    <!--获取所有开放平台的企业id-->
    <select id="queryPlatformIds" resultType="java.util.Map">
        select COALESCE( string_agg ( DISTINCT cid, ',' ), '' ) AS cids,
        COALESCE ( string_agg ( DISTINCT manager, ',' ), '' ) AS uids
        FROM tb_platform_org WHERE status = '1'
        <if test=" uids != null  ">
            and manager in ( SELECT regexp_split_to_table( #{uids},',' ) )
        </if>
    </select>
    <!--开发者列表查询-->
    <select id="searchAppDeveloper" resultType="java.util.Map">
        select oa.cid,ad.uid
        from tb_app_developer ad
        left join tb_org_application oa on oa.appid = ad.appid
        where 1=1
        <if test=" cid != null and cid != '' ">
            and oa.cid = #{cid}
        </if>
        <if test=" uids != null  ">
            and ad.uid in (SELECT regexp_split_to_table( #{uids},',' ) )
        </if>
        order by cid,uid LIMIT #{pagesize} OFFSET #{start}
    </select>
    <!--开发者列表查询count-->
    <select id="searchAppDeveloperCount" resultType="java.lang.Integer">
        select count(1)
        from tb_app_developer ad
        left join tb_org_application oa on oa.appid = ad.appid
        where 1=1
        <if test=" cid != null and cid != '' ">
            and oa.cid = #{cid}
        </if>
        <if test=" uids != null  ">
            and ad.uid in (SELECT regexp_split_to_table( #{uids},',' ) )
        </if>
    </select>
    <!--根据cid和集获取管理员信息-->
    <select id="getComAndMan" resultType="java.util.Map">
        SELECT
        cid,manager
        FROM
        tb_platform_org
        WHERE
        status = '1'
        <if test=" cid != null and cid != '' ">
            and cid = #{cid}
        </if>
    </select>
    <!--产品列表审批查询-->
    <select id="searchApplicationVerify" resultType="java.util.Map">
        SELECT distinct av.cid,
        av.appid,
        av.appname,
        av.appvsn,
        av.showvsn,
        av.apptype,
        av.appurl,
        av.status,
        ad.uid
        FROM tb_application_verify av
        LEFT JOIN tb_app_developer ad ON ad.appid = av.appid and ad.devauth = '1'
        WHERE
        av.appname ~ #{value}
        <if test=" cids != null  ">
            or av.cid in (SELECT regexp_split_to_table(#{cids}, ','))
        </if>
        order by av.cid, av.showvsn LIMIT #{pagesize} OFFSET #{start}

    </select>
    <!--产品列表审批查询count-->
    <select id="searchApplicationVerifyCount" resultType="java.lang.Integer">
        select count (1) from (
        SELECT distinct av.cid,
        av.appid,
        av.appname,
        av.appvsn,
        av.showvsn,
        av.apptype,
        av.appurl,
        av.status,
        ad.uid
        FROM tb_application_verify av
        LEFT JOIN tb_app_developer ad ON ad.appid = av.appid and ad.devauth = '1'
        WHERE
        av.appname ~ #{value}
        <if test=" cids != null  ">
            or av.cid in (SELECT regexp_split_to_table(#{cids}, ','))
        </if>
        ) as aaa
    </select>
    <!--查询应用审批表数据-->
    <select id="queryVerify" resultType="java.util.Map">
        select *
        from tb_application_verify where
         appid=#{appid}
        and appvsn=#{appvsn};
    </select>

</mapper>
