<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.operate.dao.TbAsApproverMapper">

    <!--查询作为审批人的记录-->
    <select id="queryAsApprover" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        COALESCE (tb1.travelid ,'') as travelid,
        COALESCE (tb1.uid,'') as uid,
        COALESCE (tb1.uname,'') as uname,
        to_char(TO_TIMESTAMP(tb1.orgtime/1000), 'YYYY-MM-DD') as orgtime,
        to_char(TO_TIMESTAMP(tb1.endtime/1000), 'YYYY-MM-DD') as endtime,
        COALESCE (tb1.fare,0) as fare,
        COALESCE (tb1.expenses,0) as expenses,
        COALESCE (tb1.sum,0) as "sum",
        COALESCE (tb1.rebversion,'') as rebversion,
        COALESCE (tb2.idx,-1) as idx,
        to_char(TO_TIMESTAMP(tb2.trtime/1000), 'YYYY-MM-DD') as trtime,
        COALESCE (tb2.apid,'') as apid,
        COALESCE (tb2.trstatus,-1) as trstatus
        from tb_travel_record tb1
        INNER JOIN tb_travel_approval tb2
        on  tb1.travelid = tb2.travelid and tb1.rebversion= tb2."version"
        <where>
            tb1.rebstatus != '1' and tb1.rebstatus != '4' and tb1.status != '2'
            <if test="trstatus == -1">and (tb2.trstatus = 2 or tb2.trstatus = 3)</if>
            <if test="trstatus == 2">and tb2.trstatus = 2</if>
            <if test="trstatus == 3">and  tb2.trstatus = 3</if>
            <if test="uid != null and uid != '' ">
                and tb2.truid = #{uid}
            </if>
            <if test="travelid != null and travelid != '' ">
                and tb1.travelid = #{travelid}
            </if>
            <if test="orgtime != null and orgtime != '' ">
                and tb1.orgtime &gt;= #{orgtime}
            </if>
            <if test="endtime != null and endtime != '' ">
                and tb1.endtime &lt;= #{endtime}
            </if>
            <if test="aptype != '' and aptype!=null"  >
                and tb1.aptype = #{aptype}
            </if>
        </where>
        order by orgtime desc
        LIMIT #{pagesize} OFFSET #{pageno}
    </select>


    <select id="countAsApprover" resultType="int" parameterType="java.util.Map">
        SELECT count(1)
        from tb_travel_record tb1
        INNER JOIN tb_travel_approval tb2
        on  tb1.travelid = tb2.travelid and tb1.rebversion= tb2."version"
        <where>
            tb1.rebstatus != '1' and tb1.rebstatus != '4' and tb1.status != '2'
            <if test="trstatus == -1">and (tb2.trstatus = 2 or tb2.trstatus = 3)</if>
            <if test="trstatus == 2">and tb2.trstatus = 2</if>
            <if test="trstatus == 3">and  tb2.trstatus = 3</if>
            <if test="uid != null and uid != '' ">
                and tb2.truid = #{uid}
            </if>
            <if test="travelid != null and travelid != '' ">
                and tb1.travelid = #{travelid}
            </if>
            <if test="orgtime != null and orgtime != '' ">
                and tb1.orgtime &gt;= #{orgtime}
            </if>
            <if test="endtime != null and endtime != '' ">
                and tb1.endtime &lt;= #{endtime}
            </if>
            <if test="aptype != '' and aptype!=null"  >
                and tb1.aptype = #{aptype}
            </if>
        </where>
    </select>

    <update id="setReturnStatus"  parameterType="java.util.Map" >
        update tb_travel_approval set trstatus ='4' where travelid =#{travelid}
    </update>

</mapper>