<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.operate.dao.TbCompanyMethodMapper">

    <!-- 上传 导入方法论   已存在则只做修改 不存在则做添加 -->
    <insert id="addCompanyMethod" parameterType="java.util.List">
        <foreach collection="list" index="index" item="method" separator=";">
            insert into tb_company_method
            (cid,projectid,methodid,cname,parentid,plantime,days,score,remark,idx,adduid,addtime,upduid,updtime,status,summary,money,
            information,
            constraintcondition,numberone)
            values (
            <choose>
                <when test="method.cid!=null and method.cid!=''">
                    #{method.cid},
                </when>
                <otherwise>
                    NULL ,
                </otherwise>
            </choose>
            <choose>
                <when test="method.projectid!=null and method.projectid!=''">
                    #{method.projectid},
                </when>
                <otherwise>
                    NULL ,
                </otherwise>
            </choose>
            <choose>
                <when test="method.methodid!=null and method.methodid!=''">
                    #{method.methodid},
                </when>
                <otherwise>
                    NULL ,
                </otherwise>
            </choose>
            <choose>
                <when test="method.cname!=null and method.cname!=''">
                    #{method.cname},
                </when>
                <otherwise>
                    NULL ,
                </otherwise>
            </choose>
            <choose>
                <when test="method.parentid!=null and method.parentid!=''">
                    #{method.parentid},
                </when>
                <otherwise>
                    '0000000' ,
                </otherwise>
            </choose>
            <choose>
                <when test="method.plantime!=null and method.plantime!=''">
                    #{method.plantime},
                </when>
                <otherwise>
                    NULL ,
                </otherwise>
            </choose>
            <choose>
                <when test="method.days!=null and method.days!=''">
                    #{method.days},
                </when>
                <otherwise>
                    NULL ,
                </otherwise>
            </choose>
            <choose>
                <when test="method.score!=null and method.score!=''">
                    #{method.score},
                </when>
                <otherwise>
                    NULL ,
                </otherwise>
            </choose>
            <choose>
                <when test="method.remark!=null and method.remark!=''">
                    #{method.remark},
                </when>
                <otherwise>
                    NULL ,
                </otherwise>
            </choose>
            <choose>
                <when test="method.idx!=null and method.idx!=''">
                    #{method.idx},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="method.adduid!=null and method.adduid!=''">
                    #{method.adduid},
                </when>
                <otherwise>
                    NULL ,
                </otherwise>
            </choose>
            <choose>
                <when test="method.addtime!=null and method.addtime!=''">
                    #{method.addtime},
                </when>
                <otherwise>
                    NULL ,
                </otherwise>
            </choose>
            <choose>
                <when test="method.upduid!=null and method.upduid!=''">
                    #{method.upduid},
                </when>
                <otherwise>
                    NULL ,
                </otherwise>
            </choose>
            <choose>
                <when test="method.updtime!=null and method.updtime!=''">
                    #{method.updtime},
                </when>
                <otherwise>
                    NULL ,
                </otherwise>
            </choose>
            <choose>
                <when test="method.status!=null and method.status!=''">
                    #{method.status},
                </when>
                <otherwise>
                    1 ,
                </otherwise>
            </choose>
            <choose>
                <when test="method.summary!=null and method.summary!=''">
                    #{method.summary},
                </when>
                <otherwise>
                    NULL,
                </otherwise>
            </choose>
            <choose>
                <when test="method.money!=null and method.money!=''">
                    #{method.money},
                </when>
                <otherwise>
                    NULL,
                </otherwise>
            </choose>
            <choose>
                <when test="method.information!=null and method.information!=''">
                    #{method.information},
                </when>
                <otherwise>
                    NULL,
                </otherwise>
            </choose>
            <choose>
                <when test="method.constraintcondition!=null and method.constraintcondition!=''">
                    #{method.constraintcondition},
                </when>
                <otherwise>
                    NULL,
                </otherwise>
            </choose>
            <choose>
                <when test="method.numberone!=null and method.numberone!=''">
                    #{method.numberone}
                </when>
                <otherwise>
                    NULL,
                </otherwise>
            </choose>


            );
        </foreach>
    </insert>

    <!-- 查询方法论 -->
    <select id="queryCompanyMethod" parameterType="java.util.Map" resultType="java.util.Map">
        WITH RECURSIVE modt AS (
        SELECT
        cid,
        projectid,
        methodid,
        parentid,
        cname,
        plantime,
        days,
        score,
        remark,
        idx,
        adduid,
        addtime,
        upduid,
        updtime,
        status,
        summary,
        money,
        information,
        constraintCondition,
        numberone
        FROM
        tb_company_method
        WHERE
        parentid = '0000000'

        <if test="cid!=null and cid!=''">
            and cid = #{cid}
        </if>
        <if test="projectid!=null and projectid!=''">
            and projectid = #{projectid}
        </if>
        AND status = '1'
        UNION ALL
        SELECT
        tmt.cid,
        tmt.projectid,
        tmt.methodid,
        tmt.parentid,
        tmt.cname,
        tmt.plantime,
        tmt.days,
        tmt.score,
        tmt.remark,
        tmt.idx,
        tmt.adduid,
        tmt.addtime,
        tmt.upduid,
        tmt.updtime,
        tmt.status,
        tmt.summary,
        tmt.money,
        tmt.information,
        tmt.constraintCondition,
        tmt.numberone
        FROM
        tb_company_method tmt
        JOIN modt ON tmt.parentid = modt.methodid
        AND tmt.status = '1'
        )
        SELECT
        modt.*
        FROM
        modt
        ORDER BY
        modt.idx ASC
    </select>

    <!-- 修改方法论状态 -->
    <update id="updateCompanyMethodStatus" parameterType="java.util.Map">
        update tb_company_method set status=#{status} where cid=#{cid}
        <if test="projectid!=null and projectid!=''">
            and projectid=#{projectid}
        </if>
        and methodid=#{methodid}
    </update>


    <select id="getCompanyMethodByids" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        cid,
        projectid,
        methodid,
        parentid,
        cname,
        plantime,
        days,
        score,
        remark,
        idx,
        adduid,
        addtime,
        upduid,
        updtime,
        status,
        summary,
        money,
        information,
        constraintcondition,
        numberone
        FROM
        tb_company_method
        WHERE
        parentid = '0000000'

        <if test="cid!=null and cid!=''">
            and cid = #{cid}
        </if>
        <if test="projectid!=null and projectid!=''">
            and projectid = #{projectid}
        </if>
        AND status = '1'

    </select>


    <delete id="delCompanyMethod" parameterType="java.lang.String" >
        delete from tb_company_method
            where
            numberone in (${numberone})
            ;
            delete from tb_company_method_data
            where
            numberone in (${numberone})
            ;

    </delete>



    <insert id="addMethodData" parameterType="java.util.List">
        insert into
        tb_company_method_data(dataid,typeid,cname,typedesc,idx,ouid,addtime,updtime,status,summary,parentid,paststandards,information,grade,projectid,numberone,cid)
        values
        <foreach collection="list" index="index" item="item"  separator=",">
        (
            <choose>
                <when test="item.dataid!=null">
                    #{item.dataid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="item.typeid!=null">
                    #{item.typeid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="item.cname!=null">
                    #{item.cname},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="item.typedesc!=null">
                    #{item.typedesc},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="item.idx!=null">
                    #{item.idx},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="item.ouid!=null">
                    #{item.ouid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="item.addtime!=null">
                    #{item.addtime},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="item.updtime!=null">
                    #{item.updtime},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="item.status!=null">
                    #{item.status},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="item.summary!=null">
                    #{item.summary},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="item.parentid!=null">
                    #{item.parentid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="item.paststandards!=null">
                    #{item.paststandards},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="item.information!=null">
                    #{item.information},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="item.grade!=null">
                    #{item.grade},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="item.projectid!=null">
                    #{item.projectid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="item.numberone!=null">
                    #{item.numberone},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="item.cid!=null">
                    #{item.cid}
                </when>
                <otherwise>
                    null
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>


    <select id="getCompanyMethoddataAll" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            typeid,
            cname,
            context,
            addtime,
            typedesc,
            idx,
            parentid,
            paststandards,
            information,
            grade,
            dataid,
            numberone
        FROM
            tb_company_method_data
        WHERE
            status = '1'
            AND typeid in (${ typeids })
            and cid=#{cid}
            and projectid=#{projectid}
    </select>


    <delete id="delcidsandprojectid" parameterType="java.util.Map">
    delete from tb_company_method_data
    where
        <if test="cid!=null and cid!=''">
            cid=#{cid}
        </if>
        <if test="projectid!=null and projectid!=''">
          and  projectid=#{projectid}
        </if>
     ;
        delete from tb_company_method
        where
        <if test="cid!=null and cid!=''">
            cid=#{cid}
        </if>
        <if test="projectid!=null and projectid!=''">
            and  projectid=#{projectid}
        </if>
    </delete>



</mapper>