<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.operate.dao.TbCompanyServiceMapper">

    <insert id="saveProject" parameterType="java.util.Map">
        insert
        into
        tb_company_service
        (
        planid,
        typeid,
        cid,
        projected,
        uid,
        region,
        handletime,
        servicetype,
        personid,
        person,
        telphone,
        context,
        servicecontent,
        needres,
        attach,
        remark,
        times,
        result,
        nexttime,
        adduid,
        addtime,
        upduid,
        updtime,
        status,
        summary
        )values(
        <choose>
            <when test="planid != null">
                #{planid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="typeid != null">
                #{typeid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="cid != null">
                #{cid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="projected != null">
                #{projected},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="uid != null">
                #{uid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="region != null">
                #{region},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="handletime != null">
            #{handletime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="servicetype != null">
                #{servicetype},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="personid != null">
                #{personid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="person != null">
                #{person},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="telphone != null">
                #{telphone},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
           <choose>
                  <when test="context != null">
                         #{context},
                  </when>
                  <otherwise>
                         null,
                  </otherwise>
           </choose>
           <choose>
                  <when test="servicecontent != null">
                         #{servicecontent},
                  </when>
                  <otherwise>
                         null,
                  </otherwise>
           </choose>
           <choose>
                  <when test="needres != null">
                         #{needres},
                  </when>
                  <otherwise>
                         null,
                  </otherwise>
           </choose>
           <choose>
                  <when test="attach != null">
                         #{attach},
                  </when>
                  <otherwise>
                         null,
                  </otherwise>
           </choose>
           <choose>
                  <when test="remark != null">
                         #{remark},
                  </when>
                  <otherwise>
                         null,
                  </otherwise>
           </choose>
           <choose>
                  <when test="times != null">
                         #{times},
                  </when>
                  <otherwise>
                         null ,
                  </otherwise>
           </choose>
           <choose>
                  <when test="result != null">
                         #{result},
                  </when>
                  <otherwise>
                         null,
                  </otherwise>
           </choose>
        <choose>
            <when test="nexttime != null">
                #{nexttime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="adduid != null">
                #{adduid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="addtime != null">
                #{addtime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="upduid != null">
                #{upduid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
        <when test="updtime != null">
            #{updtime},
        </when>
        <otherwise>
            null,
        </otherwise>
         </choose>
        <choose>
            <when test="status != null">
                #{status},
            </when>
            <otherwise>
                1,
            </otherwise>
        </choose>
        <choose>
            <when test="summary != null">
                #{summary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
           )
    </insert>


    <select id="getProject" parameterType="java.util.Map" resultType="java.util.Map">
        select
        planid,
        typeid,
        cid,
        projectid,
        uid,
        region,
        handletime,
        servicetype,
        personid,
        person,
        telphone,
        context,
        servicecontent,
        needres,
        attach,
        remark,
        times,
        result,
        nexttime,
        adduid,
        addtime,
        upduid,
        updtime,
        status,
        summary
        from
        tb_company_service
        where status='1'
        <if test="cid!=null and cid!=''">
            and cid=#{cid}
        </if>
        <if test="projectid!=null and projectid!=''">
            and projectid=#{projectid}
        </if>
        LIMIT #{pagesize}
        OFFSET #{pageno}
    </select>

    <!--获取所有的我服务的业主的总数-->
    <select id="queryCompanyServiceCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        count(1)
        from
        (
        select
        distinct
        projectid
        from
        tb_company_service
        where
        uid =#{uid}
        ) as sercive
    </select>

    <!--获取所有的我服务的业主-->
    <select id="queryCompanyServiceList" parameterType="java.util.Map" resultType="java.util.Map">
        select
        distinct
        projectid
        from
        tb_company_service
        where
        uid =#{uid}
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>

      <!--获取所有的我服务的业主项目的次数-->
    <select id="queryServiceCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        count(1)
        from
        tb_company_service
        where
        cid = #{cid}
        <if test="projectid != null and projectid != ''">
            and projectid = #{projectid}
        </if>
    </select>

    <insert id="saveComanyService" parameterType="java.util.Map">
        insert
        into
        tb_company_service
        (
        planid,
        typeid,
        cid,
        projectid,
        uid,
        region,
        handletime,
        servicetype,
        personid,
        person,
        telphone,
        context,
        servicecontent,
        needres,
        attach,
        remark,
        times,
        result,
        nexttime,
        adduid,
        addtime,
        upduid,
        updtime,
        status,
        summary
        )values(
        <choose>
            <when test="planid != null">
                #{planid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="typeid != null">
                #{typeid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="cid != null">
                #{cid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="projectid != null">
                #{projectid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="uid != null">
                #{uid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="region != null">
                #{region},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="handletime != null">
                #{handletime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="servicetype != null">
                #{servicetype},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="personid != null">
                #{personid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="person != null">
                #{person},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="telphone != null">
                #{telphone},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="context != null">
                #{context},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="servicecontent != null">
                #{servicecontent},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="needres != null">
                #{needres},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="attach != null">
                #{attach},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="remark != null">
                #{remark},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="times != null">
                #{times},
            </when>
            <otherwise>
                null ,
            </otherwise>
        </choose>
        <choose>
            <when test="result != null">
                #{result},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="nexttime != null">
                #{nexttime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="adduid != null">
                #{adduid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="addtime != null">
                #{addtime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="upduid != null">
                #{upduid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="updtime != null">
                #{updtime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="status != null">
                #{status},
            </when>
            <otherwise>
                1,
            </otherwise>
        </choose>
        <choose>
            <when test="summary != null">
                #{summary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
        )
    </insert>

    <!--  修改服务跟进   -->
    <update id="upComanyService" parameterType="java.util.Map" >
        update tb_company_service set updtime = #{updtime}
        <choose><when test="upduid != null">,upduid  = #{upduid}</when></choose>
        <choose><when test="uid != null">,uid  = #{uid}</when></choose>
        <choose><when test="region != null">,region  = #{region}</when></choose>
        <choose><when test="servicetype != null">,servicetype  = #{servicetype}</when></choose>
        <choose><when test="personid != null">,personid  = #{personid}</when></choose>
        <choose><when test="person != null">,person  = #{person}</when></choose>
        <choose><when test="telphone != null">,telphone  = #{telphone}</when></choose>
        <choose><when test="context != null">,context  = #{context}</when></choose>
        <choose><when test="servicecontent != null">,servicecontent  = #{servicecontent}</when></choose>
        <choose><when test="needres != null">,needres  = #{needres}</when></choose>
        <choose><when test="attach != null">,attach  = #{attach}</when></choose>
        <choose><when test="remark != null">,remark  = #{remark}</when></choose>
        <choose><when test="times != null">,times  = #{times}</when></choose>
        <choose><when test="result != null">,result  = #{result}</when></choose>
        <choose><when test="nexttime != null">,nexttime  = #{nexttime}</when></choose>
        where  cid = #{cid}
        <if test="projectid != null and projectid != ''">
            and projectid = #{projectid}
        </if>
    </update>

    <!--获取所有的我服务的业主的总数-->
    <select id="queryServiceListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        count(1)
        from
        tb_company_service
        where
        cid = #{cid}
        <if test="projectid != null and projectid != ''">
            and projectid = #{projectid}
        </if>
    </select>

    <!--CRM-销售业主-我服务的业主-服务记录1-显示我服务的所有记录-->
    <select id="queryServiceList" parameterType="java.util.Map" resultType="java.util.Map">
        select
        planid,
        cid,
        projectid,
        uid,
        handletime,
        servicetype,
        personid,
        person,
        telphone,
        context,
        servicecontent,
        needres,
        attach,
        times,
        result,
        nexttime,
        addtime
        from
        tb_company_service
        where
        cid = #{cid}
        <if test="projectid != null and projectid != ''">
            and projectid = #{projectid}
        </if>
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>

    <select id="queryServiceListGroupProject" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            projectid,
            addtime
        FROM
            tb_company_service
        WHERE
            status = '1'
            AND typeid = '2'
        <if test="projectid != null and projectid != ''">
            and projectid = #{projectid}
            and typeid = '2'
        </if>
            <if test="uid != null and uid != ''">
                and uid = #{uid}
                and typeid = '2'
            </if>
            <if test="pagesize != null and pagesize != ''">
                limit
                #{pagesize}
                offset
                #{pageno}
            </if>

    </select>
    <select id="queryServiceCountGroup" parameterType="java.util.Map" resultType="java.lang.Integer">
       SELECT count(1) FROM
         tb_company_service
        WHERE
            status = '1'
            AND typeid = '2'


    </select>

    <!--获取我服务的项目-->
    <select id="queryMyProjectList" parameterType="java.util.Map" resultType="java.util.Map">
        select projectid, addtime from tb_company_service where
        status = '1'
        <if test="uid!= null and uid != ''">
            and  uid = #{uid}
        </if>
        <if test="starttime != null and starttime != ''">
            and addtime &gt;= #{starttime}
        </if>
        <if test="endtime != null and endtime != ''">
            and addtime &lt;= #{endtime}
        </if>
        <if test="projectid != null and projectid != ''">
            and projectid = #{projectid}
        </if>
        <if test="pagesize != null and pagesize != ''">
            limit #{pagesize}
            offset #{pageno}
        </if>
    </select>
    <!--获取我服务的项目数-->
    <select id="queryMyProjectListCount" parameterType="java.util.Map" resultType="java.lang.Integer">

        select count(1) from tb_company_service where uid = #{uid} and status = '1'
        <if test="starttime != null and starttime != ''">
            and addtime &gt;= #{starttime}
        </if>
        <if test="endtime != null and endtime != ''">
            and addtime &lt;= #{endtime}
        </if>
        <if test="projectid != null and projectid != ''">
            and projectid = #{projectid}
        </if>

    </select>


    <select id="getHandleItem" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        a.uid,
        a.personid,
        to_char(to_timestamp(a.handletime / 1000), 'yyyy-MM-dd HH24:MI') as handletime,
        a.context,
        a.needres,
        a.attach,
        a.summary,
        a.projectid,
        a.cid,
        a.region,
        a.person
        from
        tb_company_service a
        where 1=1
        <if test="uid != null and uid != ''">
            and a.uid = #{uid}
        </if>
        <if test="beginTime != null and beginTime != ''">
            and a.handletime &gt;= #{beginTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and a.handletime &lt;= #{endTime}
        </if>
        <if test="projectid != null and projectid != ''">
            and a.projectid is not null
        </if>
    </select>

    <!--查询给项目分配的售后人员-->
    <select id="getCompanyService" parameterType="java.util.Map" resultType="java.util.Map">
        select
        *
        from
        tb_company_service
        where
        typeid = '2'
        <if test="projectid != null and projectid != ''">
           and projectid = #{projectid}
        </if>
    </select>

    <!--修改分配项目的售后人员-->
    <update id="updateCompanyService" parameterType="java.util.Map">
        update tb_company_service set updtime = #{updtime}
        <choose><when test="upduid != null">,upduid  = #{upduid}</when></choose>
        <choose><when test="uid != null">,uid  = #{uid}</when></choose>
        <choose><when test="region != null">,region  = #{region}</when></choose>
        <choose><when test="servicetype != null">,servicetype  = #{servicetype}</when></choose>
        <choose><when test="personid != null">,personid  = #{personid}</when></choose>
        <choose><when test="person != null">,person  = #{person}</when></choose>
        <choose><when test="telphone != null">,telphone  = #{telphone}</when></choose>
        <choose><when test="context != null">,context  = #{context}</when></choose>
        <choose><when test="servicecontent != null">,servicecontent  = #{servicecontent}</when></choose>
        <choose><when test="needres != null">,needres  = #{needres}</when></choose>
        <choose><when test="attach != null">,attach  = #{attach}</when></choose>
        <choose><when test="remark != null">,remark  = #{remark}</when></choose>
        <choose><when test="times != null">,times  = #{times}</when></choose>
        <choose><when test="result != null">,result  = #{result}</when></choose>
        <choose><when test="nexttime != null">,nexttime  = #{nexttime}</when></choose>
        where  typeid = '2'  and projectid = #{projectid}
    </update>
</mapper>
