<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.operate.dao">


    <!-- 添加报销审核记录-->
    <insert id="addConsumeVerify" parameterType="java.util.List">
        insert into tb_consume_verify (travelid,ouid,idx,addtime,verifytime,remark,status,summary)
        values
        <foreach collection="list" index="index" item="verify" separator=",">
          #{verify.travelid},
          #{verify.ouid},
            select count(1)+#{index} from tb_consume_verify,
            <choose>
                <when test="verify.addtime!='' and verify.addtime !=null">
                    #{verify.addtime},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="verify.verifytime!='' and verify.verifytime !=null">
                    #{verify.verifytime},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="verify.status!='' and verify.status !=null">
                    #{verify.status},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="verify.summary!='' and verify.summary !=null">
                    #{verify.summary}
                </when>
                <otherwise>
                    null
                </otherwise>
            </choose>
        </foreach>
    </insert>


    <!-- 设置审核状态-->
    <update id="updateVerifyStatus" parameterType="java.util.Map">
        update tb_consume_verify set status=#{status} where travelid=#{travelid} and ouid=#{ouid}
    </update>
</mapper>