<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.operate.dao.TbHandleItemMapper">

    <select id="queryHandleItem" parameterType="java.util.Map" resultType="java.util.Map">
        select
        a.uid,
        a.personid,
        to_char(to_timestamp(a.handletime / 1000), 'yyyy-MM-dd HH24:MI') as handletime,
        a.context,
        a.needres,
        a.invest,
        a.attach,
        a.summary,
        a.projectid,
        a.nexttime,
        a.cid,
        a.region,
        a.person
        from
        tb_handle_item a
        where  1=1
        <if test="uid != null and uid != ''">
           and uid = #{uid}
        </if>
        <if test="beginTime != null and beginTime != ''">
            and a.handletime &gt;= #{beginTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and a.handletime &lt;= #{endTime}
        </if>
        <if test="projectid != null and projectid != ''">
            and a.projectid is not null
        </if>
    </select>


    <!--所有业主-销售统计分许-根据页面的超链接进行查询-->
    <select id="getHandleItem" parameterType="java.util.Map" resultType="java.util.Map">
      select
        a.uid,
        a.personid,
        to_char(to_timestamp(a.handletime / 1000), 'yyyy-MM-dd HH24:MI') as handletime,
        a.context,
        a.needres,
        a.invest,
        a.attach,
        a.summary,
        a.projectid,
        a.nexttime,
        a.cid,
        a.region,
        a.person
        from
        tb_handle_item a
        where 1=1
        <if test="uid != null and uid != ''">
           and uid = #{uid}
        </if>
        <if test="personid != null and personid != ''">
           and personid = #{personid}
        </if>
        <if test="cid != null and cid != ''">
           and cid = #{cid}
        </if>
        <if test="projectid != null and projectid != ''">
           and projectid = #{projectid}
        </if>
    </select>

</mapper>