<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.operate.dao.TbHandItemMapper">

    <!--  查询服务详情记录   -->
    <select id="queryTbHandleItem" resultType="java.util.Map" parameterType="java.util.Map">
        select * from tb_hendle_item where status = '1'
        <choose><when test="projectid != null">and projected = #{projected}</when></choose>
        <choose><when test="uid != null">and uid = #{uid}</when></choose>
        <choose><when test="cid != null">and cid = #{cid}</when></choose>
        limit #{pagesize}  offset #{pageno}
    </select>

    <!--  查询服务记录详情总数   -->
    <select id="queryTbHandleItemCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from tb_hendle_item where status = '1'
        <choose><when test="projectid != null">and projected = #{projected}</when></choose>
        <choose><when test="uid != null">and uid = #{uid}</when></choose>
        <choose><when test="cid != null">and cid = #{cid}</when></choose>
    </select>

    <!--  查询服务记录   -->
    <select id="queryTbCompanyService" resultType="java.util.Map" parameterType="java.util.Map">
        select * from tb_company_service where status = '1'
        <choose><when test="uid != null">and uid in (#{uid})</when></choose>
        limit #{pagesize}  offset #{pageno}
    </select>

    <!--  查询服务记录总数   -->
    <select id="queryTbCompanyServiceCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from tb_company_service where status = '1'
        <choose><when test="uid != null">and uid in (#{uid})</when></choose>
    </select>

</mapper>