<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.operate.dao.TbHandleMapper">
    <!--点击业主/项目/跟进信息获取项目下的跟进信息的总数-->
    <select id="queryHandlecItemCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        count(1)
        from
        tb_handle_item
        where
        cid=#{cid}
    </select>

    <!--点击业主/项目/跟进信息获取项目下的跟进信息-->
    <select id="queryHandlecItem" parameterType="java.util.Map" resultType="java.util.Map">
        select
        planid,
        typeid,
        cid,
        projectid,
        uid,
        region,
        handletime,
        personid,
        person,
        context,
        needres,
        planinvest,
        invest,
        output,
        planendtime,
        planoutput,
        attach,
        travelid,
        nexttime,
        summary
        from
        tb_handle_item
        where
        cid=#{cid}
        <if test="projected!=null and projected!=''">and projectid =#{projected}</if>
        <if test="uid!=null and uid!=''">and uid =#{uid}</if>
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>

    <!--CRM-销售业主-公海-业主下的人员14-点击业主/项目/跟进信息中点击添加跟进信息-->
    <insert id="insertHandlecItem" parameterType="java.util.Map">
        INSERT INTO tb_handle_item
        (planid, typeid, cid, projectid, uid, region, handletime, personid, person, context, needres,
        invest, output, planendtime, planoutput, attach, travelid, nexttime, ouid, addtime, status)
        VALUES
        (
        #{planid},
        #{typeid},
        #{cid},
        #{projected},
        #{adduid},
        #{region},
        <choose>
            <when test=" handletime != null and handletime !=''">
                ${handletime},
            </when>
            <otherwise>
                #{addtime},
            </otherwise>
        </choose>
        #{personid},
        #{person},
        #{context},
        #{needres},
        #{invest},
        #{output},
        <choose>
            <when test=" planendtime != null and planendtime !=''">
                ${planendtime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{planoutput},
        #{attach},
        #{travelid},
        <choose>
            <when test=" nexttime != null and nexttime !=''">
                ${nexttime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{adduid},
        #{addtime},
        #{status}
        );
        INSERT INTO tb_handle_plan_person
        (cid, planid, uid, weight, dutydesc, ouid, addtime, status)
        VALUES
        (
        #{cid},
        #{planid},
        #{adduid},
        <choose>
            <when test=" weight != null and weight !=''">
                ${weight},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{dutydesc},
        #{adduid},
        #{addtime},
        #{status}
        );
    </insert>

    <!-- 点击业主/项目/跟进信息中点击修改跟进信息 -->
    <update id="updateHandlecItem" parameterType="java.util.Map">
        UPDATE
        tb_handle_item
        SET
        context =#{context},
        <if test="attach!=null and attach!=''">attach =#{attach},</if>
        updtime = #{updtime},
        ouid = #{ouid}
        WHERE
        cid=#{cid}
        and
        projectid = #{projected}
        and
        planid = #{planid}
    </update>
</mapper>