<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jzb.operate.dao.TbTravelProduceMapper">

	<select id="get" resultType="java.util.Map">
		select  id , prid , prname , idx , prindex , addtime , adduid , status , summary  from tb_travel_produce where id = #{value}
	</select>

	<select id="list" resultType="java.util.Map">

		select  id , prid , prname , idx , prindex , addtime , adduid , status , summary  from tb_travel_produce
        <where>  
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="prid != null and prid != ''"> and prid = #{prid} </if>
		  <if test="prname != null and prname != ''"> and prname = #{prname} </if>
		  <if test="idx != null and idx != ''"> and idx = #{idx} </if>
		  <if test="prindex != null and prindex != ''"> and prindex = #{prindex} </if>
		  <if test="adduid != null and adduid != ''"> and adduid = #{adduid} </if>
		  <if test="status != null and status != ''"> and status = #{status} </if>
		  <if test="summary != null and summary != ''"> and summary = #{summary} </if>
		</where>

		<if test="offset != null and limit != null">
			limit #{limit} offset #{offset}
		</if>
	</select>


	<select id="queryProduce" resultType="java.util.Map">

		select    prname , idx , prindex , summary  from tb_travel_produce
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="prid != null and prid != ''"> and prid = #{prid} </if>
			<if test="prname != null and prname != ''"> and prname = #{prname} </if>
			<if test="idx != null and idx != ''"> and idx = #{idx} </if>
			and prindex in
			<foreach collection="prindex" item="item" separator="," open="(" close=")">
				#{item}
			</foreach>
			<if test="addtime != null and addtime != ''"> and addtime = #{addtime} </if>
			<if test="adduid != null and adduid != ''"> and adduid = #{adduid} </if>
			<if test="status != null and status != ''"> and status = #{status} </if>
			<if test="summary != null and summary != ''"> and summary = #{summary} </if>
		</where>

		<if test="offset != null and limit != null">
			limit #{limit} offset #{offset}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from tb_travel_produce
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="prid != null and prid != ''"> and prid = #{prid} </if>
		  		  <if test="prname != null and prname != ''"> and prname = #{prname} </if>
		  		  <if test="idx != null and idx != ''"> and idx = #{idx} </if>
		  		  <if test="prindex != null and prindex != ''"> and prindex = #{prindex} </if>
		  		  <if test="addtime != null and addtime != ''"> and addtime = #{addtime} </if>
		  		  <if test="adduid != null and adduid != ''"> and adduid = #{adduid} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="summary != null and summary != ''"> and summary = #{summary} </if>
		  </where>
	</select>
	 
	<insert id="save" parameterType="java.util.Map">
		insert into tb_travel_produce
		(
			 prid , 
			 prname , 
			 idx , 
			 prindex , 
			 addtime , 
			 adduid , 
			 status , 
			 summary 
		)
		values
		(
			#{prid}, 
			#{prname}, 
			#{idx}, 
			#{prindex}, 
			#{addtime}, 
			#{adduid}, 
			#{status}, 
			#{summary}
		)
	</insert>
	 
	<update id="update" parameterType="java.util.Map">
		update tb_travel_produce 
		<set>
			<if test="prname != null"> prname  = #{prname}, </if>
			<if test="idx != null"> idx  = #{idx}, </if>
			<if test="prindex != null"> prindex  = #{prindex}, </if>
			<if test="addtime != null"> addtime  = #{addtime}, </if>
			<if test="adduid != null"> adduid  = #{adduid}, </if>
			<if test="status != null"> status  = #{status}, </if>
			<if test="summary != null"> summary  = #{summary}</if>
		</set>
		where prid = #{prid}
	</update>
	
	<delete id="remove">
		delete from tb_travel_produce where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from tb_travel_produce where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>