<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.operate.dao.TbTravelConsumeMapper">


    <!-- 添加出差报销记录-->
    <insert id="addTravelConsume" parameterType="java.util.List">
        insert into tb_travel_consume(travelid,uid,applytime,fare,expenses,payfare,payexpenses,persons,status,summary)
        values
        <foreach collection="list" item="consume" separator=",">
        (
          #{consume.travelid},
            #{consume.uid},
            <choose>
                <when test="consume.applytime!=null and consume.applytime!=''">
                    #{consume.applytime},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="consume.fare != null and consume.fare!=''">
                    #{consume.fare},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="consume.expenses != null and consume.expenses!=''">
                    #{consume.expenses},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="consume.payfare != null and consume.payfare!=''">
                    #{consume.payfare},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="consume.payexpenses != null and consume.payexpenses!=''">
                    #{consume.payexpenses},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="consume.persons != null and consume.persons!=''">
                    #{consume.persons},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="consume.status != null and consume.status!=''">
                    #{consume.status},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="consume.summary != null and consume.summary!=''">
                    #{consume.summary},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>
</mapper>