<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.operate.dao.TbTravelMapper">

    <!--  查询出差记录   -->
    <select id="queryAllTravelList" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT travelid,uname,fare,expenses,orgtime,endtime,trip,addtime,adduid,aptype,ccuid,"sum"
        from tb_travel_record where status='1' and uid=#{uid}
        <choose><when test="travelid != null and travelid != ''">and travelid = #{travelid} </when></choose>
        <choose><when test="orgtime != null and orgtime != ''">and orgtime &gt;= #{orgtime} </when></choose>
        <choose><when test="endtime != null and endtime != ''">and endtime &lt;= #{endtime} </when></choose>
         limit #{pagesize}  offset #{pageno}
    </select>
    

    <!--查询出差记录总条数-->
    <select id="countAllList" resultType="int" parameterType="java.util.Map">
        SELECT count(1)
        from tb_travel_record where status='1'and uid=#{uid}
    </select>


    <!--  查询出差记录详情   -->
    <select id="queryTravelList" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT * from tb_travel_record_deta where status='1'
        <choose><when test="uid != null and uid != ''">and uid = #{uid}</when></choose>
        <choose><when test="travelid != null and travelid != ''">and travelid = #{travelid}</when></choose>
        <choose><when test="orgtime != null and orgtime != ''">and <![CDATA[orgtime>=#{orgtime} ]]></when></choose>
        <choose><when test="endtime != null and endtime != ''">and <![CDATA[endtime<=#{endtime} ]]></when></choose>
        limit #{pagesize}  offset #{pageno}
    </select>

    <!--  查询出差记录详情总条数  -->
    <select id="countTravelList" resultType="int" parameterType="java.util.Map">
        SELECT count(1) from tb_travel_record_deta where status='1'
        <choose><when test="uid != null and uid != ''">and uid = #{uid}</when></choose>
        <choose><when test="travelid != null and travelid != ''">and travelid = #{travelid}</when></choose>
        <choose><when test="orgtime != null and orgtime != ''">and <![CDATA[orgtime>=#{orgtime} ]]></when></choose>
        <choose><when test="endtime != null and endtime != ''">and <![CDATA[endtime<=#{endtime} ]]></when></choose>
    </select>

    <!--  查询出差详情记录   -->
    <select id="queryTravelListDeta" resultType="java.util.Map" parameterType="java.util.Map">
    select * from tb_travel_record_deta where status='1'
    <choose><when test="uid != null and uid != ''">and uid = #{uid}</when></choose>
    <choose><when test="travelid != null and travelid != ''">and travelid = #{travelid}</when></choose>
    <choose><when test="deid != null and deid != ''">and deid = #{deid}</when></choose>
</select>

    <!--  查询出差详情记录条数   -->
    <select id="countTravelListDeta" resultType="int" parameterType="java.util.Map">
        select count(*) from tb_travel_record_deta where status='1'
        <choose><when test="uid != null and uid != ''">and uid = #{uid}</when></choose>
        <choose><when test="travelid != null and travelid != ''">and travelid = #{travelid}</when></choose>
        <choose><when test="deid != null and deid != ''">and deid = #{deid}</when></choose>
    </select>

    <!--查询出差资料-->
    <select id="queryTravelData" resultType="java.util.Map" parameterType="java.util.Map">
        select * from  tb_travel_data where deid=#{deid}
    </select>

    <!--查询出差情报表-->
    <select id="queryTravelInfo" resultType="java.util.Map" parameterType="java.util.Map">
        select * from  tb_travel_info where deid=#{deid}
        <choose><when test="cid != null and cid != ''">and cid=#{cid}</when></choose>
        <choose><when test="projectid != null and projectid != ''">and projectid=#{projectid}</when></choose>
    </select>

    <!--查询出差情报表-->
    <select id="countTravelInfo" resultType="int" parameterType="java.util.Map">
        select count(1) from  tb_travel_info where deid=#{deid}
        <choose><when test="cid != null and cid != ''">and cid=#{cid}</when></choose>
        <choose><when test="projectid != null and projectid != ''">and projectid=#{projectid}</when></choose>
    </select>

    <!--查询审批状态-->
    <select id="queryTravelApproval" resultType="java.util.Map" parameterType="java.util.Map">
        select  trstatus from tb_travel_approval where status = '1' and travelid = #{travelid}
    </select>

    <!--查询产出情况-->
    <select id="queryTravelProduce" resultType="java.util.Map" parameterType="java.util.Map">
        select  * from tb_travel_produce where status = '1'
    </select>


    <!--根据出差id修改出差报销金额-->
    <update id="updateTravelFare"  parameterType="java.util.Map">
        update tb_travel_record
        <trim prefix="set" suffixOverrides=","
              suffix="where travelid=#{travelid}">
            <if test="fare != null and fare != '' ">fare=#{fare},</if>
            <if test="expenses != null and expenses != '' ">expenses=#{expenses},</if>
            <if test="sum != null and sum != '' ">"sum"=#{sum}</if>
        </trim>
    </update>

    <!-- 设置删除状态-->
    <update id="setDeleteStatus" parameterType="java.util.Map">
        update tb_travel_record set status=2  where   travelid=#{travelid}
    </update>




</mapper>