<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.operate.dao.TbTravelMapper">

    <!--  查询出差记录   -->
    <select id="queryTravelList" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT travelid,uname,fare,expenses,orgtime,endtime,trip,addtime,adduid,aptype,ccuid
        from tb_travel_record where status='1'and uid=#{uid} and travelid = #{travelid}
        <choose><when test="orgtime != null and orgtime != ''"><![CDATA[orgtime>=#{orgtime} ]]></when></choose>
        <choose><when test="endtime != null and endtime != ''"><![CDATA[endtime<=#{endtime} ]]></when></choose>
         limit #{pagesize}  offset #{pageno}
    </select>


    <!--  查询出差详情记录   -->
    <select id="queryTravelListDeta" resultType="java.util.Map" parameterType="java.util.Map">
        select deid,travelid,uid,cid,projectid,did,trpeers,trregion,cid,trtime,trtype,trgoal,trdefense,produce,amount,fare,expenses addtime,adduid,updtime,upduid
        from tb_travel_record_deta where  deid = #{deid}
        limit #{pagesize}  offset #{pageno}
    </select>

    <!--查询出差资料-->
    <select id="queryTravelData" resultType="java.util.Map" parameterType="java.util.Map">
        select * from  tb_travel_data where deid=#{deid}
    </select>

    <!--查询出差情报表-->
    <select id="queryTravelInfo" resultType="java.util.Map" parameterType="java.util.Map">
        select * from  tb_travel_info where deid=#{deid}
        <choose><when test="cid != null and cid != ''">and cid=#{cid}</when></choose>
        <choose><when test="projectid != null and projectid != ''">and projectid=#{projectid}</when></choose>
    </select>


    <!--根据出差id修改出差报销金额-->
    <update id="updateTravelFare"  parameterType="java.util.Map">
        update tb_travel_record set
            <if test="fare != null and fare != '' ">fare=#{fare},</if>
            <if test="expenses != null and expenses != '' ">expenses=#{expenses}</if>
        where travelid=#{travelid}
    </update>

    <!-- 设置删除状态-->
    <update id="setDeleteStatus" parameterType="java.util.Map">
        update tb_travel_record set status=2  where   travelid=#{travelid}
    </update>


</mapper>