<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jzb.operate.dao.TbTravelInfoMapper">

    <select id="get" resultType="java.util.Map">
		select  id , travelid , deid , inid , cid , cname , supervise , prodesc , prolist , projectid , projectname , tendercompany , tendername , projecttype , promail , projectras , tenderphone , tenderresultcompany , tendertime , tenderagent , relation , idx , podeperson , podephone , podejob , podenature , npodeperson , npodephone , npodejob , npodenature , setb , sepr , seli , recname , reluname , relphone , brandname , contrast , mail , nreluname , nrelphone , nbrandname , ncontrast , nmail , reshid , reshname , reshphone , lineuname , linejob , linephone , linenature , adduid , addtime , upduid , updtime , status , summary  from tb_travel_info where id = #{value}
	</select>

    <select id="list" resultType="java.util.Map">
        select id ,
        trim(travelid) as travelid ,
        trim(deid) as deid,
        trim(inid) as inid,trim(cid) as cid,
        cname, orgrelation,supervise , prodesc ,
        COALESCE(prolist,'') as prolist ,
        trim(projectid) as projectid,
        projectname , tendercompany , tendername , projecttype , promail , projectras , tenderphone ,
        tenderresultcompany , tendertime , tenderagent , relation , idx , podeperson , podephone , podejob , podenature
        , npodeperson , npodephone , npodejob , npodenature , setb , sepr , seli , recname , reluname , relphone ,
        brandname , contrast , mail , nreluname , nrelphone , nbrandname , ncontrast , nmail , trim(reshid) as reshid,
        reshname , reshphone , lineuname , linejob , linephone , linenature , adduid , addtime , upduid , updtime ,
        status , summary from tb_travel_info
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="travelid != null and travelid != ''">and travelid = #{travelid}</if>
            <if test="deid != null and deid != ''">and deid = #{deid}</if>
            <if test="inid != null and inid != ''">and inid = #{inid}</if>
            <if test="cid != null and cid != ''">and cid = #{cid}</if>
            <if test="cname != null and cname != ''">and cname = #{cname}</if>
            <if test="supervise != null and supervise != ''">and supervise = #{supervise}</if>
            <if test="prodesc != null and prodesc != ''">and prodesc = #{prodesc}</if>
            <if test="prolist != null and prolist != ''">and prolist = #{prolist}</if>
            <if test="projectid != null and projectid != ''">and projectid = #{projectid}</if>
            <if test="projectname != null and projectname != ''">and projectname = #{projectname}</if>
            <if test="tendercompany != null and tendercompany != ''">and tendercompany = #{tendercompany}</if>
            <if test="tendername != null and tendername != ''">and tendername = #{tendername}</if>
            <if test="projecttype != null and projecttype != ''">and projecttype = #{projecttype}</if>
            <if test="promail != null and promail != ''">and promail = #{promail}</if>
            <if test="projectras != null and projectras != ''">and projectras = #{projectras}</if>
            <if test="tenderphone != null and tenderphone != ''">and tenderphone = #{tenderphone}</if>
            <if test="tenderresultcompany != null and tenderresultcompany != ''">and tenderresultcompany =
                #{tenderresultcompany}
            </if>
            <if test="tendertime != null and tendertime != ''">and tendertime = #{tendertime}</if>
            <if test="tenderagent != null and tenderagent != ''">and tenderagent = #{tenderagent}</if>
            <if test="relation != null and relation != ''">and relation = #{relation}</if>
            <if test="idx != null and idx != ''">and idx = #{idx}</if>
            <if test="podeperson != null and podeperson != ''">and podeperson = #{podeperson}</if>
            <if test="podephone != null and podephone != ''">and podephone = #{podephone}</if>
            <if test="podejob != null and podejob != ''">and podejob = #{podejob}</if>
            <if test="podenature != null and podenature != ''">and podenature = #{podenature}</if>
            <if test="npodeperson != null and npodeperson != ''">and npodeperson = #{npodeperson}</if>
            <if test="npodephone != null and npodephone != ''">and npodephone = #{npodephone}</if>
            <if test="npodejob != null and npodejob != ''">and npodejob = #{npodejob}</if>
            <if test="npodenature != null and npodenature != ''">and npodenature = #{npodenature}</if>
            <if test="setb != null and setb != ''">and setb = #{setb}</if>
            <if test="sepr != null and sepr != ''">and sepr = #{sepr}</if>
            <if test="seli != null and seli != ''">and seli = #{seli}</if>
            <if test="recname != null and recname != ''">and recname = #{recname}</if>
            <if test="reluname != null and reluname != ''">and reluname = #{reluname}</if>
            <if test="relphone != null and relphone != ''">and relphone = #{relphone}</if>
            <if test="brandname != null and brandname != ''">and brandname = #{brandname}</if>
            <if test="contrast != null and contrast != ''">and contrast = #{contrast}</if>
            <if test="mail != null and mail != ''">and mail = #{mail}</if>
            <if test="nreluname != null and nreluname != ''">and nreluname = #{nreluname}</if>
            <if test="nrelphone != null and nrelphone != ''">and nrelphone = #{nrelphone}</if>
            <if test="nbrandname != null and nbrandname != ''">and nbrandname = #{nbrandname}</if>
            <if test="ncontrast != null and ncontrast != ''">and ncontrast = #{ncontrast}</if>
            <if test="nmail != null and nmail != ''">and nmail = #{nmail}</if>
            <if test="reshid != null and reshid != ''">and reshid = #{reshid}</if>
            <if test="reshname != null and reshname != ''">and reshname = #{reshname}</if>
            <if test="reshphone != null and reshphone != ''">and reshphone = #{reshphone}</if>
            <if test="lineuname != null and lineuname != ''">and lineuname = #{lineuname}</if>
            <if test="linejob != null and linejob != ''">and linejob = #{linejob}</if>
            <if test="linephone != null and linephone != ''">and linephone = #{linephone}</if>
            <if test="linenature != null and linenature != ''">and linenature = #{linenature}</if>
            <if test="adduid != null and adduid != ''">and adduid = #{adduid}</if>
            <if test="addtime != null and addtime != ''">and addtime = #{addtime}</if>
            <if test="upduid != null and upduid != ''">and upduid = #{upduid}</if>
            <if test="updtime != null and updtime != ''">and updtime = #{updtime}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="summary != null and summary != ''">and summary = #{summary}</if>
        </where>
        <if test="offset != null and limit != null">
            limit #{limit} offset #{offset}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from tb_travel_info
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="travelid != null and travelid != ''">and travelid = #{travelid}</if>
            <if test="deid != null and deid != ''">and deid = #{deid}</if>
            <if test="inid != null and inid != ''">and inid = #{inid}</if>
            <if test="cid != null and cid != ''">and cid = #{cid}</if>
            <if test="cname != null and cname != ''">and cname = #{cname}</if>
            <if test="supervise != null and supervise != ''">and supervise = #{supervise}</if>
            <if test="prodesc != null and prodesc != ''">and prodesc = #{prodesc}</if>
            <if test="prolist != null and prolist != ''">and prolist = #{prolist}</if>
            <if test="projectid != null and projectid != ''">and projectid = #{projectid}</if>
            <if test="projectname != null and projectname != ''">and projectname = #{projectname}</if>
            <if test="tendercompany != null and tendercompany != ''">and tendercompany = #{tendercompany}</if>
            <if test="tendername != null and tendername != ''">and tendername = #{tendername}</if>
            <if test="projecttype != null and projecttype != ''">and projecttype = #{projecttype}</if>
            <if test="promail != null and promail != ''">and promail = #{promail}</if>
            <if test="projectras != null and projectras != ''">and projectras = #{projectras}</if>
            <if test="tenderphone != null and tenderphone != ''">and tenderphone = #{tenderphone}</if>
            <if test="tenderresultcompany != null and tenderresultcompany != ''">and tenderresultcompany =
                #{tenderresultcompany}
            </if>
            <if test="tendertime != null and tendertime != ''">and tendertime = #{tendertime}</if>
            <if test="tenderagent != null and tenderagent != ''">and tenderagent = #{tenderagent}</if>
            <if test="relation != null and relation != ''">and relation = #{relation}</if>
            <if test="idx != null and idx != ''">and idx = #{idx}</if>
            <if test="podeperson != null and podeperson != ''">and podeperson = #{podeperson}</if>
            <if test="podephone != null and podephone != ''">and podephone = #{podephone}</if>
            <if test="podejob != null and podejob != ''">and podejob = #{podejob}</if>
            <if test="podenature != null and podenature != ''">and podenature = #{podenature}</if>
            <if test="npodeperson != null and npodeperson != ''">and npodeperson = #{npodeperson}</if>
            <if test="npodephone != null and npodephone != ''">and npodephone = #{npodephone}</if>
            <if test="npodejob != null and npodejob != ''">and npodejob = #{npodejob}</if>
            <if test="npodenature != null and npodenature != ''">and npodenature = #{npodenature}</if>
            <if test="setb != null and setb != ''">and setb = #{setb}</if>
            <if test="sepr != null and sepr != ''">and sepr = #{sepr}</if>
            <if test="seli != null and seli != ''">and seli = #{seli}</if>
            <if test="recname != null and recname != ''">and recname = #{recname}</if>
            <if test="reluname != null and reluname != ''">and reluname = #{reluname}</if>
            <if test="relphone != null and relphone != ''">and relphone = #{relphone}</if>
            <if test="brandname != null and brandname != ''">and brandname = #{brandname}</if>
            <if test="contrast != null and contrast != ''">and contrast = #{contrast}</if>
            <if test="mail != null and mail != ''">and mail = #{mail}</if>
            <if test="nreluname != null and nreluname != ''">and nreluname = #{nreluname}</if>
            <if test="nrelphone != null and nrelphone != ''">and nrelphone = #{nrelphone}</if>
            <if test="nbrandname != null and nbrandname != ''">and nbrandname = #{nbrandname}</if>
            <if test="ncontrast != null and ncontrast != ''">and ncontrast = #{ncontrast}</if>
            <if test="nmail != null and nmail != ''">and nmail = #{nmail}</if>
            <if test="reshid != null and reshid != ''">and reshid = #{reshid}</if>
            <if test="reshname != null and reshname != ''">and reshname = #{reshname}</if>
            <if test="reshphone != null and reshphone != ''">and reshphone = #{reshphone}</if>
            <if test="lineuname != null and lineuname != ''">and lineuname = #{lineuname}</if>
            <if test="linejob != null and linejob != ''">and linejob = #{linejob}</if>
            <if test="linephone != null and linephone != ''">and linephone = #{linephone}</if>
            <if test="linenature != null and linenature != ''">and linenature = #{linenature}</if>
            <if test="adduid != null and adduid != ''">and adduid = #{adduid}</if>
            <if test="addtime != null and addtime != ''">and addtime = #{addtime}</if>
            <if test="upduid != null and upduid != ''">and upduid = #{upduid}</if>
            <if test="updtime != null and updtime != ''">and updtime = #{updtime}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="summary != null and summary != ''">and summary = #{summary}</if>
        </where>
    </select>

    <insert id="save" parameterType="java.util.Map">
        insert into tb_travel_info
        (
        travelid ,
        deid ,
        inid ,
        cid ,
        cname ,
        orgrelation,
        supervise ,
        prodesc ,
        prolist ,
        projectid ,
        projectname ,
        tendercompany ,
        tendername ,
        projecttype ,
        promail ,
        projectras ,
        tenderphone ,
        tenderresultcompany ,
        tendertime ,
        tenderagent ,
        relation ,
        idx,
        podeperson ,
        podephone ,
        podejob ,
        podenature ,
        npodeperson ,
        npodephone ,
        npodejob ,
        npodenature ,
        setb ,
        sepr ,
        seli ,
        recname ,
        reluname ,
        relphone ,
        brandname ,
        contrast ,
        mail ,
        nreluname ,
        nrelphone ,
        nbrandname ,
        ncontrast ,
        nmail ,
        reshid ,
        reshname ,
        reshphone ,
        lineuname ,
        linejob ,
        linephone ,
        linenature ,
        adduid ,
        addtime ,
        status ,
        summary
        )
        values
        (
        <trim suffixOverrides=",">
            <choose>
                <when test="travelid != null and travelid !=''">
                    #{travelid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="deid != null and deid !=''">
                    #{deid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>

            <choose>
                <when test="inid != null and inid !=''">
                    #{inid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="cid != null and cid !=''">
                    #{cid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="cname != null and cname !=''">
                    #{cname},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>

            <choose>
                <when test="orgrelation != null and orgrelation !=''">
                    #{orgrelation},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="supervise != null and supervise !=''">
                    #{supervise},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="prodesc != null and prodesc !=''">
                    #{prodesc},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="prolist != null and prolist !=''">
                    #{prolist},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="projectid != null and projectid !=''">
                    #{projectid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="projectname != null and projectname !=''">
                    #{projectname},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="tendercompany != null and tendercompany !=''">
                    #{tendercompany},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="tendername != null and tendername !=''">
                    #{tendername},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="projecttype != null and projecttype !=''">
                    #{projecttype},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="promail != null and promail !=''">
                    #{promail},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="projectras != null and projectras !=''">
                    #{projectras},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="tenderphone != null and tenderphone !=''">
                    #{tenderphone},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="tenderresultcompany != null and tenderresultcompany !=''">
                    #{tenderresultcompany},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>

            <choose>
                <when test="tendertime != null and tendertime !=''">
                    #{tendertime},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="tenderagent != null and tenderagent !=''">
                    #{tenderagent},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="relation != null and relation !=''">
                    #{relation},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="idx != null and idx !=''">
                    #{idx},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="podeperson != null and podeperson !=''">
                    #{podeperson},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="podephone != null and podephone !=''">
                    #{podephone},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="podejob != null and podejob !=''">
                    #{podejob},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="podenature != null and podenature !=''">
                    #{podenature},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="npodeperson != null and npodeperson !=''">
                    #{npodeperson},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="npodephone != null and npodephone !=''">
                    #{npodephone},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="npodejob != null and npodejob !=''">
                    #{npodejob},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="npodenature != null and npodenature !=''">
                    #{npodenature},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="setb != null and setb !=''">
                    #{setb},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>

            <choose>
                <when test="sepr != null and sepr !=''">
                    #{sepr},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="seli != null and seli !=''">
                    #{seli},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="recname != null and recname !=''">
                    #{recname},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="reluname != null and reluname !=''">
                    #{reluname},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="relphone != null and relphone !=''">
                    #{relphone},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="brandname != null and brandname !=''">
                    #{brandname},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="contrast != null and contrast !=''">
                    #{contrast},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="mail != null and mail !=''">
                    #{mail},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="nreluname != null and nreluname !=''">
                    #{nreluname},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="nrelphone != null and nrelphone !=''">
                    #{nrelphone},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="nbrandname != null and nbrandname !=''">
                    #{nbrandname},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="ncontrast != null and ncontrast !=''">
                    #{ncontrast},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="nmail != null and nmail !=''">
                    #{nmail},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>

            <choose>
                <when test="reshid != null and reshid !=''">
                    #{reshid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="reshname != null and reshname !=''">
                    #{reshname},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="reshphone != null and reshphone !=''">
                    #{reshphone},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="lineuname != null and lineuname !=''">
                    #{lineuname},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="linejob != null and linejob !=''">
                    #{linejob},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="linephone != null and linephone !=''">
                    #{linephone},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="linenature != null and linenature !=''">
                    #{linenature},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="adduid != null and adduid !=''">
                    #{adduid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="addtime != null and addtime !=''">
                    #{addtime},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>

            <choose>
                <when test="status != null and status !=''">
                    #{status},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="summary != null and summary !=''">
                    #{summary}
                </when>
                <otherwise>
                    null
                </otherwise>
            </choose>
        </trim>
        )
    </insert>

    <update id="update" parameterType="java.util.Map">
        update tb_travel_info
        <set>
            <trim suffixOverrides=",">
                orgrelation = #{orgrelation},
                supervise = #{supervise},
                prodesc = #{prodesc},
                prolist = #{prolist},
                projectid = #{projectid},
                projectname = #{projectname},
                tendercompany = #{tendercompany},
                tendername = #{tendername},
                projecttype = #{projecttype},
                promail = #{promail},
                projectras = #{projectras},
                tenderphone = #{tenderphone},
                tenderresultcompany = #{tenderresultcompany},
                tendertime = #{tendertime},
                tenderagent = #{tenderagent},
                relation = #{relation},
                idx = #{idx},
                podeperson = #{podeperson},
                podephone = #{podephone},
                podejob = #{podejob},
                podenature = #{podenature},
                npodeperson = #{npodeperson},
                npodephone = #{npodephone},
                npodejob = #{npodejob},
                npodenature = #{npodenature},
                setb = #{setb},
                sepr = #{sepr},
                seli = #{seli},
                recname = #{recname},
                reluname = #{reluname},
                relphone = #{relphone},
                brandname = #{brandname},
                contrast = #{contrast},
                mail = #{mail},
                nreluname = #{nreluname},
                nrelphone = #{nrelphone},
                nbrandname = #{nbrandname},
                ncontrast = #{ncontrast},
                nmail = #{nmail},
                reshid = #{reshid},
                reshname = #{reshname},
                reshphone = #{reshphone},
                lineuname = #{lineuname},
                linejob = #{linejob},
                linephone = #{linephone},
                linenature = #{linenature},
                <if test="adduid != null and adduid != ''">adduid = #{adduid},</if>
                <if test="addtime != null and addtime != ''">addtime = #{addtime},</if>
                <if test="updtime != null and updtime != ''">updtime = #{updtime},</if>
                <if test="status != null and status != ''">status = #{status},</if>
                <if test="summary != null and summary != ''">summary = #{summary},</if>
                upduid = #{upduid}
            </trim>

        </set>
        where deid = #{deid}
    </update>

    <delete id="remove">
		delete from tb_travel_info where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from tb_travel_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="setStatusByTravelid" parameterType="java.util.Map">
		update tb_travel_info set status  = #{status} where travelid = #{travelid}
	</update>

</mapper>