<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.operate.dao.TbTravelPlanMapper">

    <!-- 添加出差记录-->
    <insert id="addTravelRecord" parameterType="java.util.List">

            insert into tb_travel_record
            (
            travelid,
            uid,
            uname,
            fare,
            expenses,
            orgtime,
            endtime,
            aptype,
            ccuid,
            addtime,
            adduid,
            status,
            summary,
            trip,
            traversion,
            rebversion,
            trastatus,
            rebstatus
            )
            values
            (
            #{travelid},
            <choose>
                <when test="uid != null and uid!=''">
                    #{uid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="uname != null and uname!=''">
                    #{uname},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="fare != null and fare!=''">
                    #{fare},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="expenses != null and expenses!=''">
                    #{expenses},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="orgtime != null and orgtime!=''">
                    #{orgtime},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="endtime != null and endtime!=''">
                    #{endtime},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="aptype != null and aptype!=''">
                    #{aptype},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="ccuid != null and ccuid!=''">
                    #{ccuid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>

            <choose>
                <when test="addtime != null and addtime!=''">
                    #{addtime},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="adduid != null and adduid!=''">
                    #{adduid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="status != null and status!=''">
                    #{status},
                </when>
                <otherwise>
                    1 ,
                </otherwise>
            </choose>
            <choose>
                <when test="summary != null and summary!=''">
                    #{summary},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="trip != null and trip!=''">
                    #{trip},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
        <choose>
            <when test="traversion != null and traversion!=''">
                #{traversion},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="rebversion != null and rebversion!=''">
                #{rebversion},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="trastatus != null and trastatus!=''">
                #{trastatus},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="rebstatus != null and rebstatus!=''">
                #{rebstatus}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
            )
    </insert>

    <!-- 添加出差详情记录-->
    <insert id="addTravelDetails" parameterType="java.util.List">
            insert into tb_travel_record_deta
            (
            deid,
            travelid,
            uid,
            cid,
            projectid,
            did,
            trpeers,
            trdefense,
            trtime,
            trtype,
            trregion,
            trgoal,
            trip,
            produce,
            fare,
            expenses,
            amount,
            addtime,
            adduid,
            updtime,
            upduid,
            status,
            summary
            )
            values
        <foreach collection="list" item="detials" separator=",">
        (
            #{detials.deid},
            <choose>
                <when test="detials.travelid != null and detials.travelid!=''">
                    #{detials.travelid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.uid != null and detials.uid!=''">
                    #{detials.uid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.cid != null and detials.cid!=''">
                    #{detials.cid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.projectid != null and detials.projectid!=''">
                    #{detials.projectid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.did != null and detials.did!=''">
                    #{detials.did},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.trpeers != null and detials.trpeers!=''">
                    #{detials.trpeers},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.trdefense != null and detials.trdefense!=''">
                    #{detials.trdefense},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.trtime != null and detials.trtime!=''">
                    #{detials.trtime},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.trtype != null and detials.trtype!=''">
                    #{detials.trtype},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.trregion != null and detials.trregion!=''">
                    #{detials.trregion},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.trgoal != null and detials.trgoal!=''">
                    #{detials.trgoal},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.trip != null and detials.trip!=''">
                    #{detials.trip},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.produce != null and detials.produce!=''">
                    #{detials.produce},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.fare != null and detials.fare!=''">
                    #{detials.fare},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.expenses != null and detials.expenses!=''">
                    #{detials.expenses},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.amount != null and detials.amount!=''">
                    #{detials.amount},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.addtime != null and detials.addtime!=''">
                    #{detials.addtime},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.adduid != null and detials.adduid!=''">
                    #{detials.adduid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.updtime != null and detials.updtime!=''">
                    #{detials.updtime},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.upduid != null and detials.upduid!=''">
                    #{detials.upduid},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.status != null and detials.status!=''">
                    #{detials.status},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="detials.summary != null and detials.summary!=''">
                    #{detials.summary}
                </when>
                <otherwise>
                    null
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>

    <!-- 设置删除状态-->
    <update id="setDeleteStatus" parameterType="java.util.Map">
        update tb_travel_record set status='2'  where   travelid=#{travelid}
    </update>

    <!-- 设置撤回状态-->
    <update id="setRecallStatus" parameterType="java.util.Map">
        update tb_travel_record set status='3'  where   travelid=#{travelid}
    </update>


    <!-- 修改出差记录 -->
    <update id="updateTravelRecord" parameterType="java.util.Map">
        update tb_travel_record set
        <trim  suffixOverrides=",">
            <if test="uid!='' and uid !=null">
                uid=#{uid},
            </if>
            <if test="uname!='' and uname !=null">
                uname=#{uname},
            </if>
            <if test="fare!='' and fare !=null">
                fare=#{fare},
            </if>
            <if test="expenses!='' and expenses !=null">
                expenses=#{expenses},
            </if>
            <if test="orgtime!='' and orgtime !=null">
                orgtime=#{orgtime},
            </if>
            <if test="endtime!='' and endtime !=null">
                endtime=#{endtime},
            </if>
            <if test="aptype!='' and aptype !=null">
                aptype=#{aptype},
            </if>
            <if test="ccuid!='' and ccuid !=null">
                ccuid=#{ccuid},
            </if>
            <if test="addtime!='' and addtime !=null">
                addtime=#{addtime},
            </if>
            <if test="adduid!='' and adduid !=null">
                adduid=#{adduid},
            </if>
            <if test="status!='' and status !=null">
                status=#{status},
            </if>
            <if test="summary!='' and summary !=null">
                summary=#{summary}
            </if>
            <if test="traversion!='' and traversion !=null">
                traversion=#{traversion},
            </if>
            <if test="rebversion!='' and rebversion !=null">
                rebversion=#{rebversion},
            </if>
            <if test="trastatus!='' and trastatus !=null">
                trastatus=#{trastatus},
            </if>
            <if test="rebstatus!='' and rebstatus !=null">
                rebstatus=#{rebstatus},
            </if>
        </trim>
        where travelid=#{travelid}
        <!--and (status = '1' or status = '3')-->
    </update>


<!-- 修改出差详情 -->
    <update id="updateTravelDetials" parameterType="java.util.Map">
        update tb_travel_record_deta set
        <trim  suffixOverrides=",">
            <if test="cid!='' and cid !=null">
                cid=#{cid},
            </if>
            <if test="projectid!='' and projectid !=null">
                projectid=#{projectid},
            </if>
            <if test="did!='' and did !=null">
                did=#{did},
            </if>
            <if test="trpeers!='' and trpeers !=null">
                trpeers=#{trpeers},
            </if>
            <if test="trdefense!='' and trdefense !=null">
                trdefense=#{trdefense},
            </if>
            <if test="trtime!='' and trtime !=null">
                trtime=#{trtime},
            </if>
            <if test="trtype!='' and trtype !=null">
                trtype=#{trtype},
            </if>
            <if test="trregion!='' and trregion !=null">
                trregion=#{trregion},
            </if>
            <if test="trgoal!='' and trgoal !=null">
                trgoal=#{trgoal},
            </if>
            <if test="trip!='' and trip !=null">
                trip=#{trip},
            </if>
            <if test="produce!='' and produce !=null">
                produce=#{produce},
            </if>
            <if test="fare!='' and fare !=null">
                fare=#{fare},
            </if>
            <if test="expenses!='' and expenses !=null">
                expenses=#{expenses},
            </if>
            <if test="amount!='' and amount !=null">
                amount=#{amount},
            </if>
            <if test="addtime!='' and addtime !=null">
                addtime=#{addtime},
            </if>
            <if test="adduid!='' and adduid !=null">
                adduid=#{adduid},
            </if>
            <if test="updtime!='' and updtime !=null">
                updtime=#{updtime},
            </if>
            <if test="upduid!='' and upduid !=null">
                upduid=#{upduid},
            </if>
            <if test="status!='' and status !=null">
                status=#{status},
            </if>
            <if test="summary!='' and summary !=null">
                summary=#{summary}
            </if>
        </trim>
        where deid=#{deid}
    </update>


    <!-- 根据出差id查询出差记录-->
    <select id="queryTravelRecordByTravelid" parameterType="java.util.List" resultType="java.util.Map">
        select travelid,uid,uname,
        COALESCE(fare,0) as fare,
        COALESCE(expenses,0) as expenses,
        COALESCE(trip,'') as trip
        from tb_travel_record
        where travelid=#{travelid}
    </select>

    <!-- 根据出差id查询出差详情-->
    <select id="queryTravelDetailsByTravelid" parameterType="java.util.List" resultType="java.util.Map">
        select
        travelid,deid,uid,cid,projectid,trpeers,trregion,trtime,trdefense,trtype,trgoal,
        COALESCE(fare,0) as fare,
        COALESCE(expenses,0) as expenses,
        COALESCE(trip,'') as trip,
        COALESCE(produce,0) as produce,
        status
        from tb_travel_record_deta
        where travelid=#{travelid} order by trtime
    </select>

    <!-- 根据Uid获取出差申请记录   -->
    <select id="queryTravelRecordByUid" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        tb1.travelid as travelid,
        tb1.uname as uname,
        to_char(TO_TIMESTAMP(tb1.orgtime/1000), 'YYYY-MM-DD') as orgtime,
        to_char(TO_TIMESTAMP(tb1.endtime/1000), 'YYYY-MM-DD') as endtime,
        COALESCE(tb1.fare,0) as fare,
        COALESCE(tb1.expenses,0) as expenses,
        tb1.traversion as "version",
        tb1.trastatus as status,
        string_agg(tb2.truid,',') as truids,
        string_agg(to_char(tb2.idx,'9'),',') as idxs,
        string_agg(to_char(tb2.trstatus,'9'),',') as trstatus
        from tb_travel_record tb1
        LEFT JOIN tb_travel_approval tb2
        on  tb1.travelid = tb2.travelid
        and tb1.traversion = tb2."version"
        <where>
            tb1.status != '2'
            <if test="uid != null and uid != '' ">
                and tb1.uid = #{uid}
            </if>
            <if test="beginTime != null and beginTime != '' ">
                and orgtime &gt;= #{beginTime}
            </if>
            <if test="endTime != null and endTime != '' ">
                and endtime &lt;= #{endTime}
            </if>
            <if test="curcid !=null and curcid!=''">
                and curcid=#{curcid}
            </if>

        </where>

        GROUP BY tb1.travelid,tb1.uname,tb1.orgtime,
        tb1.endtime,
        tb1.fare,
        tb1.expenses,
        tb1.traversion,
        tb1.trastatus
        LIMIT #{pagesize} OFFSET #{pageno}
    </select>

    <!-- 根据Uid获取出差申请记录数   -->
    <select id="queryTravelRecordCountByUid" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_travel_record
        WHERE
        uid =#{ uid } and status != '2'
    </select>

    <!-- 根据Uid获取出差审批记录数   -->
    <select id="queryTravelApprovalRecordCountByUid" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_travel_approval
        WHERE
        truid =#{ uid } and (trstatus = '2' or trstatus = '3')
    </select>

    <!-- 根据Uid获取出差审批记录   -->
    <select id="queryTravelApprovalRecordByUid" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        tb1.travelid as travelid,
        tb1.uname as uname,
        to_char(TO_TIMESTAMP(tb1.orgtime/1000), 'YYYY-MM-DD') as orgtime,
        to_char(TO_TIMESTAMP(tb1.endtime/1000), 'YYYY-MM-DD') as endtime,
        COALESCE(tb1.fare,0) as fare,
        COALESCE(tb1.expenses,0) as expenses,
        tb1.traversion as status,
        tb2.idx,
        tb2.apid,
        tb2."version",
        tb2.trstatus as trstatus
        from tb_travel_record tb1
        INNER JOIN tb_travel_approval tb2
        on  tb1.travelid = tb2.travelid

        and tb1.traversion = tb2."version"

        <where>
            tb1.status != '2'
            and (tb2.trstatus = '2' or tb2.trstatus = '3')
            <if test="uid != null and uid != '' ">
                and tb2.truid = #{uid}
            </if>
            <if test="beginTime != null and beginTime != '' ">
                and tb1.orgtime &gt;= #{beginTime}
            </if>
            <if test="endTime != null and endTime != '' ">
                and tb1.endtime &lt;= #{endTime}
            </if>
            <if test="aptype == 2"  >
                and tb1.aptype = #{aptype}
            </if>

        </where>
        LIMIT #{pagesize} OFFSET #{pageno}
    </select>

    <!-- 根据 Travelid设置出差详情表状态  -->
    <update id="setDetailsStatusByTravelid" parameterType="java.util.Map" >
		update tb_travel_record_deta set status  = '2' where travelid = #{travelid}
	</update>
</mapper>