<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.operate.dao.TbUserTravelMapper">

    <!--添加用户出差记录-->
    <insert id="addUserTavel" parameterType="java.util.List">
        <foreach collection="list" item="travel" separator=",">
            insert into tb_user_travel(travelid,uid,startcity,starttime,backtime,vehicle,payfare,payexpenses,status,summary)
            values
        (
            #{travel.travelid},
            <choose>
              <when test="travel.uid!='' and travel.uid!= null">
                  #{travel.uid},
              </when>
              <otherwise>
                  null,
              </otherwise>
            </choose>
            <choose>
                <when test="travel.startcity!='' and travel.startcity!= null">
                    #{travel.startcity},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="travel.starttime!='' and travel.starttime!= null">
                    #{travel.starttime},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="travel.backtime!='' and travel.backtime!= null">
                    #{travel.backtime},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="travel.vehicle!='' and travel.vehicle!= null">
                    #{travel.vehicle},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="travel.payfare!='' and travel.payfare!= null">
                    #{travel.payfare},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="travel.payexpenses!='' and travel.payexpenses!= null">
                    #{travel.payexpenses},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="travel.status!='' and travel.status!= null">
                    #{travel.status},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="travel.summary!='' and travel.summary!= null">
                    #{travel.summary}
                </when>
                <otherwise>
                    null
                </otherwise>
            </choose>
        )
            on conflict(travelid,uid) do update
            <trim prefix="set" suffixOverrides="," suffix="  where tb_travel_aim.travelid=#{travel.travelid} and tb_travel_aim.methodid=#{travel.travelid} and tb_travel_aim.aimid=#{travel.aimid} ">
                <if test="travel.startcity !=null">startcity=#{travel.startcity},</if>
                <if test="travel.starttime !=null">starttime=#{travel.starttime},</if>
                <if test="travel.backtime !=null">backtime=#{travel.backtime},</if>
                <if test="travel.vehicle !=null">vehicle=#{travel.vehicle},</if>
                <if test="travel.payfare !=null">payfare=#{travel.payfare},</if>
                <if test="travel.payexpenses !=null">payexpenses=#{travel.payexpenses},</if>
                <if test="travel.summary !=null">summary=#{travel.summary},</if>
            </trim>
        </foreach>
    </insert>

    <select id="queryUserTravel" parameterType="java.util.Map" resultType="java.util.Map">
        select
            uid,
            startcity,
            vehicle
        from tb_user_travel
        where
             travelid = #{travelid}
    </select>

</mapper>

