<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.operate.dao.TbUserScoreMapper">

    <!--  查询用户积分   -->
    <select id="qureyUserScore" resultType="java.util.Map" parameterType="java.util.Map">
        select * from tb_user_score where status = '1'
        <choose><when test="recharge != null">and recharge = #{recharge}</when></choose>
        <choose><when test="consume != null">and consume = #{consume}</when></choose>
        <choose><when test="sumscore != null">and sumscore =  #{sumscore}</when></choose>
        <choose><when test="freezes != null">and freezes = #{freezes}</when></choose>
        <choose><when test="score != null">and score = #{score}</when></choose>
        <choose><when test="uid != null">and uid = #{uid}</when></choose>
        limit #{rows}  offset #{page}
    </select>

    <!--  查询用户积分月报   -->
    <select id="qureyUserMonthScore" resultType="java.util.Map" parameterType="java.util.Map">
        select * from tb_user_month_score where 1 = 1
        <choose><when test="month != null">and month = #{month}</when></choose>
        <choose><when test="consume != null">and consume = #{consume}</when></choose>
        <choose><when test="integrals != null">and integrals =  #{integrals}</when></choose>
        <choose><when test="consume != null">and consume = #{consume}</when></choose>
        <choose><when test="score != null">and score = #{score}</when></choose>
        <choose><when test="uid != null">and uid = #{uid}</when></choose>
        <choose><when test="otime != null">and otime = #{otime}</when></choose>
        limit #{rows}  offset #{page}
    </select>

    <!--  查询用户积分总数   -->
    <select id="qureyUserScoreCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from tb_user_score where status = '1'
        <choose><when test="recharge != null">and recharge = #{recharge}</when></choose>
        <choose><when test="consume != null">and consume = #{consume}</when></choose>
        <choose><when test="sumscore != null">and sumscore =  #{sumscore}</when></choose>
        <choose><when test="freezes != null">and freezes = #{freezes}</when></choose>
        <choose><when test="score != null">and score = #{score}</when></choose>
        <choose><when test="uid != null">and uid = #{uid}</when></choose>
        <choose><when test="updtime != null">and updtime = #{updtime}</when></choose>
    </select>

    <!--  查询用户积分月报总数   -->
    <select id="qureyUserMonthScoreCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from tb_user_month_score where 1 = 1
        <choose><when test="month != null">and month = #{month}</when></choose>
        <choose><when test="consume != null">and consume = #{consume}</when></choose>
        <choose><when test="integrals != null">and integrals =  #{integrals}</when></choose>
        <choose><when test="consume != null">and consume = #{consume}</when></choose>
        <choose><when test="score != null">and score = #{score}</when></choose>
        <choose><when test="uid != null">and uid = #{uid}</when></choose>
        <choose><when test="otime != null">and otime = #{otime}</when></choose>
    </select>

    <!--  模糊查询用户积分   -->
    <select id="seachUserScore" resultType="java.lang.Integer" parameterType="java.util.Map">
        select * from tb_user_score where  stataus = '1'
        or recharge like CONCAT('%',#{keys},'%')
        or consume like CONCAT('%',#{keys},'%')
        or sumscore like CONCAT('%',#{keys},'%')
        or freezes like CONCAT('%',#{keys},'%')
        or score like CONCAT('%',#{keys},'%')
        limit #{rows}  offset #{page}
    </select>

    <!--  模糊查询用户积分月报   -->
    <select id="seachUserMonthScore" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from tb_user_month_score where
        recharge like CONCAT('%',#{keys},'%')
        or consume like CONCAT('%',#{keys},'%')
        or  integrals like CONCAT('%',#{keys},'%')
        or month like CONCAT('%',#{keys},'%')
        or score like CONCAT('%',#{keys},'%')
        limit #{rows}  offset #{page}
    </select>

    <!--  模糊查询用户积分总数   -->
    <select id="seachUserScoreCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from tb_user_score where   stataus = '1'
        or recharge like CONCAT('%',#{keys},'%')
        or consume like CONCAT('%',#{keys},'%')
        or sumscore like CONCAT('%',#{keys},'%')
        or freezes like CONCAT('%',#{keys},'%')
        or score like CONCAT('%',#{keys},'%')
    </select>

    <!--  模糊查询用户积分月报总数   -->
    <select id="seachUserMonthScoreCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from tb_user_month_score where
        recharge  like CONCAT('%',#{keys},'%')
        or consume like CONCAT('%',#{keys},'%')
        or  integrals like CONCAT('%',#{keys},'%')
        or month like CONCAT('%',#{keys},'%')
        or score like CONCAT('%',#{keys},'%')
    </select>

    <!--  添加用户积分  -->
    <insert id="insertUserScore"  parameterType="java.util.Map">
        INSERT INTO PUBLIC.tb_user_score ( uid, sumscore, consume, recharge, freezes, score, updtime, status, summary )
        VALUES
        (
        #{uid},
        #{sumscore},
        #{consume},
        #{recharge},
        #{freezes},
        #{score},
        #{updtime},
        #{status},
        <choose><when test="summary != null">#{summary}</when><otherwise>null</otherwise></choose>
        );
    </insert>

    <!--  添加用户积分月报   -->
    <insert id="insertUserMonthScoreRule"  parameterType="java.util.Map">
        INSERT INTO PUBLIC.tb_user_month_score ( uid, MONTH, consume, recharge, integrals, score, otime )
        VALUES
	    (
	      #{uid},
	      #{month},
	      #{consume},
	      #{recharge},
	      #{integrals},
	      #{score},
	      #{otime}
	      );
    </insert>

    <!--  修改用户积分   -->
    <update id="upUserScore"  parameterType="java.util.Map">
        update tb_user_score set  updtime = #{updtime}
        <choose><when test="sumscore != null">,sumscore  = #{sumscore}</when></choose>
        <choose><when test="consume != null">,consume  = #{consume}</when></choose>
        <choose><when test="recharge != null">,recharge  = #{recharge}</when></choose>
        <choose><when test="freezes != null">,freezes  = #{freezes}</when></choose>
        <choose><when test="score != null">,score  = #{score}</when></choose>
        where  id = #{id}
    </update>

    <!--  修改用户积分月报    -->
    <update id="upUserMonthScoreRule"  parameterType="java.util.Map">
        update tb_user_month_score set otime = #{otime}
        <choose><when test="month != null">,sumscore  = #{sumscore}</when></choose>
        <choose><when test="consume != null">,consume  = #{consume}</when></choose>
        <choose><when test="recharge != null">,recharge  = #{recharge}</when></choose>
        <choose><when test="integrals != null">,freezes  = #{freezes}</when></choose>
        <choose><when test="score != null">,score  = #{score}</when></choose>
        where  id = #{id}
    </update>

    <!--  禁用用户积分  -->
    <update id="removeUserScore"  parameterType="java.util.Map">
        update  tb_user_score set status = '2'   , updtime = #{updtime}
        where id = #{id}
    </update>

</mapper>