<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.operate.dao.TbUserTravelConsumeMapper">


    <!-- 添加出差报销记录-->
    <insert id="addUserTravelConsume" parameterType="java.util.List">
        insert into tb_travel_user_consume(travelid,uid,consumetime,cname,money,consumedesc,bills,idx,addtime,updtime,status,summary)
        values
        <foreach collection="list" index="index" item="consume" separator=",">
            (
            #{consume.travelid},
            #{consume.uid},
            <choose>
                <when test="consume.consumetime!=null and consume.consumetime!=''">
                    #{consume.consumetime},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="consume.cname != null and consume.cname!=''">
                    #{consume.cname},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="consume.money != null and consume.money!=''">
                    #{consume.money},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="consume.consumedesc != null and consume.consumedesc!=''">
                    #{consume.consumedesc},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="consume.bills != null and consume.bills!=''">
                    #{consume.bills},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            select count(1)+#{index} from tb_travel_user_consume,
            <choose>
                <when test="consume.addtime != null and consume.addtime!=''">
                    #{consume.addtime},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="consume.updtime != null and consume.updtime!=''">
                    #{consume.updtime},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="consume.status != null and consume.status!=''">
                    #{consume.status},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="consume.summary != null and consume.summary!=''">
                    #{consume.summary}
                </when>
                <otherwise>
                    null
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>

    <!-- 修改出差报销记录-->
    <update id="updateUserTravelConsume" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";" open="" close="">
            update tb_travel_user_consume set
            <if test="item.consumetime!= null and item.consumetime!=null">
                consumetime=#{item.consumetime}
            </if>
            <if test="item.cname!= null and item.cname!=null">
                cname=#{item.cname}
            </if>
            <if test="item.money!= null and item.money!=null">
                money=#{item.money}
            </if>
            <if test="item.consumedesc!= null and item.consumedesc!=null">
                consumedesc=#{item.consumedesc}
            </if>
            <if test="item.bills!= null and item.bills!=null">
                bills=#{item.bills}
            </if>
            <if test="item.idx!= null and item.idx!=null">
                idx=#{item.idx}
            </if>
            <if test="item.addtime!= null and item.addtime!=null">
                addtime=#{item.addtime}
            </if>
            <if test="item.updtime!= null and item.updtime!=null">
                updtime=#{item.updtime}
            </if>
            <if test="item.status!= null and item.status!=null">
                status=#{item.status}
            </if>
            <if test="item.summary!= null and item.summary!=null">
                summary=#{item.summary}
            </if>
            where consumeid=#{item.consumeid}
        </foreach>
    </update>

    <!-- 查询用户报销记录-->
    <select id="quertUserTravelComsume" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            travelid,
            uid,
            consumetime,
            cname,
            money,
            consumedesc,
            bills,
            idx,
            addtime,
            updtime,
            status,
            summary
        FROM
            tb_travel_user_consume
        WHERE
            travelid =#{ travelid}
    </select>
</mapper>