<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.operate.dao.TbUserTravelMapper">

    <!--添加用户出差记录-->
    <insert id="addUserTavel" parameterType="java.util.List">
        insert into tb_user_travel(travelid,uid,startcity,starttime,backtime,vehicle,payfare,payexpenses,status,summary)
        values
        <foreach collection="list" item="travel" separator=",">
        (
            #{travel.travelid},
            <choose>
              <when test="travel.uid!='' and travel.uid!= null">
                  #{travel.uid},
              </when>
              <otherwise>
                  null,
              </otherwise>
            </choose>
            <choose>
                <when test="travel.startcity!='' and travel.startcity!= null">
                    #{travel.startcity},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="travel.starttime!='' and travel.starttime!= null">
                    #{travel.starttime},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="travel.backtime!='' and travel.backtime!= null">
                    #{travel.backtime},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="travel.vehicle!='' and travel.vehicle!= null">
                    #{travel.vehicle},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="travel.payfare!='' and travel.payfare!= null">
                    #{travel.payfare},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="travel.payexpenses!='' and travel.payexpenses!= null">
                    #{travel.payexpenses},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="travel.status!='' and travel.status!= null">
                    #{travel.status},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="travel.summary!='' and travel.summary!= null">
                    #{travel.summary}
                </when>
                <otherwise>
                    null
                </otherwise>
            </choose>
        )
        </foreach>
    </insert>

    
</mapper>

