<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jzb.operate.dao.TravelExpenseMapper">

	<!--根据出差id查询报销单-->
	<select id="queryTravelExpenseByid" resultType="java.util.Map" parameterType="java.util.Map">
		select  * from tb_travel_expense where travelid = #{travelid}
	</select>

	 <!--插入-->
	<insert id="saveTravelExpense" parameterType="java.util.Map">
			insert into tb_travel_expense
			(
				 travelid,
				 exid,
				 exstrtime ,
				 exendtime ,
				 exstradderss ,
				 exendadderss ,
				 exvehicle ,
				 trsum ,
				 mail ,
				 crosum ,
				 getaccsum ,
				 subsidy ,
				 othsum ,
				 "sum" ,
				 adduid ,
				 addtime ,
				 status ,
				 summary
			)
			values
			<choose>
				<when test=" travelid != null and  travelid!=''">
					#{ travelid},
				</when>
				<otherwise>
					null ,
				</otherwise>
			</choose>
			<choose>
				<when test=" exid != null and  exid!=''">
					#{ exid},
				</when>
				<otherwise>
					null ,
				</otherwise>
			</choose>
			<choose>
				<when test=" exstrtime != null and  exstrtime!=''">
					#{ exstrtime},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test=" exendtime != null and  exendtime!=''">
					#{ exendtime},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test=" exstradderss != null and  exstradderss!=''">
					#{ exstradderss},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test=" exendadderss != null and  exendadderss!=''">
					#{ exendadderss},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test=" exvehicle != null and  exvehicle!=''">
					#{ exvehicle},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test=" trsum != null and  trsum!=''">
					#{ trsum},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test=" mail != null and  mail!=''">
					#{ mail},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test=" crosum != null and  crosum!=''">
					#{ crosum},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test=" getaccsum != null and  getaccsum!=''">
					#{ getaccsum},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test=" subsidy != null and  subsidy!=''">
					#{ subsidy},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test=" othsum != null and  othsum!=''">
					#{ othsum},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test=" sum != null and  sum!=''">
					#{ sum},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test=" adduid != null and  adduid!=''">
					#{ adduid},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test=" addtime != null and  addtime!=''">
					#{ addtime},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test=" status != null and  status!=''">
					#{ status},
				</when>
				<otherwise>
					1,
				</otherwise>
			</choose>

			<choose>
				<when test=" summary != null and  summary!=''">
					#{ summary}
				</when>
				<otherwise>
					null
				</otherwise>
			</choose>
		)
	</insert>
	<!--修改报销单 -->
	<update id="updateTravelExpense" parameterType="java.util.Map">
			update tb_travel_expense
			<set>
				<choose>
					<when test="  exstrtime != null and   exstrtime!=''">
						exstrtime = #{  exstrtime},
					</when>
				</choose>

				<choose>
					<when test="  exendtime != null and   exendtime!=''">
						exendtime = #{  exendtime},
					</when>
				</choose>

				<choose>
					<when test="  exstradderss != null and   exstradderss!=''">
						exstradderss = #{  exstradderss},
					</when>
				</choose>

				<choose>
					<when test="  exendadderss != null and   exendadderss!=''">
						exendadderss = #{  exendadderss},
					</when>
				</choose>

				<choose>
					<when test="  exvehicle != null and   exvehicle!=''">
						exvehicle = #{  exvehicle},
					</when>
				</choose>

				<choose>
					<when test="  trsum != null and   trsum!=''">
						trsum = #{  trsum},
					</when>
				</choose>

				<choose>
					<when test="  mail != null and   mail!=''">
						mail =#{  mail},
					</when>
				</choose>

				<choose>
					<when test="  crosum != null and   crosum!=''">
						crosum = #{  crosum},
					</when>
				</choose>

				<choose>
					<when test="  getaccsum != null and   getaccsum!=''">
						getaccsum = #{  getaccsum},
					</when>
				</choose>

				<choose>
					<when test="  subsidy != null and   subsidy!=''">
						subsidy = #{  subsidy},
					</when>
				</choose>

				<choose>
					<when test="  othsum != null and   othsum!=''">
						othsum = #{  othsum},
					</when>
				</choose>

				<choose>
					<when test="  sum != null and   sum!=''">
						"sum" = #{  sum},
					</when>
				</choose>

				<choose>
					<when test="  adduid != null and   adduid!=''">
						adduid = #{  adduid},
					</when>
				</choose>

				<choose>
					<when test="  status != null and   status!=''">
						status = #{  status},
					</when>
				</choose>

				<choose>
					<when test="  summary != null and   summary!=''">
						summary = #{  summary},
					</when>
				</choose>

				<choose>
					<when test="  addtime != null and   addtime!=''">
						addtime = #{  addtime}
					</when>
				</choose>
			</set>
			where exid = #{  exid}
	</update>

	<!-- 设置删除状态-->
	<update id="setExpenseDeleteStatus" parameterType="java.util.Map">
        update tb_travel_expense set status='2'  where  travelid = #{travelid}
    </update>

</mapper>