<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jzb.operate.dao.TravelExpenseMapper">

	<!--根据出差id查询报销单-->
	<select id="queryTravelExpenseByid" resultType="java.util.Map" parameterType="java.util.Map">
		select  * from tb_travel_expense where travelid = #{travelid}
	</select>

	 <!--插入-->
	<insert id="saveTravelExpense" parameterType="java.util.List">
		insert into tb_travel_expense
		(
			 travelid,
			 exid,
			 exstrtime , 
			 exendtime , 
			 exstradderss , 
			 exendadderss , 
			 exvehicle , 
			 trsum , 
			 mail , 
			 crosum , 
			 getaccsum , 
			 subsidy , 
			 othsum , 
			 "sum" ,
			 adduid ,
			 addtime ,
			 status ,
			 summary 
		)
		values
		<foreach collection="list" item="expList" separator=",">
		(
			<choose>
				<when test="expList.travelid != null and expList.travelid!=''">
					#{expList.travelid},
				</when>
				<otherwise>
					null ,
				</otherwise>
			</choose>
			<choose>
				<when test="expList.exid != null and expList.exid!=''">
					#{expList.exid},
				</when>
				<otherwise>
					null ,
				</otherwise>
			</choose>
			<choose>
				<when test="expList.exstrtime != null and expList.exstrtime!=''">
					#{expList.exstrtime},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.exendtime != null and expList.exendtime!=''">
					#{expList.exendtime},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.exstradderss != null and expList.exstradderss!=''">
					#{expList.exstradderss},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.exendadderss != null and expList.exendadderss!=''">
					#{expList.exendadderss},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.exvehicle != null and expList.exvehicle!=''">
					#{expList.exvehicle},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.trsum != null and expList.trsum!=''">
					#{expList.trsum},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.mail != null and expList.mail!=''">
					#{expList.mail},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.crosum != null and expList.crosum!=''">
					#{expList.crosum},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.getaccsum != null and expList.getaccsum!=''">
					#{expList.getaccsum},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.subsidy != null and expList.subsidy!=''">
					#{expList.subsidy},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.othsum != null and expList.othsum!=''">
					#{expList.othsum},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.sum != null and expList.sum!=''">
					#{expList.sum},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.adduid != null and expList.adduid!=''">
					#{expList.adduid},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.addtime != null and expList.addtime!=''">
					#{expList.addtime},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.status != null and expList.status!=''">
					#{expList.status},
				</when>
				<otherwise>
					1,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.summary != null and expList.summary!=''">
					#{expList.summary}
				</when>
				<otherwise>
					null
				</otherwise>
			</choose>
		)
		</foreach>
	</insert>
	<!--修改报销单 -->
	<update id="updateTravelExpense" parameterType="java.util.List">
		update tb_travel_expense
		set
		<foreach collection="list" item="uplists" separator=",">

			<choose>
				<when test="uplists.travelid != null and uplists.travelid!=''">
					#{uplists.travelid},
				</when>
				<otherwise>
					null ,
				</otherwise>
			</choose>
			<choose>
				<when test="uplists.exid != null and uplists.exid!=''">
					#{uplists.exid},
				</when>
				<otherwise>
					null ,
				</otherwise>
			</choose>
			<choose>
				<when test="uplists.exstrtime != null and uplists.exstrtime!=''">
					#{uplists.exstrtime},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="uplists.exendtime != null and uplists.exendtime!=''">
					#{uplists.exendtime},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="uplists.exstradderss != null and uplists.exstradderss!=''">
					#{uplists.exstradderss},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="uplists.exendadderss != null and uplists.exendadderss!=''">
					#{uplists.exendadderss},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="uplists.exvehicle != null and uplists.exvehicle!=''">
					#{uplists.exvehicle},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="uplists.trsum != null and uplists.trsum!=''">
					#{uplists.trsum},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="uplists.mail != null and uplists.mail!=''">
					#{uplists.mail},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="uplists.crosum != null and uplists.crosum!=''">
					#{uplists.crosum},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="uplists.getaccsum != null and uplists.getaccsum!=''">
					#{uplists.getaccsum},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="uplists.subsidy != null and uplists.subsidy!=''">
					#{uplists.subsidy},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="uplists.othsum != null and uplists.othsum!=''">
					#{uplists.othsum},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="uplists.sum != null and uplists.sum!=''">
					#{uplists.sum},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="uplists.addtime != null and uplists.addtime!=''">
					#{uplists.addtime},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="uplists.summary != null and uplists.summary!=''">
					#{uplists.summary}
				</when>
				<otherwise>
					null
				</otherwise>
			</choose>
		</foreach>
	</update>

</mapper>