<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jzb.operate.dao.TravelExpenseMapper">

	<!--根据出差id查询报销单-->
	<select id="queryTravelExpenseByid" resultType="java.util.Map" parameterType="java.util.Map">
		select  * from tb_travel_expense where travelid = #{travelid}
	</select>

	 <!--插入-->
	<insert id="saveTravelExpense" parameterType="java.util.List">
			insert into tb_travel_expense
			(
				 travelid,
				 exid,
				 exstrtime ,
				 exendtime ,
				 exstradderss ,
				 exendadderss ,
				 exvehicle ,
				 trsum ,
				 mail ,
				 crosum ,
				 getaccsum ,
				 subsidy ,
				 othsum ,
				 "sum" ,
				 adduid ,
				 addtime ,
				 status ,
				 summary
			)
			values
			<foreach collection="list" item="expList" separator=",">
			(
			<choose>
				<when test="expList.travelid != null and expList.travelid!=''">
					#{expList.travelid},
				</when>
				<otherwise>
					null ,
				</otherwise>
			</choose>
			<choose>
				<when test="expList.exid != null and expList.exid!=''">
					#{expList.exid},
				</when>
				<otherwise>
					null ,
				</otherwise>
			</choose>
			<choose>
				<when test="expList.exstrtime != null and expList.exstrtime!=''">
					#{expList.exstrtime},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.exendtime != null and expList.exendtime!=''">
					#{expList.exendtime},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.exstradderss != null and expList.exstradderss!=''">
					#{expList.exstradderss},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.exendadderss != null and expList.exendadderss!=''">
					#{expList.exendadderss},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.exvehicle != null and expList.exvehicle!=''">
					#{expList.exvehicle},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.trsum != null and expList.trsum!=''">
					#{expList.trsum},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.mail != null and expList.mail!=''">
					#{expList.mail},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.crosum != null and expList.crosum!=''">
					#{expList.crosum},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.getaccsum != null and expList.getaccsum!=''">
					#{expList.getaccsum},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.subsidy != null and expList.subsidy!=''">
					#{expList.subsidy},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.othsum != null and expList.othsum!=''">
					#{expList.othsum},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.sum != null and expList.sum!=''">
					#{expList.sum},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.adduid != null and expList.adduid!=''">
					#{expList.adduid},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.addtime != null and expList.addtime!=''">
					#{expList.addtime},
				</when>
				<otherwise>
					null,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.status != null and expList.status!=''">
					#{expList.status},
				</when>
				<otherwise>
					1,
				</otherwise>
			</choose>

			<choose>
				<when test="expList.summary != null and expList.summary!=''">
					#{expList.summary}
				</when>
				<otherwise>
					null
				</otherwise>
			</choose>
		)
		</foreach>
	</insert>
	<!--修改报销单 -->
	<update id="updateTravelExpense" parameterType="java.util.List">
		<foreach collection = "list" item = "exlist" separator = ";">
			update tb_travel_expense
			<set>
				<choose>
					<when test="exlist.exstrtime != null and exlist.exstrtime!=''">
						exstrtime = #{exlist.exstrtime},
					</when>
				</choose>

				<choose>
					<when test="exlist.exendtime != null and exlist.exendtime!=''">
						exendtime = #{exlist.exendtime},
					</when>
				</choose>

				<choose>
					<when test="exlist.exstradderss != null and exlist.exstradderss!=''">
						exstradderss = #{exlist.exstradderss},
					</when>
				</choose>

				<choose>
					<when test="exlist.exendadderss != null and exlist.exendadderss!=''">
						exendadderss = #{exlist.exendadderss},
					</when>
				</choose>

				<choose>
					<when test="exlist.exvehicle != null and exlist.exvehicle!=''">
						exvehicle = #{exlist.exvehicle},
					</when>
				</choose>

				<choose>
					<when test="exlist.trsum != null and exlist.trsum!=''">
						trsum = #{exlist.trsum},
					</when>
				</choose>

				<choose>
					<when test="exlist.mail != null and exlist.mail!=''">
						mail =#{exlist.mail},
					</when>
				</choose>

				<choose>
					<when test="exlist.crosum != null and exlist.crosum!=''">
						crosum = #{exlist.crosum},
					</when>
				</choose>

				<choose>
					<when test="exlist.getaccsum != null and exlist.getaccsum!=''">
						getaccsum = #{exlist.getaccsum},
					</when>
				</choose>

				<choose>
					<when test="exlist.subsidy != null and exlist.subsidy!=''">
						subsidy = #{exlist.subsidy},
					</when>
				</choose>

				<choose>
					<when test="exlist.othsum != null and exlist.othsum!=''">
						othsum = #{exlist.othsum},
					</when>
				</choose>

				<choose>
					<when test="exlist.sum != null and exlist.sum!=''">
						"sum" = #{exlist.sum},
					</when>
				</choose>

				<choose>
					<when test="exlist.adduid != null and exlist.adduid!=''">
						adduid = #{exlist.adduid},
					</when>
				</choose>

				<choose>
					<when test="exlist.status != null and exlist.status!=''">
						status = #{exlist.status},
					</when>
				</choose>

				<choose>
					<when test="exlist.summary != null and exlist.summary!=''">
						summary = #{exlist.summary},
					</when>
				</choose>

				<choose>
					<when test="exlist.addtime != null and exlist.addtime!=''">
						addtime = #{exlist.addtime}
					</when>
				</choose>
			</set>
			where travelid = #{exlist.travelid}
		</foreach>
	</update>

	<!-- 设置删除状态-->
	<update id="setExpenseDeleteStatus" parameterType="java.util.Map">
        update tb_travel_expense set status='2'  where  travelid = #{travelid}
    </update>

</mapper>