<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.activity.dao.ActivityMapper">


    <!--查询活动的数据-->
    <select id="queryActivityList" resultType="java.util.Map">
        SELECT
            cname,
            actid,
            uid,
            adduid,
            cid,
            cdid,
            context,
            addtime,
            votes,
            comments,
            actkey,
            actdesc,
            READS,
            shares,
            acttheme,
            actlogo
        FROM
            tb_activity_list
        WHERE
            status = '1'
        ORDER BY
            addtime DESC
	    limit
	    #{pagesize}
	    offset
	    #{pageno}
    </select>


    <!-- 查询图片 -->
    <select id="queryActivityPhoto" parameterType="java.util.Map" resultType="java.util.Map">
        select id,photo from tb_activity_photo where actid=#{actid} and status='1'
    </select>


    <!--查询图片推广信息-->
    <select id="queryActpictureList" resultType="java.util.Map">
        select
        id,actid,cname,actpicture,votes,reads,addtime,adduid
        from
        tb_activity_list
                where status='1'
        order by
        worths
        desc
    </select>
    <!-- 更新点击量 -->
    <select id="queryActivityVotesList" resultType="java.util.Map">
        select
        id,restype,resid,ouid,addtime
        from
        tb_resource_votes
        where
        restype = #{restype}
        and
        resid = #{actid}
        and
        ouid = #{ouid}
    </select>
    <!--根据id查询活动信息 -->
    <select id="findresIdById" resultType="java.util.Map">
        select
        votes
        from
        tb_activity_list
        where
        actid = #{resid}
    </select>
    <!--查询更新的点击量信息 -->
    <select id="queryActivityById" resultType="java.util.Map">
       select
       votes
       from
       tb_activity_list
       where
       actid =  #{resid}
    </select>
    <!--查询总数-->
    <select id="queryActivityCount" resultType="java.lang.Integer">
       select
       count(1)
       from
       tb_activity_list where status='1'
    </select>
    <!--查询评论次数-->
    <select id="findActivity" resultType="java.util.Map">
           select
           actid,
           disid,
           uid,
           context,
           reacted,
           addtime
           from
           tb_activity_discuss
           where
           actid = #{actid}
    </select>
    <!--根据活动查询评论数-->
    <select id="findActivityById" resultType="java.util.Map">
          select
          comments
          from
          tb_activity_list
          where
          actid = #{actid}
    </select>
    <!-- 根据查询详情信息 -->
    <select id="getDiscussById" resultType="java.util.Map">
        SELECT
        tal.cname,
        tal.actid,
        tal.uid,
        tal.cid,
        tal.cdid,
        tal.context,
        tap.photo,
        tal.addtime,
        tal.votes,
        tal.comments,
        tal.READS,
        tal.shares,
        tal.acttheme,
        tal.actlogo
        FROM
        tb_activity_list tal
        LEFT JOIN tb_activity_photo tap ON tap.actid = tal.actid
        WHERE
        1 = 1
				and tal.actid=#{actid}
    </select>
    <!-- 查询活动数据-->
    <select id="findActivityId" resultType="java.util.Map">
       select
       comments
       from
       tb_activity_list
       where
        actid = #{actid}
    </select>

    <!--    返回总数-->
    <select id="queryParticularsCount" resultType="java.lang.Integer">
        select
        count(3)
        from
        tb_activity_discuss
        where
        id
        between 1 and 3

    </select>

    <!--查询评论详情3条信息 -->
    <select id="findParticularsList" resultType="java.util.Map">
       select
       id,actid,uid,disid,context,addtime,reactid
       from
       tb_activity_discuss
       where
       actid = #{actid}
       order by
       addtime
       desc
       limit
	      3
    </select>

    <!-- 查询总数-->
    <select id="findParticularsListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_activity_discuss  where  actid = #{actid}
    </select>


    <!--查询评论详情 -->
    <select id="findParticularsByList" resultType="java.util.Map">
         select
       id ,actid,uid,context,addtime
       from
       tb_activity_discuss
       where
       actid = #{actid}
       order by
       addtime
       desc
       limit
	    #{pagesize}
	    offset
	    #{pageno}
    </select>

    <!--   根据活动名称模糊查询czd-->
    <select id="getLikeName" resultType="java.util.Map">
        SELECT
        tal.cname,
        tal.actid,
        tal.uid,
        tal.cid,
        tal.cdid,
        tal.context,
        tap.photo,
        tal.addtime,
        tal.votes,
        tal.comments,
        tal.READS,
        tal.shares,
        tal.acttheme,
        tal.actlogo
        FROM
        tb_activity_list tal
        LEFT JOIN tb_activity_photo tap ON tap.actid = tal.actid
        WHERE
        1 = 1
        <if test="keyword!= null and keyword != ''">
            AND tal.cname ~ #{keyword}
        </if>
        ORDER BY
        tal.addtime DESC
        LIMIT #{pagesize} OFFSET #{pageno}
    </select>

    <!--  查询 资源类型 资源ID 相关的数据-->
    <select id="queryRestypeList" resultType="java.util.Map">
        select
        id,restype,resid,ouid,addtime
        from
        tb_resource_view
        <where>
            <if test="restype != null">
                restype = #{restype}
            </if>
            and
            <if test="ouid != null">
                ouid = #{ouid}
            </if>
        </where>
    </select>

    <!-- 模糊查询总数-->
    <select id="likeActivityCount" resultType="java.lang.Integer">
        SELECT COUNT ( 1 )
        FROM
            tb_activity_list tal,
            tb_activity_photo tap
        WHERE
        1=1
            AND tal.actid = tap.actid
    </select>


    <select id="queryParticularsByIdCount" resultType="java.lang.Integer">
        select
        count(*)
        from
        tb_activity_discuss
    </select>

    <!-- 推广图片-->
    <select id="EnquiryCount" resultType="java.lang.Integer">
        select
        count(1)
        from
        tb_activity_list
        where status='1'
    </select>

    <!-- 查询活动图片-->
    <select id="queryActivityActid" resultType="java.util.Map">
        select  photo from tb_activity_photo where actid = #{actid}
    </select>


    <!--更新点赞数-->
    <update id="updateActpictureById" parameterType="java.util.Map">
         update
         tb_activity_list
         set votes = #{votes}
         where
         actid = #{resid}
    </update>

    <!--更新时间-->
    <update id="updatevotesId">
         update
         tb_resource_votes
         set
         addtime = #{addtime}
         where
         id = #{id}
    </update>
    <!-- 更新评论次数 -->
    <update id="updateComment" parameterType="java.util.Map">
        update
        tb_activity_list
        set
        comments = comments+1
        where
        actid = #{actid}
    </update>
    <!--添加评论信息    -->
    <insert id="insertHashMapById">
       insert
       into
       tb_activity_discuss(disid,uid,context,addtime,actid)
       values
       (#{disid},#{uid},#{context},#{addtime},#{actid})
    </insert>

    <!-- 发表一次评论信息,评论次数加一-->
    <update id="insertcomments">
       update
       tb_activity_list
       set
       comments = #{comments}
       where
       actid = #{actid}
    </update>
    <!--    更新阅读数-->
    <update id="updateReads">
           update
           tb_activity_list
           set
           reads = #{reads}
           where
           actid = #{actid}
    </update>

    <!--    更新时间-->
    <update id="updateAddTime">
           update
           tb_resource_view
           set
           addTime = #{addTime}
            where
           resid = #{resid}
    </update>


    <!-- 添加评论-->
    <insert id="addActivityDiscuss" parameterType="java.util.Map">
        insert into tb_activity_discuss(actid,disid,uid,context,reactid,addtime,status,summary) values
        (
        #{actid},
        #{disid},
        <choose>
            <when test="uid!=null and uid!=''">
                #{uid},
            </when>
            <otherwise>
                '0',
            </otherwise>
        </choose>
        #{context},
        <choose>
            <when test="reactid!=null and reactid!=''">
                #{reactid},
            </when>
            <otherwise>
                '0',
            </otherwise>
        </choose>
        #{addtime},
        #{status},
        <choose>
            <when test="summary!=null and summary!=''">
                #{summary}
            </when>
            <otherwise>
                NULL
            </otherwise>
        </choose>
        )
    </insert>


    <!-- 无登录添加点赞-->
    <update id="updateActivityVotes" parameterType="java.util.Map">
        update tb_activity_list set votes=votes+1 where actid=#{actid}
    </update>
    <!-- 无登录添加点赞-->
    <update id="updateActivityReads" parameterType="java.util.Map">
        update tb_activity_list set reads=reads+1 where actid=#{actid}
    </update>

    <!-- 查询点赞次数 浏览次数-->
    <select id="queryActivityCountNew" parameterType="java.util.Map" resultType="java.util.Map">
        select votes, reads
        from tb_activity_list where actid=#{actid}
    </select>

    <!--点击文章列表显示所有的文章列表的总数-->
    <select id="queryActivityListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        count(1)
        from
        tb_activity_list
        where
        status = #{status}
        <if test="cid != null and cid != ''">and cid = #{cid}</if>
        <if test="starttime != null and starttime != ''">and starttime &gt;= #{starttime}</if>
        <if test="endtime != null and endtime != ''">and starttime &lt;= #{endtime}</if>
        <if test="cname != null and cname != ''">and cname LIKE CONCAT( '%',#{cname},'%')</if>
    </select>

    <!--点击文章列表显示所有的文章列表-->
    <select id="queryActivityListData" parameterType="java.util.Map" resultType="java.util.Map">
        select
        actid,
        cname,
        actdesc,
        typeid,
        actlogo,
        uid,
        cid,
        acttheme,
        context,
        conclusion,
        votes,
        comments,
        reads,
        shares,
        status,
        to_char(to_timestamp(addtime / 1000), 'yyyy-MM-dd') as addtime,
        summary
        from
        tb_activity_list
        where
        status = #{status}
        <if test="cid != null and cid != ''">and cid = #{cid}</if>
        <if test="starttime != null and starttime != ''">and starttime &gt;= #{starttime}</if>
        <if test="endtime != null and endtime != ''">and starttime &lt;= #{endtime}</if>
        <if test="cname != null and cname != ''">and cname LIKE CONCAT( '%',#{cname},'%')</if>
        order by
        addtime desc
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>

    <!--点击新建后加入新建的活动文章内容-->
    <insert id="insertActivityList" parameterType="java.util.Map">
        INSERT INTO
        tb_activity_list (actid, cname, actkey, actdesc, typeid, actlogo, actpicture, uid, cid, cdid,
        acttheme, context, conclusion, starttime, endtime, votes, comments, reads, shares, awarddesc,
        adduid, addtime, status, summary)
        VALUES
        (
        #{actid},
        #{cname},
        <choose>
            <when test="actkey != null and actkey != ''">
                #{actkey},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="actdesc != null and actdesc != ''">
                #{actdesc},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="typeid != null and typeid != ''">
                #{typeid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="actlogo != null and actlogo != ''">
                #{actlogo},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="actpicture != null and actpicture != ''">
                #{actpicture},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{uid},
        <choose>
            <when test="cid != null and cid != ''">
                #{cid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="cdid != null and cdid != ''">
                #{cdid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="acttheme != null and acttheme != ''">
                #{acttheme},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="context != null and context != ''">
                #{context},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="conclusion != null and conclusion != ''">
                #{conclusion},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="starttime != null and starttime != ''">
                #{starttime},
            </when>
            <otherwise>
                #{addtime},
            </otherwise>
        </choose>
        <choose>
            <when test="endtime != null and endtime != ''">
                #{endtime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="votes != null and votes != ''">
                ${votes},
            </when>
            <otherwise>
                0,
            </otherwise>
        </choose>
        <choose>
            <when test="comments != null and comments != ''">
                ${comments},
            </when>
            <otherwise>
                0,
            </otherwise>
        </choose>
        <choose>
            <when test="reads != null and reads != ''">
                ${reads},
            </when>
            <otherwise>
                0,
            </otherwise>
        </choose>
        <choose>
            <when test="shares != null and shares != ''">
                ${shares},
            </when>
            <otherwise>
                0,
            </otherwise>
        </choose>
        <choose>
            <when test="awarddesc != null and awarddesc != ''">
                #{awarddesc},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{uid},
        #{addtime},
        <choose>
            <when test="status != null and status != ''">
                #{status},
            </when>
            <otherwise>
                '1',
            </otherwise>
        </choose>
        <choose>
            <when test="summary != null and summary != ''">
                #{summary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
        )
    </insert>

    <!-- 点击新建后加入新建的活动文章图片 -->
    <insert id="insertActivityPhoto" parameterType="java.util.List">
        insert into
        tb_activity_photo(actid, fileid, photo, idx, adduid, addtime, status, summary)
        values
        <foreach separator="," close="" open="" index="index" item="item" collection="list">
            (
            #{item.actid},
            #{item.fileid},
            #{item.photo},
            (select count(1)+1 from tb_activity_photo),
            #{item.uid},
            #{item.addtime},
            #{item.status},
            <choose>
                <when test="item.summary!=null and item.summary!=''">
                    #{item.summany}
                </when>
                <otherwise>
                    NULL
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>

    <!-- 点击修改时返回需要修改的信息 -->
    <select id="queryActivityData" parameterType="java.util.Map"
            resultType="java.util.Map">
        SELECT
        al.actid,
        al.cname,
        al.actkey,
        al.actdesc,
        al.typeid,
        al.actlogo,
        al.acttheme,
        al.context,
        al.conclusion,
        al.summary,
        ap.fileid,
        ap.photo,
        ap.summary as photosummary
        from
        tb_activity_list al
        left join
        tb_activity_photo ap
        on
        al.actid = ap.actid
        where
        al.status = '1'
        AND
        ap.status = '1'
        and
        al.actid = #{actid}
    </select>

    <!-- 点击修改后对活动文章进行修改 -->
    <update id="updateActivityData" parameterType="java.util.Map">
        update
        tb_activity_list
        set
        cname=#{cname},
        <if test="actlogo!= null">actlogo=#{actlogo},</if>
        actkey=#{actkey},
        actdesc=#{actdesc},
        <if test="typeid!= null">typeid=#{typeid},</if>
        context=#{context},
        upduid=#{uid},
        updtime=#{updtime}
        <if test="summary!= null">,summary=#{summary}</if>
        where
        actid=#{actid}
    </update>

    <!-- 点击修改后对活动文章进行修改 -->
    <insert id="updateActivityPhoto" parameterType="java.util.List">
        <foreach separator=";" close="" open="" index="index" item="item" collection="list">
            insert into
            tb_activity_photo(actid, fileid, photo, idx, adduid, addtime, status, summary)
            values
            (
            #{item.actid},
            #{item.fileid},
            #{item.photo},
            (select count(1)+1 from tb_activity_photo),
            #{item.uid},
            #{item.updtime},
            #{item.status},
            <choose>
                <when test="item.summary!=null and item.summary!=''">
                    #{item.summany}
                </when>
                <otherwise>
                    NULL
                </otherwise>
            </choose>
            )
            ON conflict(actid,fileid) DO UPDATE SET
            upduid = #{item.uid},
            status = '2',
            updtime = #{item.updtime}
        </foreach>
    </insert>

    <!-- 点击删除后对活动文章进行修改(即修改状态) -->
    <update id="deleteActivityData" parameterType="java.util.Map">
        update
        tb_activity_list
        set
        upduid=#{uid},
        updtime=#{updtime},
        status = #{status}
        where
        actid=#{actid}
    </update>

    <!-- 点击保存后对活动中的SEO优化进行修改 -->
    <update id="updateActivityDataSEO" parameterType="java.util.Map">
        UPDATE
        tb_activity_list
        SET
        pagekey = #{pagekey},
        pagedesc = #{pagedesc},
        upduid = #{uid},
        updtime = #{updtime}
        WHERE
        actid=#{actid}
    </update>
</mapper>