<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.activity.dao.ProductMapper">

    <!--  查询产品的总数  -->
    <select id="selectProductCount" resultType="java.lang.Integer">
          select
          count(*)
           from
           tb_product_list
    </select>

    <!--  查询产品总数  -->
    <select id="queryProductTotal" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from (SELECT pid, cname as name FROM tb_product_list where status = '1'
                       union
                       SELECT packid as pid, cname as name FROM tb_product_package where status = '1'
                      ) productlist
          <if test="cname != null">where name like '%${cname}%'</if>
    </select>

    <!--   查询产品列表   -->
    <select id="queryProductList" parameterType="java.util.Map" resultType="java.util.Map">
        select * from (SELECT pid, '1' as type, cid, plid, cname as name, version, showvsn, addtime, logo,
                              photo, pdesc, saleid, saleser, salephone, mail FROM tb_product_list where status = '1'
                       union
                       SELECT packid as pid, '2' as type, cid, plid, cname as name, '1' as version, '1.0' as showvsn,
                              addtime, logo, photo, pdesc, saleid, saleser, salephone, mail FROM tb_product_package where status = '1'
                      ) productlist
          <if test="cname != null">where name like '%${cname}%'</if>
          order by addtime desc limit #{pagesize} offset #{start};
    </select>

    <!-- 查询产品信息 -->
    <select id="selectProductList" resultType="java.util.Map">
        select
           plid,cname,logo,pdesc,manager,salephone,saleid,saleser,photo
         from
         tb_product_list
         order by
         updtime
         desc
         limit
         #{pagesize}
	    offset
	    #{pageno}

    </select>

    <!--  分页查询 产品包总数信息  -->
    <select id="selectProductPackageCount" resultType="java.lang.Integer">
        select
        count(*)
         from
         tb_product_package
    </select>

    <!--  产品包分页信息-->
    <select id="selectProductPackageList" resultType="java.util.Map">
      select
           plid,cname,logo,pdesc,manager,salephone,saleid,saleser,photo
         from
         tb_product_package
         order by
         addtime
         desc


    </select>

    <!-- 产品模糊查询-->
    <select id="likeProductList" resultType="java.util.Map">
        select
            plid,cname,logo,pdesc,manager,salephone,saleid,saleser,photo
         from
         tb_product_list
         where
         cname  like concat('%',#{cname},'%')
         order by
         updtime
         desc
         limit
         #{pagesize}
	    offset
	     #{pageno}
    </select>
    <!-- 产品包模糊查询-->
    <select id="likeProductPackageList" resultType="java.util.Map">
     select
            plid,cname,logo,pdesc,manager,salephone,saleid,saleser,photo
         from
         tb_product_package
           where
         cname  like concat('%',#{cname},'%')
         order by
         addtime
         desc
    </select>


    <!--    产品总数模糊查询-->
    <select id="likeProductCount" resultType="java.lang.Integer">
         select
         count(*)
         from
         tb_product_list
         where cname  like concat('%',#{cname},'%')
    </select>
    <!--    产品包总数模糊查询-->
    <select id="likeProductPackageCount" resultType="java.lang.Integer">
         select count(*) from tb_product_package where cname  like concat('%',#{cname},'%')
    </select>
</mapper>