<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.activity.dao.TbScoreActivityListMapper">
    <!--查询活动总数-->
    <select id="getCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_activity_list where uid = #{uid}
    </select>

    <!--查询活动列表-->
    <select id="getActivity" parameterType="java.util.Map" resultType="java.util.Map">
        select
            actid,
            addtime,
            cname,
            actdesc,
            cid,
            cdid,
            comments,
            reads,
            shares
        from
           tb_activity_list
        where
            uid=#{uid}
        order by
        id desc
            LIMIT #{pagesize}
            OFFSET #{pageno}

    </select>

</mapper>