<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.jzb.oauth.dao.JzbUserMapper">
	<!-- 根据用户手机号查询用户的信息 -->
	<select id="queryUserByPhone" parameterType="java.util.Map"
		resultType="java.util.Map">
		SELECT k.uid, k.keyid, u.cname, u.nickname, u.passwd FROM
		      (SELECT uid, keyid FROM tb_user_key WHERE ktid = 1 AND uid = #{phone} AND status in ('1','8')) k
			  INNER JOIN tb_user_list u ON k.uid = u.uid;
	</select>
</mapper>
