<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.auth.dao.AuthInfoMapper">

    <select id="getUserByUids" parameterType="java.util.Map"  resultType="java.util.Map">
        SELECT
        string_agg(DISTINCT(portrait),',') as portraits ,
        string_agg(DISTINCT(cname),',') as uname
        from tb_user_list WHERE status='1' and uid IN
        <foreach item="item" index="index" collection="uids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
