<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.auth.dao.CompanyListMapper">


    <!--根据用户姓名获取id合集-->
    <select id="searchUidByUidCname" resultType="java.lang.String">
        SELECT COALESCE ( string_agg ( DISTINCT ul.uid, ',' ), '' ) AS uids FROM tb_user_list ul
        <if test=" uids != null and uids != '' ">
            INNER JOIN (SELECT regexp_split_to_table( #{uids},',' ) AS uid ) sl on sl.uid = ul.uid
        </if>
        WHERE ul.cname ~ #{value}

    </select>


</mapper>
