<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.auth.dao.RoleMapper">

    <!--新建角色组-->
    <insert id="insertRoleGroup" parameterType="java.util.Map">
        INSERT INTO tb_role_group ( cid, crgid, cname, ouid, addtime, status )
        VALUES
            (#{cid},#{crgId},#{cname},#{uid},#{addTime},#{status})
    </insert>
    <!--新增角色组关联信息-->
    <insert id="insertRoleRelation">
        INSERT INTO tb_role_relation ( cid, crgid, rrid, rrtype, ouid, addtime, status )
        VALUES
            (#{cid},#{crgid},#{rrid},#{rrtype},#{uid},#{time},#{status})
    </insert>
    <!--新增角色信息-->
    <insert id="insertCompanyRole">
        INSERT INTO tb_company_role ( cid, crid, pcrid, cname, ouid, addtime, status )
        VALUES
            (#{cid},#{crid},#{pcrid},#{cname},#{uid},#{addtime},#{status})
    </insert>
    <!--保存角色组菜单表-->
    <insert id="insertRoleMenuAuth">
        INSERT INTO tb_role_menu_auth ( cid, crgid, ptype, pid, mid, pageid, ouid, addtime, status )
        <foreach separator="UNION" close="" open="" index="index" item="item" collection="list">
            SELECT
            #{item.cid},#{item.crgid},#{item.ptype},#{item.pid},#{item.mid},#{item.pageid},#{item.ouid},#{item.addtime},#{item.status}
            WHERE
            NOT EXISTS (
            SELECT
            1
            FROM
            tb_role_menu_auth
            WHERE
            cid = #{ item.cid }
            AND crgid = #{ item.crgid }
            AND ptype = #{ item.ptype }
            AND pid = #{ item.pid }
            AND mid = #{ item.mid }
            <choose>
                <when test=" item.pageid != null and item.pageid !=''">
                    AND pageid =#{ item.pageid }
                </when>
                <otherwise>
                    AND pageid is null
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>
    <!--批量保存角色组功能权限表-->
    <insert id="insertRoleControlAuth">
        INSERT INTO tb_role_control_auth ( cid, crgid, pageid, controlid, ouid, addtime, updtime )
        <foreach separator="UNION" close="" open="" index="index" item="item" collection="list">
            SELECT
            #{item.cid},#{item.crgid},#{item.pageid},#{item.controlid},#{item.ouid},#{item.addtime},#{item.updtime}
            WHERE
            NOT EXISTS ( SELECT 1 FROM tb_role_control_auth WHERE cid =#{item.cid} AND crgid =#{item.crgid} AND pageid
            =#{item.pageid}
            <choose>
                <when test=" item.controlid != null and item.controlid !=''">
                    AND controlid =#{item.controlid}
                </when>
                <otherwise>
                    AND controlid is null
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>
    <!--批量添加用户到用户角色表-->
    <insert id="insertUserRole">
        <foreach separator=";" close="" open="" index="index" item="item" collection="list">
            INSERT INTO tb_user_role (cid,crid,uid,addtime,updtime,status)
            VALUES
            (#{item.cid},#{item.crid},#{item.uid},#{item.addtime},#{item.updtime},#{item.status})
            ON conflict (cid, crid, uid) DO UPDATE
            SET status = '1'
        </foreach>
    </insert>

    <!--逻辑删除角色组数据-->
    <update id="updateRoleGroup">
        UPDATE tb_role_group
        SET status = '2'
        WHERE
            crgid =#{crgid};
      update tb_role_relation set status = '2' where crgid = #{crgid};
    </update>
    <!--修改角色组信息-->
    <update id="updateRoleGroup1">
        UPDATE tb_role_group
        SET ouid=#{uid},updtime=#{updTime},cname=#{cname}
        WHERE
            crgid =#{crgid}
    </update>
    <!--修改角色组关联表状态-->
    <update id="updateRoleRelation">
        UPDATE tb_role_relation
        SET ouid = #{uid},
        updtime = #{time},
        status = #{status}
        WHERE
            rrid = #{rrid}
            AND rrtype = #{rrtype}
            AND crgid = #{crgid}
    </update>
    <!--角色信息(修改状态)-->
    <update id="updateCompanyRole">
        UPDATE tb_company_role
        <set>
            <if test="status !=null and status!=''">
                status =#{status} ,
            </if>
            <if test="cname !=null and cname!=''">
                cname = #{cname},
            </if>
            ouid =#{uid} ,
            updtime =#{updtime}
        </set>
        WHERE
        cid =#{cid}
        AND crid=#{crid}
    </update>
    <!--批量修改用户角色表状态-->
    <update id="updateUserRole">
        <foreach separator=";" close="" open="" index="index" item="item" collection="list">
            UPDATE tb_user_role
            SET updtime =#{item.updtime},
            status =#{item.status}
            WHERE
            cid = #{item.cid} and
            crid = #{item.crid} and
            uid = #{item.uid}
        </foreach>
    </update>
    <!--批量修改菜单选中状态-->
    <update id="updateRoleMenuAuthList" parameterType="java.util.Map">
        <foreach collection="list" index="" item="item" separator=";" close="" open="">
            UPDATE tb_role_menu_auth
            SET status =#{item.status},
            updtime =#{item.updtime},
            ouid = #{item.ouid}
            WHERE
            cid = #{item.cid}
            AND crgid = #{item.crgid}
            AND ptype = #{item.ptype}
            AND pid = #{item.pid}
            <if test=" item.mid !=null and item.mid != '' ">AND mid = #{item.mid}</if>
            <if test=" item.pageid != null and item.pageid!=''">AND pageid=#{item.pageid}</if>
        </foreach>
    </update>
    <!--单个修改菜单选中状态-->
    <update id="updateRoleMenuAuth">
        UPDATE tb_role_menu_auth
        SET status =#{status},
        updtime =#{updtime},
        ouid = #{ouid}
        WHERE
        cid = #{cid}
        AND crgid = #{crgid}
        AND ptype = #{ptype}
        AND pid = #{pid}
        <if test="mid !=null and mid != '' ">AND mid = #{mid}</if>
        <if test=" pageid != null and pageid!=''">AND pageid=#{pageid}</if>
    </update>
    <!--单个修改角色组功能权限表-->
    <update id="updateRoleControlAuth">
        <choose>
            <when test=" pageid != null and pageid !=''">
                UPDATE tb_role_control_auth
                SET status =#{status},
                updtime =#{updtime},
                ouid =#{ouid}
                WHERE
                cid =#{cid}
                AND crgid =#{crgid}
                AND pageid =#{pageid}
                <if test="controlid !=null and controlid != ''">
                    AND controlid=#{controlid}
                </if>
            </when>
            <otherwise>
                UPDATE tb_role_control_auth
                SET status =#{status},
                updtime =#{updtime},
                ouid =#{ouid}
                FROM
                tb_role_menu_auth ma
                WHERE
                tb_role_control_auth.cid = ma.cid
                AND tb_role_control_auth.crgid = ma.crgid
                AND tb_role_control_auth.pageid = ma.pageid

                AND ma.cid =#{cid}
                AND ma.crgid =#{crgid}
                AND ma.pid =#{pid}
                <if test="mid !=null and mid != '' ">AND ma.mid =#{mid}</if>
                <if test="controlid !=null and controlid != ''">
                    AND tb_role_control_auth.controlid =#{controlid}
                </if>
                AND ma.ptype= #{ptype}
            </otherwise>
        </choose>
    </update>
    <!--批量修改角色组功能权限表-->
    <update id="updateRoleControlAuthList">
        <foreach collection="list" index="" item="item" separator=";" close="" open="">
            <choose>
                <when test=" item.pageid != null and item.pageid !=''">
                    UPDATE tb_role_control_auth
                    SET status =#{item.status},
                    updtime =#{item.updtime},
                    ouid =#{item.ouid}
                    WHERE
                    cid =#{item.cid}
                    AND crgid =#{item.crgid}
                    AND pageid =#{item.pageid}
                    <if test="item.controlid !=null and item.controlid != ''">
                        AND controlid=#{item.controlid}
                    </if>
                </when>
                <otherwise>
                    UPDATE tb_role_control_auth
                    SET status =#{item.status},
                    updtime =#{item.updtime},
                    ouid =#{item.ouid}
                    FROM
                    tb_role_menu_auth ma
                    WHERE
                    tb_role_control_auth.cid = ma.cid
                    AND tb_role_control_auth.crgid = ma.crgid
                    AND tb_role_control_auth.pageid = ma.pageid

                    AND ma.cid =#{item.cid}
                    AND ma.crgid =#{item.crgid}
                    AND ma.pid =#{item.pid}
                    <if test="item.mid !=null and item.mid != '' ">AND ma.mid =#{item.mid}</if>
                    <if test="item.controlid !=null and item.controlid != ''">
                        AND tb_role_control_auth.controlid =#{item.controlid}
                    </if>
                    AND ma.ptype= #{item.ptype}
                </otherwise>
            </choose>
        </foreach>
    </update>


    <!--获取角色组总数-->
    <select id="queryRoleCount" resultType="java.lang.Integer">
        SELECT count(1) FROM tb_role_group WHERE cid =#{cid} and status='1'
    </select>

    <!--根据企业id获取角色组信息-->
    <select id="queryRoleList" resultType="java.util.Map" parameterType="java.util.Map">
                SELECT
                    cid,
                    crgid,
                    cname
                FROM
                    tb_role_group
                WHERE
                    cid =#{cid} and status='1' order by cid
                LIMIT #{pagesize}  OFFSET #{start}
    </select>


    <!--获取角色组角色关联表总数-->
    <select id="queryRelationCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT COUNT(1) FROM tb_role_relation WHERE status='1' AND crgid = #{crgid}
        <if test=" rrtype !=null and rrtype !=''">AND rrtype=#{rrtype}</if>
    </select>
    <!--获取角色组角色关联表信息-->
    <select id="queryRelationList" resultType="java.util.LinkedHashMap">
        SELECT
        re.cid,
        re.crgid,
        re.rrtype,
        re.rrid,
        CASE
        rrtype
        WHEN '4' THEN
        u.cname
        WHEN '2' THEN
        cr.cname
        ELSE re.rrid
        END as rrmc,u.summary,u.relphone
        FROM
        tb_role_relation re
        LEFT JOIN tb_user_list u ON u.uid = re.rrid
        LEFT JOIN tb_company_role cr ON cr.crid = re.rrid
        WHERE re.status='1' AND re.crgid = #{crgid}
        <if test=" rrtype !=null and rrtype !=''">AND re.rrtype=#{rrtype}</if>

        ORDER BY rrtype,re.id
        LIMIT #{pagesize} OFFSET #{start}
    </select>

    <!--查询角色组菜单表是否有数据-->
    <select id="queryRoleMenuAuth" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            tb_role_menu_auth
        WHERE
            crgid = #{crgid}
            AND pid =#{pid}
            and ptype=#{ptype}
            and cid=#{cid}
    </select>
    <!--查询角色组所有勾选的有效权限信息-->
    <select id="queryRoleMenuAuthList" resultType="java.util.Map">
        SELECT
            crgid,
            ptype,
            pid,
            mid AS ID,
            status
        FROM
            tb_role_menu_auth
        WHERE
            status = '1'
            AND cid =#{cid}
            AND crgid = #{crgid}
            AND pid = #{pid}
            AND ptype =#{ptype} UNION
        SELECT
            crgid,
            ptype,
            pid,
            pageid AS ID,
            status
        FROM
            tb_role_menu_auth
        WHERE
            status = '1'
            AND cid =#{cid}
            AND crgid = #{crgid}
            AND pid = #{pid}
            AND ptype =#{ptype} UNION
        SELECT
            ca.crgid,
            ma.ptype,
            ma.pid,
            ca.controlid AS ID,
            ca.status
        FROM
            tb_role_control_auth ca
            LEFT JOIN tb_role_menu_auth ma ON ca.cid = ma.cid
            AND ca.crgid = ma.crgid
            AND ca.pageid = ma.pageid
        WHERE
            ca.status != '2'
            AND ma.cid =#{cid}
            AND ma.crgid = #{crgid}
            AND ma.pid = #{pid}
            AND ma.ptype =#{ptype}
    </select>
    <!--查询关联表是否已有该关联信息-->
    <select id="queryRoleRa" resultType="java.lang.Integer">
        SELECT
	count(1)
        FROM
            tb_role_relation
        WHERE
         rrid = #{rrid}
         AND
         rrtype = #{rrtype}
         AND
        crgid = #{crgid}


    </select>
    <!--根据角色名称查询角色id-->
    <select id="queryCompanyRole" resultType="java.util.Map" parameterType="java.util.Map">
    SELECT
        crid,
        cname
    FROM
        tb_company_role
    WHERE
        cid =#{cid}
        AND cname =#{cname} AND status in ('1')
        AND crid !=#{crid}
    </select>
    <!--查询角色总数-->
    <select id="queryCompanyRoleCount" resultType="java.lang.Integer">
        SELECT COUNT( 1 )
        FROM
            tb_company_role
        WHERE
            cid = #{cid}
            AND status IN ('1','2')
    </select>
    <select id="queryCompanyRoleList" resultType="java.util.LinkedHashMap">
        SELECT
            cid,
            crid,
            pcrid,
            cname,
            addtime,
            updtime,
            status
        FROM
            tb_company_role
        WHERE
            cid = #{ cid }
            AND status IN ( '1', '2' )
        ORDER BY
            crid  LIMIT #{pagesize}  OFFSET #{start}
    </select>

    <select id="queryUserDeptGroup" resultType="java.util.LinkedHashMap">
        <foreach collection="list" index="" item="item" separator="union all" close="" open="">
            SELECT ul.uid, #{item.cdid} AS cdid,ul.authid,gr.rgnames,gr.crgids
            FROM
            tb_user_list ul
            LEFT JOIN (
            SELECT
            #{item.uid} AS uid,
            COALESCE ( string_agg ( rg.cname, ',' ), '' ) AS rgnames,COALESCE ( string_agg ( rg.crgid, ',' ), '' ) AS
            crgids
            FROM
            tb_role_relation rr
            RIGHT JOIN tb_role_group rg ON rg.status = '1'
            AND rg.cid = #{cid}
            AND rr.status = '1'
            AND rg.crgid = rr.crgid
            AND rg.cid = rr.cid
            WHERE
            EXISTS (
            SELECT
            1
            FROM
            tb_user_role ur
            WHERE
            ur.status = '1'
            AND ur.uid = #{item.uid}
            AND ur.crid = rr.rrid
            AND rr.rrtype = '2'
            )
            OR ( rr.rrid = #{item.uid} AND rr.rrtype = '4' )
            OR ( rr.rrid = #{item.cdid} AND rr.rrtype = '1' )
            ) gr ON gr.uid = ul.uid
            WHERE ul.uid = #{item.uid}
        </foreach>
    </select>
    <!--用户角色总数-->
    <select id="queryUserRoleCount" resultType="java.lang.Integer">
            SELECT count(1)
            FROM
                tb_user_role
            WHERE
                status = '1'
                AND cid =#{cid}
                AND crid = #{crid}
    </select>
    <!--用户角色表list-->
    <select id="queryUserRoleList" resultType="java.util.LinkedHashMap">
        SELECT
            ur.crid,
            ur.uid,
            ul.cname,ul.summary,ul.relphone
        FROM
            tb_user_role ur
            LEFT JOIN tb_user_list ul ON ur.uid = ul.uid
        WHERE
            ur.status = '1'
            AND cid =#{cid}
                AND crid = #{crid}
                ORDER BY ur.id LIMIT #{pagesize}  OFFSET #{start}
    </select>


</mapper>
