<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.message.dao.MessageTypeMapper">


    <!-- 查询 -->
    <select id="queryMsgType" resultType="java.util.Map" parameterType="java.util.Map">
        select msgtype,typename,typedesc,summary from tb_message_type where status = '1'
        <choose><when test="msgtype != null">and msgtype = #{msgtype}</when></choose>
        limit  #{pagesize}  offset #{pageno}
    </select>

    <!-- 查询总数 -->
    <select id="queryMsgTypeCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from tb_message_type where status = '1'
        <choose><when test="msgtype != null">and msgtype = #{msgtype}</when></choose>
    </select>

    <!-- 模糊查询 -->
    <select id="searchMsgType" resultType="java.util.Map" parameterType="java.util.Map">
        select msgtype,typename,typedesc,summary from tb_message_type where status = '1'
        and typename like CONCAT('%',#{typename},'%')
        limit  #{pagesize}  offset #{pageno}
    </select>

    <!-- 模糊查询总数 -->
    <select id="searchMsgTypeCount" resultType="java.lang.Integer" parameterType="java.util.Map">
         select count(1) from tb_message_type where status = '1'
         and typename like CONCAT('%',#{typename},'%')
    </select>

    <!-- 添加 -->
    <insert id="insertMsgType" parameterType="java.util.Map">
        INSERT INTO tb_message_type ( msgtype, typename, typedesc, addtime, ouid, updtime, status, summary )
        VALUES
        ( #{msgtype},
        #{typename},
        #{typedesc},
        #{addtime},
        <choose>
            <when test="ouid != null">#{ouid}</when>
            <otherwise>null</otherwise>
        </choose>,
        #{updtime},
        #{status},
        <choose>
            <when test="summary != null">#{summary}</when>
            <otherwise>null</otherwise>
        </choose>
        );
    </insert>

    <!-- 修改 -->
    <update id="updateMsgType" parameterType="java.util.Map">
        update tb_message_type set updtime = #{updtime}
        <choose>
            <when test="msgtype != null">,msgtype = #{msgtype}</when>
        </choose>
        <choose>
            <when test="typename != null">,typename = #{typename}</when>
        </choose>
        <choose>
            <when test="typedesc != null">,typedesc = #{typedesc}</when>
        </choose>
        <choose>
            <when test="ouid != null">,ouid = #{ouid}</when>
        </choose>
        <choose><when test="summary != null">,summary = #{summary}</when></choose>
        where msgtype  = #{msgtype}
    </update>

    <!-- 禁用 -->
    <update id="removeMsgType" parameterType="java.util.Map">
        update  tb_message_type set  status = '2' , updtime = #{updtime}
        <choose><when test="ouid != null">,ouid = #{ouid}</when></choose>
        where msgtype  = #{msgtype}
    </update>


</mapper>
