<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.message.dao.MessageListMapper">


    <!-- 查询 -->
    <select id="queryMsgList" resultType="java.util.Map" parameterType="java.util.Map">
        select msgid,cid,groupid,senduid,sendname,msgtag,title,context,usertype,receiver,sendstatus from tb_message_list
        where status = '1'
        <choose><when test="msgid != null">and msgid = #{msgid}</when></choose>
        <choose><when test="cid != null">and cid = #{cid}</when></choose>
        <choose><when test="groupid != null">and groupid = #{groupid}</when></choose>
        <choose><when test="senduid != null">and senduid = #{senduid}</when></choose>
        <choose><when test="msgtag != null">and msgtag = #{msgtag}</when></choose>
        <choose><when test="sendname != null">and sendname = #{sendname}</when></choose>
        <choose><when test="sendstatus != null">and sendstatus = #{sendstatus}</when></choose>
        limit  #{pagesize}  offset #{pageno}
    </select>

    <!-- 查询总数 -->
    <select id="queryMsgListCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from tb_message_list where status = '1'
        <choose><when test="msgid != null">and msgid = #{msgid}</when></choose>
        <choose><when test="cid != null">and cid = #{cid}</when></choose>
        <choose><when test="groupid != null">and groupid = #{groupid}</when></choose>
        <choose><when test="senduid != null">and senduid = #{senduid}</when></choose>
        <choose><when test="msgtag != null">and msgtag = #{msgtag}</when></choose>
        <choose><when test="sendname != null">and sendname = #{sendname}</when></choose>
        <choose><when test="sendstatus != null">and sendstatus = #{sendstatus}</when></choose>
    </select>

    <!-- 模糊查询 -->
    <select id="searchMsgList" resultType="java.util.Map" parameterType="java.util.Map">
        select msgid,cid,groupid,senduid,sendname,msgtag,title,context,usertype,receiver,sendstatus from tb_message_list
         where status = '1' and sendname like CONCAT('%',#{sendname},'%')
        limit  #{pagesize}  offset #{pageno}
    </select>

    <!-- 模糊查询总数 -->
    <select id="searchMsgListCount" resultType="java.lang.Integer" parameterType="java.util.Map">
         select count(1) from tb_message_list where status = '1' and sendname like CONCAT('%',#{sendname},'%')
   </select>
</mapper>
