<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.message.dao.MessageGroupTemplateMapper">


    <!-- 查询 -->
    <select id="queryMsgGroupTemplate" resultType="java.util.Map" parameterType="java.util.Map">
        select tempid,cid,groupid,msgtype,tempname,context,remark from tb_msg_group_template where status = '1'
        limit  #{rows}  offset #{page}
    </select>

    <!-- 查询总数 -->
    <select id="queryMsgGroupTemplateCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from tb_msg_group_template where status = '1'
    </select>

    <!-- 模糊查询 -->
    <select id="searchMsgGroupTemplate" resultType="java.util.Map" parameterType="java.util.Map">
        select tempid,cid,groupid,msgtype,tempname,context,remark from tb_msg_group_template  where status = '1' and tempname ~ #{tempname}
        limit  #{rows}  offset #{page}
    </select>

    <!-- 模糊查询总数 -->
    <select id="searchMsgGroupTemplateCount" resultType="java.lang.Integer" parameterType="java.util.Map">
         select count(1) from tb_msg_group_template  where status = '1' and tempname ~ #{tempname}
    </select>

    <!-- 添加 -->
    <insert id="insertMsgGroupTemplate" parameterType="java.util.Map">
        INSERT INTO tb_msg_group_template ( tempid, cid, groupid, msgtype, tempname, context, remark,
        status,summary,adduid,upduid,updtime,addtime )
        VALUES
        ( #{tempid},
        #{cid},
        #{groupid},
        #{msgtype},
        #{tempname},
        #{context},
        #{remark},
        #{status},
        #{summary},
        #{adduid},
        #{upduid},
        #{updtime},
        <choose>
            <when test="addtime != null">#{addtime}</when>
            <otherwise>null</otherwise>
        </choose>
        );
    </insert>

    <!-- 修改 -->
    <update id="updateMsgGroupTemplate" parameterType="java.util.Map">
        update tb_msg_group_template set addtime = #{addtime}
        <choose>
            <when test="tempid != null">,tempid = #{tempid}</when>
        </choose>
        <choose>
            <when test="cid != null">,cid = #{cid},</when>
        </choose>
        <choose>
            <when test="groupid != null">,groupid = #{groupid}</when>
        </choose>
        <choose>
            <when test="msgtype != null">,msgtype = #{msgtype}</when>
        </choose>
        <choose>
            <when test="tempname != null">,tempname = #{tempname}</when>
        </choose>
        <choose>
            <when test="context != null">,context = #{context}</when>
        </choose>
        <choose>
            <when test="remark != null">,remark = #{remark}</when>
        </choose>
        <choose>
            <when test="summary != null">,summary = #{summary}</when>
        </choose>
        <choose>
            <when test="adduid != null">,adduid = #{adduid}</when>
        </choose>
        <choose>
            <when test="upduid != null">,upduid = #{upduid}</when>
        </choose>
        <choose>
            <when test="updtime != null">,updtime = #{updtime}</when>
        </choose>
        status = #{status}
        where tempid = #{tempid}
    </update>

    <!-- 删除 -->
    <update id="removeMsgGroupTemplate" parameterType="java.util.Map">
        update  tb_msg_group_template set  status = '2' where tempid = #{tempid}
    </update>

</mapper>
