<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.resource.dao.AdvertMapper">

    <!--    查询图片信息-->
    <select id="queryAdvertisingList" resultType="java.util.Map">
        select photo from tb_advert_list
    </select>
</mapper>