<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.resource.dao.StandardMapper">

    <!--    查询父子关系-->
    <select id="queryFatherOne" resultType="java.util.Map">
    with recursive moth as(
    select
	   id,
		 typeid,
		 cname,
		 typecode,
		 parentid,
		 typedesc,
		 idx,
		 adduid,
		 addtime,
		 upduid,
		 updtime,
		 status
	   from
	   tb_standard_type
		 where parentid = '0000000'
		 and status = '1'

		 union all

		 select
	     tst.id,
		 tst.typeid,
		 tst.cname,
		 tst.typecode,
		 tst.parentid,
		 tst.typedesc,
		 tst.idx,
		 tst.adduid,
		 tst.addtime,
		 tst.upduid,
		 tst.updtime,
		 tst.status

	   from
	   tb_standard_type tst
		 join moth on tst.parentid = moth.typeid
		 and tst.status = '1'
     )

      select moth.*

      from moth
      order by
            moth.idx asc

    </select>

    <!--	标准文档总数-->
    <select id="queryDocumentsCount" resultType="java.lang.Integer" parameterType="java.util.Map">
	     select count(1) from tb_standard_document where typeid=#{typeid} and status!='4'
	</select>

    <!--	标准文档查询-->
    <select id="queryDocumentsList" resultType="java.util.Map">
        select
        domid,typeid,domcode,cname,photo,domfname,domfpath,domftype,domdesc,department,effective,stdrange,domurl,idx,uid,uname,createtime,pagekey,pagedesc,visits,forwards,downloads,price,adduid,addtime,upduid,updtime,status,summary
        from
        tb_standard_document
        where
        typeid = #{typeid}
        and status!='4'
        <if test="keyword != null and keyword != ''">
            and cname ~ #{keyword}
        </if>
        ORDER BY
        addtime
        desc
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>

    <!--    查询文档详情-->
    <select id="queryDocumentDesc" parameterType="java.util.Map" resultType="java.util.Map">
		select domid,typeid,domcode,cname,photo,domfname,domfpath,domftype,domtitle,domdesc,department,effective,stdrange,domurl,context,idx,uid,uname,createtime,pagekey,pagedesc,visits,forwards,downloads,price,adduid,addtime,upduid,updtime,status,summary from tb_standard_document where domid=#{domid} and status!='4'
	</select>

    <!--查询热门榜-->
    <select id="queryHotDom" parameterType="java.util.Map" resultType="java.util.Map">
        select domid,cname,idx,visits from tb_standard_document where status!='4' order by visits desc limit #{count}
    </select>

</mapper>