<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.resource.dao.TbContractTemplateItemMapper">

    <!-- 根据模板查询项-->
    <select id="quertContractTemplateItemByTempid" parameterType="java.util.Map" resultType="java.util.Map">
        select id,tempid,itemid,cname,itemtype,controlid,datasize,defaultvalue,idx,ouid,addtime,updtime,status,summary
        from tb_contract_template_item where status!='4' and tempid=#{tempid} order by idx asc
    </select>

    <!-- 修改合同项-->
    <update id="updateContractTemplateItem" parameterType="java.util.Map">
            update tb_contract_template_item
            set
            <if test="cname!= null and cname!=null">
                cname=#{cname},
            </if>
            <if test="itemtype!= null and itemtype!=null">
                itemtype=#{itemtype},
            </if>
            <if test="controlid!= null and controlid!=null">
                controlid=#{controlid},
            </if>
            <if test="datasize!= null and datasize!=null">
                datasize=#{datasize},
            </if>
            <if test="defaultvalue!= null and defaultvalue!=null">
                defaultvalue=#{defaultvalue},
            </if>
            <if test="idx!= null and idx!=null">
                idx=#{idx},
            </if>
            <if test="ouid!= null and ouid!=null">
                ouid=#{ouid},
            </if>
            <if test="addtime!= null and addtime!=null">
                idx=#{addtime},
            </if>
            <if test="status!= null and status!=null">
                status=#{status},
            </if>
            <if test="summary!= null and summary!=null">
                summary=#{summary},
            </if>
         <if test="updtime!= null and updtime!=null">
            updtime=#{updtime}
         </if>
            where itemid=#{itemid}
    </update>

    <!-- 添加合同项-->
    <insert id="addContractTemplateItem" parameterType="java.util.List">
        insert into tb_contract_template_item(tempid,itemid,cname,itemtype,controlid,datasize,defaultvalue,idx,ouid,addtime,updtime,status,summary)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.tempid},
            #{item.itemid},
            <choose>
                <when test="item.cname != null  and item.cname != '' ">
                    #{item.cname},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.itemtype != null  and item.itemtype != '' ">
                    #{item.itemtype},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.controlid != null  and item.controlid != '' ">
                    #{item.controlid},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.datasize != null  and item.datasize != '' ">
                    #{item.datasize},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.defaultvalue != null  and item.defaultvalue != '' ">
                    #{item.defaultvalue},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.idx != null  and item.idx != '' ">
                    cast(#{item.idx} as integer),
                </when>
                <otherwise>
                   select count(1)+#{index} from  tb_contract_template_item,
                </otherwise>
            </choose>
            <choose>
                <when test="item.ouid != null  and item.ouid != '' ">
                    #{item.ouid},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.addtime != null  and item.addtime != '' ">
                    #{item.addtime},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.updtime != null  and item.updtime != '' ">
                    #{item.updtime},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.status != null  and item.status != '' ">
                    #{item.status},
                </when>
                <otherwise>
                    1,
                </otherwise>
            </choose>
            <choose>
                <when test="item.summary != null  and item.summary != '' ">
                    #{item.summary}
                </when>
                <otherwise>
                    null
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>

    <insert id="addContractTemplateItems" parameterType="java.util.Map">
        insert into tb_contract_template_item(tempid,itemid,cname,itemtype,controlid,datasize,defaultvalue,idx,ouid,addtime,updtime,status,summary)
        values
            (
            #{tempid},
            #{itemid},
            <choose>
                <when test="cname != null  and cname != '' ">
                    #{cname},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="itemtype != null  and itemtype != '' ">
                    #{itemtype},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="controlid != null  and controlid != '' ">
                    #{controlid},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="datasize != null  and datasize != '' ">
                    #{datasize},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="defaultvalue != null  and defaultvalue != '' ">
                    #{defaultvalue},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="idx != null  and idx != '' ">
                    cast(#{idx} as integer),
                </when>
                <otherwise>
                    select count(1)+#{index} from  tb_contract_template_item,
                </otherwise>
            </choose>
            <choose>
                <when test="ouid != null  and ouid != '' ">
                    #{ouid},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="addtime != null  and addtime != '' ">
                    #{addtime},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="updtime != null  and updtime != '' ">
                    #{updtime},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="status != null  and status != '' ">
                    #{status},
                </when>
                <otherwise>
                    1,
                </otherwise>
            </choose>
            <choose>
                <when test="summary != null  and summary != '' ">
                    #{summary}
                </when>
                <otherwise>
                    null
                </otherwise>
            </choose>
            )
    </insert>
    <!-- 根据模板查询项-->
    <select id="quertContractTemplateItemByItemid" parameterType="java.util.Map" resultType="java.util.Map">
        select tempid,itemid,cname,itemtype,controlid,datasize,defaultvalue,idx,ouid,addtime,updtime,status,summary
        from tb_contract_template_item where status!='4' and itemid=#{itemid} order by idx asc
    </select>




</mapper>