<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.resource.dao.TbMethodTargetMapper">

    <!--1.查询方法论目标-->
    <select id="queryMethodTarget" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            dataid,
            tarkey,
            cname,
            controltype,
            datatype,
            datasize
        FROM
            tb_method_target
        WHERE
            dataid = #{ dataid }
            AND status = '1'
            order by addtime
    </select>

    <!--2.添加方法论目标-->
    <insert id="addMethodTarget" parameterType="java.util.List">
        <foreach collection="list" item="method" separator=";">
        insert into
        tb_method_target(dataid,tarkey,cname,controltype,datatype,datasize,canempty,regex,typedesc,idx,ouid,addtime,updtime,status,summary)
        values
            (
            #{method.dataid},
            #{method.tarkey},
            <choose>
                <when test="method.cname !=null">
                    #{method.cname},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="method.controltype !=null">
                    #{method.controltype},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            #{method.datatype},
            <choose>
                <when test="method.datasize !=null">
                    #{method.datasize},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="method.canempty !=null">
                    #{method.canempty},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="method.regex !=null">
                    #{method.regex},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="method.typedesc !=null">
                    #{method.typedesc  },
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="method.idx !=null">
                    #{method.idx},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="method.ouid !=null">
                    #{method.ouid},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="method.addtime !=null">
                    #{method.addtime},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="method.updtime !=null">
                    #{method.updtime},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="method.status !=null">
                    #{method.status},
                </when>
                <otherwise>
                    1,
                </otherwise>
            </choose>
            <choose>
                <when test="method.summary !=null">
                    #{method.summary}
                </when>
                <otherwise>
                    null
                </otherwise>
            </choose>
            )
            ON conflict(dataid,tarkey) DO update
            <trim prefix="set" suffixOverrides="," suffix="  where tb_method_target.dataid=#{method.dataid} and tb_method_target.tarkey=#{method.tarkey} ">
            <if test="method.cname !=null">cname=#{method.cname},</if>
            <if test="method.controltype !=null">controltype=#{method.controltype},</if>
            <if test="method.datatype !=null">datatype=#{method.datatype},</if>
            <if test="method.datasize !=null">datasize=#{method.datasize},</if>
            <if test="method.canempty !=null">canempty=#{method.canempty},</if>
            <if test="method.regex !=null">regex=#{method.regex},</if>
            <if test="method.typedesc !=null">typedesc=#{method.typedesc},</if>
            <if test="method.idx !=null">idx=#{method.idx},</if>
            <if test="method.ouid !=null">ouid=#{method.ouid},</if>
            <if test="method.addtime !=null">addtime=#{method.addtime},</if>
            <if test="method.updtime !=null">updtime=#{method.updtime},</if>
            <if test="method.status !=null">status=#{method.status},</if>
            <if test="method.summary !=null">summary=#{method.summary}</if>
            </trim>
        </foreach>
    </insert>


    <!--3.修改目标状态（删除）-->
    <update id="updateMethodTargetStatus" parameterType="java.util.Map">
      update tb_method_target set status=#{status} where dataid=#{dataid} and tarkey=#{tarkey}
    </update>

    <!--4.修改方法论目标-->
    <update id="updateMethodTarget" parameterType="java.util.Map">
        update tb_method_target set
        dataid,tarkey,cname,controltype,datatype,datasize,canempty,regex,typedesc,idx,ouid,addtime,updtime,status,summary
        <if test="cname !=null">cname=#{cname},</if>
        <if test="controltype !=null">controltype=#{controltype},</if>
        <if test="datatype !=null">datatype=#{datatype},</if>
        <if test="datasize !=null">datasize=#{datasize},</if>
        <if test="canempty !=null">canempty=#{canempty},</if>
        <if test="regex !=null">regex=#{regex},</if>
        <if test="typedesc !=null">typedesc=#{typedesc},</if>
        <if test="idx !=null">idx=#{idx},</if>
        <if test="ouid !=null">ouid=#{ouid},</if>
        <if test="addtime !=null">addtime=#{addtime},</if>
        <if test="updtime !=null">updtime=#{updtime},</if>
        <if test="status !=null">status=#{status},</if>
        <if test="summary !=null">summary=#{summary}</if>
        where dataid=#{dataid} and tarkey=#{tarkey}
    </update>

    <!--5.获取排序-->
    <select id="getMethodTargetIdx" resultType="java.lang.Integer">
        select count(1)+1 from tb_method_target
    </select>

</mapper>