<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.resource.dao.TbPolicyDomMapper">

    <!--  查询政策文档列表(模糊查询)-->
    <select id="queryPolicyDomList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        domid,
        typeid,
        domcode,
        cname,
        photo,
        domtitle,
        department,
        effective,
        stdrange,
        domurl,
        domdesc,
        policystatus,
        idx,
        uid,
        uname,
        pagekey,
        pagedesc,
        visits,
        forwards,
        downloads,
        price,
        adduid,
        addtime,
        upduid,
        updtime,
        status,
        summary
        FROM
        tb_policy_document
        WHERE
        status = '1'
        AND typeid =#{ typeid}
        <if test="keyword!=null and keyword!=''">
            and cname ~ #{keyword}
        </if>
        order by addtime desc
        limit #{rows} offset #{page}
    </select>

    <!--	标准文档总数-->
    <select id="queryDocumentsCount" resultType="java.lang.Integer" parameterType="java.util.Map">
	     select count(1) from tb_policy_document where typeid=#{typeid} <if test="keyword!=null and keyword!=''">
        and cname ~ #{keyword}
    </if>
	</select>

    <!--  查询政策文档详情-->
    <select id="queryPolicyDomDesc" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
         domid,
        typeid,
        domcode,
        cname,
        photo,
        domtitle,
        department,
        effective,
        stdrange,
        domurl,
        domdesc,
        context,
        policystatus,
        idx,
        uid,
        uname,
        pagekey,
        pagedesc,
        visits,
        forwards,
        downloads,
        price,
        adduid,
        addtime,
        upduid,
        updtime,
        status,
        summary
        FROM
        tb_policy_document
        WHERE
        status = '1'
        AND domid =#{ domid}
    </select>


    <!--查询热门榜-->
    <select id="queryHotDom" parameterType="java.util.Map" resultType="java.util.Map">
        select domid,cname,idx,visits from tb_policy_document where status='1' order by visits desc limit #{count}
    </select>
</mapper>