<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.resource.dao.TbPolicyTypeMapper">


    <!--  查询政策父子级-->
    <select id="queryPolicyType" parameterType="java.util.Map" resultType="java.util.Map">
        WITH RECURSIVE moth AS (
            SELECT
                adduid,
                typeid,
                cname,
                typecode,
                parentid,
                typedesc,
                idx,
                adduid,
                addtime,
                upduid,
                updtime,
                status
            FROM
                tb_policy_type
            WHERE
                parentid = '0000000'
                AND status = '1' UNION ALL
            SELECT
                tst.adduid,
                tst.typeid,
                tst.cname,
                tst.typecode,
                tst.parentid,
                tst.typedesc,
                tst.idx,
                tst.adduid,
                tst.addtime,
                tst.upduid,
                tst.updtime,
                tst.status
            FROM
                tb_policy_type tst
                JOIN moth ON tst.parentid = moth.typeid
                AND tst.status = '1'
            ) SELECT
            moth.*
        FROM
            moth
    </select>

    <!--查询运营管理下政策中的菜单列表LBQ-->
    <select id="getPolicyTypes" parameterType="java.util.Map" resultType="java.util.Map">
        select ID,tpeycode,adduid,typeid,cname,typedesc,addtime,summary from tb_policy_type where status = #{status}
        <if test="typeid != null">
            and typeid = #{typeid}
        </if>
    </select>

    <!--新增运营管理下的菜单类别LBQ-->
    <insert id="savePolicyType" parameterType="java.util.Map">
        insert into
        tb_policy_type(adduid,typecode,typeid,cname,parentid,typedesc,idx,addtime,updtime,upduid,status,summary)
        values
        (
        <choose>
            <when test="adduid != null">
                #{adduid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="tpeycode != null">
                #{tpeycode},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{typeid},
        #{cname},
        <choose>
            <when test="parentid != null">
                #{parentid},
            </when>
            <otherwise>
                0000000,
            </otherwise>
        </choose>
        <choose>
            <when test="typedesc != null">
                #{typedesc},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="idx != null">
                #{idx},
            </when>
            <otherwise>
                (select count(1)+1 from tb_policy_type),
            </otherwise>
        </choose>
        #{addtime},
        #{updtime},

        <choose>
            <when test="upduid != null">
                #{upduid},
            </when>
            <otherwise>
                NULL ,
            </otherwise>
        </choose>
        <choose>
            <when test="status != null">
                #{status},
            </when>
            <otherwise>
                1,
            </otherwise>
        </choose>
        <choose>
            <when test="summary != null">
                #{summary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
        )
    </insert>

    <!--标准中菜单分类的修改-->
    <update id="updatePolicyType" parameterType="java.util.Map">
        update
        tb_policy_type
        set
        <if test="tpeycode != null">tpeycode=#{tpeycode},</if>
        <if test="adduid != null">adduid=#{adduid},</if>
        <if test="cname != null">cname=#{cname},</if>
        <if test="parentid != null">parentid=#{parentid},</if>
        <if test="typedesc != null">typedesc=#{typedesc},</if>
        <if test="status != null">status=#{status},</if>
        <if test="summary != null">summary=#{summary},</if>
        <if test="updtime != null">updtime=#{updtime}</if>
        where
        typeid=#{typeid}
    </update>

    <!--设置删除状态-->
    <update id="updateStatus" parameterType="java.util.Map">
        update tb_policy_type set status=#{status} where typeid=#{typeid}
    </update>
</mapper>