<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.resource.dao.TbPolicyDomMapper">


    <!--  查询政策文档列表(模糊查询)-->
    <select id="queryPolicyDomList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        context,
        domid,
        typeid,
        domcode,
        cname,
        photo,
        bigphoto,
        domtitle,
        domfname,
        domfpath,
        domftype,
        domdesc,
        domurl,
        department,
        effective,
        stdrange,
        policystatus,
        idx,
        uid,
        uname,
        pagekey,
        pagedesc,
        visits,
        forwards,
        downloads,
        price,
        adduid,
        addtime,
        upduid,
        updtime,
        status,
        summary
        FROM
        tb_policy_document
        WHERE
        status != '4'
        AND typeid =#{ typeid}
        <if test="keyword!=null and keyword!=''">
            and cname ~ #{keyword}
        </if>
        <if test="startTime != null and startTime != ''">
            and effective &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and effective &lt;= #{endTime}
        </if>
        order by addtime desc
        limit #{pagesize} offset #{pageno}
    </select>

    <!--	标准文档总数-->
    <select id="queryDocumentsCount" resultType="java.lang.Integer" parameterType="java.util.Map">
	     select count(1) from tb_policy_document where typeid=#{typeid} <if test="keyword!=null and keyword!=''">
        and cname ~ #{keyword}
    </if>
	</select>

    <!--  查询政策文档详情-->
    <select id="queryPolicyDomDesc" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
         domid,
        typeid,
        domcode,
        cname,
        photo,
        domtitle,
        department,
        effective,
        stdrange,
        domurl,
        domdesc,
        context,
        policystatus,
        idx,
        uid,
        uname,
        pagekey,
        pagedesc,
        visits,
        forwards,
        downloads,
        price,
        adduid,
        addtime,
        upduid,
        updtime,
        status,
        summary
        FROM
        tb_policy_document
        WHERE
        status = '1'
        AND domid =#{domid}
    </select>


    <!--查询热门榜-->
    <select id="queryHotDom" parameterType="java.util.Map" resultType="java.util.Map">
        select domid,cname,idx,visits from tb_policy_document where status='1' order by visits desc limit #{count}
    </select>

    <!--根据文档类别进行查询，文档名称进行模糊查询 LBQ-->
    <select id="getTbPolicyDocument" parameterType="java.util.Map" resultType="java.util.Map">
        select
        policystatus,
        context,
        domcode,
        adduid,
        typecode,
        Id,
        domid,
        typeid,
        cname,
        price,
        department,
        effective,
        stdrange,
        status from
        tb_policy_document
        where
        status != '4'
        <if test="typeid != null">
            and typeid = #{typeid}
        </if>
        <if test="domid != null">
            and domid = #{domain}
        </if>
        <if test="cname != null">
            and
            cname
            like
            concat('%',#{cname},'%')
        </if>
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>

    <select id="getCount" parameterType="java.util.Map" resultType="int">
        select
        count(1)
        from
        tb_policy_document
        where
        status != '4'
        <if test="typeid != null">
            and typeid = #{typeid}
        </if>
        <if test="domid != null">
            and domid = #{domain}
        </if>
        <if test="cname != null">
            and
            cname
            like
            concat('%',#{cname},'%')
        </if>
    </select>

    <!--新增-->
    <insert id="saveTbPolicyDom" parameterType="java.util.Map">
        insert into
        tb_policy_document(context,policystatus,domtitle,adduid,domid,typeid,domcode,cname,price,department,effective,stdrange,status,pagekey,pagedesc,addtime,
        updtime,idx)
        values
        (
        <choose>
            <when test="context != null">
                #{context},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="policystatus != null">
                #{policystatus},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="domtitle != null">
                #{domtitle},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="adduid != null">
                #{adduid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{domid},
        #{typeid},
        <choose>
            <when test="domcode != null">
                #{domcode},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="cname != null">
                #{cname},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="price != null">
                cast (#{price} as integer),
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="department != null">
                #{department},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="effective != null">
               #{effective},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="stdrange != null">
                cast(#{stdrange} as integer),
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="status != null">
                cast(#{status} as integer),
            </when>
            <otherwise>
                1,
            </otherwise>
        </choose>
        <choose>
            <when test="pagekey != null">
                #{pagekey},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="pagedesc != null">
                #{pagedesc},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{addtime},
        #{updtime},
        <choose>
            <when test="idx != null">
                #{idx}
            </when>
            <otherwise>
                (select count(1)+1 from tb_policy_document)
            </otherwise>
        </choose>
        )
    </insert>

    <!--根据业务id进行修改-->
    <update id="updatePolicyDom" parameterType="java.util.Map">
        update
        tb_policy_document
        set
        <if test="policystatus != null">policystatus=#{policystatus},</if>
        <if test="tpeycode != null">tpeycode=#{tpeycode},</if>
        <if test="context != null">context=#{context},</if>
        <if test="domcode != null">domcode=#{domcode},</if>
        <if test="cname != null">cname=#{cname},</if>
        <if test="domcode != null">domcode=#{domcode},</if>
        <if test="price != null">price=cast(#{price} as integer),</if>
        <if test="department != null">department=#{department},</if>
        <if test="effective != null">effective=#{effective},</if>
        <if test="stdrange != null">stdrange=cast(#{stdrange} as integer),</if>
        <if test="status != null">status=cast(#{status} as integer),</if>
        <if test="pagekey != null">pagekey=#{pagekey},</if>
        <if test="pagedesc != null">pagedesc=#{pagedesc},</if>
        <if test="updtime != null">updtime=#{updtime}</if>
        where
        domid = #{domid}
    </update>

     <!--设置删除状态-->
    <update id="updateDelete" parameterType="java.util.Map">
        update
        tb_policy_document
        set
        status=cast(#{status} as integer) where domid=#{domid}
    </update>

</mapper>