<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.resource.dao.TbProductFunctionMapper">
    <!--产品功能的查询-->
    <select id="getTbProductFunction" parameterType="java.util.Map" resultType="java.util.Map">
        select
        a.id,
        to_char(to_timestamp(a.addtime / 1000), 'yyyy-MM-dd HH24:MI') as addtime,
        a.cname,
        a.status,
        a.paradesc,
        a.summary,
        a.pid
        from
        tb_product_function b
        LEFT JOIN
        tb_product_res_list a
        on a.pid = b.pid
        where 1=1
        <if test="status != null and status != ''">
            and a.status = #{status}
        </if>
        <if test="cname != null">
            and a.cname like concat('%',#{cname},'%')
        </if>
        group by a.id
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>


    <!--查询分页的总数-->
    <select id="getCount" resultType="int" parameterType="java.util.Map">
        select
        count(1)
        from
        (
        select
        a.id,
        to_char(to_timestamp(a.addtime / 1000), 'yyyy-MM-dd HH24:MI') as addtime,
        a.cname,
        a.status,
        a.paradesc,
        a.summary,
        a.pid
        from
        tb_product_function b
        LEFT JOIN
        tb_product_res_list a
        on a.pid = b.pid
        where 1=1
        <if test="status != null and status != ''">
            and a.status = #{status}
        </if>
        <if test="cname != null">
            and a.cname like concat('%',#{cname},'%')
        </if>
        group by a.id
        ) as num
    </select>
    <!--点击修改查询出产品功能的-->
    <select id="getProductFunction" parameterType="java.util.Map" resultType="java.util.Map">
        WITH RECURSIVE modt AS (
         select
         id,
        pid,
        funtype,
        funsubtype,
        introduce,
        funid,
        cname,
        parentid,
        price,
        weight,
        addtime,
        introduce,
        fundesc,
        summary
        from
        tb_product_function
        where parentid = '000000000000000'
        <if test="pid != null and pid != ''">
            and pid = #{pid}
        </if>
        and status = '1'
        UNION ALL
            SELECT
        a.id,
        a.pid,
        a.funtype,
        a.funsubtype,
        a.introduce,
        a.funid,
        a.cname,
        a.parentid,
        a.price,
        a.weight,
        a.addtime,
        a.introduce,
        a.fundesc,
        a.summary
        from
        tb_product_function a
        join modt on a.parentid = modt.funid
        and a.status = '1'
        )
        select
             modt.*
        from
             modt
             where pid = #{pid}
    </select>

    <!--产品功能的添加-->
    <insert id="saveTbProductFunction" parameterType="java.util.List">
        insert into
        tb_product_function
        (
        parentid,
        pid,
        funtype,
        funsubtype,
        funid,
        cname,
        price,
        weight,
        introduce,
        fundesc,
        idx,
        addtime,
        updtime,
        status,
        summary
        )values
            (
            <choose>
                <when test="parentid != null">
                    #{parentid},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="pid != null">
                    #{pid},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="funtype != null">
                    cast(#{funtype} as integer),
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="funsubtype != null">
                    cast(#{funsubtype} as integer),
                </when>
                <otherwise>
                    8,
                </otherwise>
            </choose>
            <choose>
                <when test="funid != null">
                    #{funid},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="cname != null">
                    #{cname},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="price != null">
                    cast(#{price} as integer),
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="weight != null">
                    cast(#{weight} as integer),
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="introduce != null">
                    #{introduce},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="fundesc != null">
                    #{fundesc},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="idx != null">
                    #{idx},
                </when>
                <otherwise>
                    (select count(1)+1 from tb_product_function),
                </otherwise>
            </choose>
            <choose>
                <when test="addtime != null">
                    #{addtime},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="updtime != null">
                    #{updtime},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="status != null">
                    #{status},
                </when>
                <otherwise>
                    1,
                </otherwise>
            </choose>
            <choose>
                <when test="summary != null">
                    #{summary}
                </when>
                <otherwise>
                    null
                </otherwise>
            </choose>
            ) on conflict(funid) do update
            set
            <if test="funtype != null">funtype=cast(#{funtype} as integer),</if>
            <if test="funsubtype != null">funsubtype=cast(#{funsubtype} as integer),</if>
            <if test="cname != null">cname=#{cname},</if>
            <if test="price != null">price=cast(#{price} as integer),</if>
            <if test="weight != null">weight= cast(#{weight} as integer),</if>
            <if test="introduce != null">introduce=#{introduce},</if>
            <if test="fundesc != null">fundesc=#{fundesc},</if>
            <if test="summary != null">summary=#{summary},</if>
            <if test="status != null">status=#{status},</if>
            <if test="updtime != null">updtime=#{updtime}</if>
    </insert>


    <!--修改产品功能-->
    <update id="updateTbProductFunction" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=" ;">
            update
            tb_product_function
            set
            <if test="item.funtype != null">funtype=cast(#{item.funtype} as integer),</if>
            <if test="item.funsubtype != null">funsubtype=cast(#{item.funsubtype} as integer),</if>
            <if test="item.funid != null">funid=#{item.funid},</if>
            <if test="item.cname != null">cname=#{item.cname},</if>
            <if test="item.price != null">price=cast(#{item.price} as integer),</if>
            <if test="item.weight != null">weight= cast(#{item.weight} as integer),</if>
            <if test="item.introduce != null">introduce=#{item.introduce},</if>
            <if test="item.fundesc != null">fundesc=#{item.fundesc},</if>
            <if test="item.summary != null">summary=#{item.summary},</if>
            <if test="item.status != null">status=#{item.status},</if>
            <if test="item.updtime != null">updtime=#{item.updtime}</if>
            where pid=#{item.pid}
        </foreach>
    </update>
</mapper>