<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.resource.dao.TbProductResListMapper">

    <!--产品参数的查询 以及根据状态查询和名称的模糊查询-->
    <select id="getProductResList" parameterType="java.util.Map" resultType="java.util.Map">
        select
        a.id,
        to_char(to_timestamp(a.addtime / 1000), 'yyyy-MM-dd HH24:MI') as addtime,
        a.cname,
        a.status,
        a.paradesc,
        a.summary,
        a.accept,
        a.pid,
        a.plid,
        a.service,
        a.price,
        a.prodesc
        from
        tb_product_paramete_item b
        LEFT JOIN
        tb_product_res_list a
        on a.pid = b.prodid
        where 1=1
        <if test="plid != null">
            and a.plid = #{plid}
        </if>
        <if test="status != null">
            and a.status = #{status}
        </if>
        <if test="cname != null">
            and a.cname like concat('%',#{cname},'%')
        </if>
         group by
         a.id
         limit
         #{pagesize}
         offset
         #{pageno}
    </select>

    <!--查询分页的总数-->
       <select id="getCount" resultType="int" parameterType="java.util.Map">
          select count(1)
          from
          (select
           a.id
           from
           tb_product_paramete_item b
           LEFT JOIN
           tb_product_res_list a
           on a.pid = b.prodid
           where 1=1
           <if test="plid != null">
               and a.plid = #{plid}
           </if>
           <if test="status != null">
               and a.status = #{status}
           </if>
           <if test="cname != null">
               and a.cname like concat('%',#{cname},'%')
           </if>
           group by
           a.id) as num
       </select>

    <!--查询引用合同模板-->
    <select id="getResList" parameterType="java.util.Map" resultType="java.util.Map">
        select
        *
        from
        tb_product_paramete_item
        where
        paraid=#{paraid}
    </select>

    <select id="getProductItem" parameterType="java.util.Map" resultType="java.util.Map">
        select
        *
        from
        tb_product_paramete_item
        where
        prodid = #{pid}
    </select>


    <!--添加产品参数-->
    <insert id="saveTbProductParameteItem" parameterType="java.util.List">
        insert into
        tb_product_paramete_item(
        prodid,
        paraid,
        paraname,
        paramdesc,
        datatype,
        datasize,
        idx,
        addtime,
        updtime,
        status,
        summary
        )values
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.prodid},
            #{item.paraid},
            <choose>
                <when test="item.paraname !='' and  item.paraname != null">
                    #{item.paraname},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.paramdesc !='' and  item.paramdesc != null">
                    #{item.paramdesc},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.datatype !='' and  item.datatype != null">
                    #{item.datatype},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.datasize !='' and  item.datasize != null">
                    cast(#{item.datasize} as integer),
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.idx !='' and  item.idx != null">
                   cast(#{item.idx} as integer),
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            #{item.addtime},
            #{item.updtime},
            <choose>
                <when test="item.status !='' and  item.status != null">
                    #{item.status},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.summary !='' and  item.summary != null">
                    #{item.summary}
                </when>
                <otherwise>
                    null
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>

    <!--添加资源产品表中的数据-->
    <insert id="saveTbProductResList" parameterType="java.util.Map">
        insert
        into
        tb_product_res_list(
        pid,
        plid,
        cname,
        prodesc,
        service,
        price,
        pricedesc,
        accept,
        acceptname,
        addtime,
        updtime,
        paradesc,
        idx,
        status,
        summary
        )values(
        <choose>
            <when test="pid != null">
                #{pid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="plid != null">
                cast(#{plid} as integer),
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="cname != null">
                #{cname},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="prodesc != null">
                #{prodesc},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="service != null">
                #{service},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="price != null">
                cast(#{price} as float),
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="pricedesc != null">
                #{pricedesc},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="accept != null">
                #{accept},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="accceptname != null">
                #{acceptname},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="addtime != null">
                #{addtime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="updtime != null">
                #{updtime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="paradesc != null">
                #{paradesc},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="idx != null">
                #{idx},
            </when>
            <otherwise>
                (select count(1)+1 from tb_product_res_list),
            </otherwise>
        </choose>
        <choose>
            <when test="status != null">
                #{status},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="summary != null">
                #{summary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
        )on conflict(pid) do update
        set
        <if test="prodesc">prodesc=#{prodesc},</if>
        <if test="service">service=#{service},</if>
        <if test="price">price=cast(#{price} as float),</if>
        <if test="pricedesc">pricedesc=#{pricedesc},</if>
        <if test="accept">accept=#{accept},</if>
        <if test="paradesc">paradesc=#{paradesc},</if>
        <if test="upduid">upduid=#{upduid},</if>
        <if test="summary">summary=#{summary},</if>
        <if test="status">status=#{status},</if>
        <if test="updtime">updtime=#{updtime}</if>
    </insert>


    <!--修改产品参数表中的数据-->
    <update id="updateTbProductParameteItem" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update tb_product_paramete_item
            set
            <if test="item.paraname !='' and item.paraname !=null">paraname=#{item.paraname},</if>
            <if test="item.paramdesc !='' and item.paramdesc !=null">paramdesc=#{item.paramdesc},</if>
            <if test="item.datatype !='' and item.datatype !=null">datatype={item.datatype},</if>
            <if test="item.datasize !='' and item.datasize !=null">datasize=#{item.datasize},</if>
            <if test="item.ouid !='' and item.ouid !=null">ouid=#{item.ouid},</if>
            <if test="item.updtime !='' and item.updtime !=null">updtime=#{item.updtime}</if>
            where paraid=#{item.paraid}
        </foreach>
    </update>

    <select id="getURL" parameterType="java.util.Map" resultType="java.util.Map">
            select
            accept,
            acceptname
            from
            tb_product_res_list
            where
            pid = #{pid}
    </select>

</mapper>
























