<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.CockpitMapper">

    <!--驾驶舱/联系客户-查询-->
    <select id="getInfo" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_track_user_list where tracktype in (4,8,16)
        and status = '1'
        <if test="trackuid != null and trackuid != ''">
            and trackuid = #{trackuid}
        </if>
        <if test="cdid != null and cdid != ''">
            and trackuid in (
            select uid from tb_dept_user where cdid in
            <foreach collection="list" separator="," item="item" index="index" open="(" close=")">
                #{item.cdid}
            </foreach>
            and status = '1'
            )
        </if>
        <if test="cid != null and manager != null and cid != '' and manager != ''">
            and customer in(
            select uid from tb_dept_user where cid = (select cid from tb_company_list where cid = #{cid} and manager = #{manager}) and status = '1'
            )
        </if>
        <if test="zero != null and zero != ''">
            and addtime &gt;= #{zero}
        </if>
        <if test="twelve != null and twelve != ''">
            and addtime &lt;= #{twelve}
        </if>
    </select>

    <!--查询部门下的所有部门-->
    <select id="getDeptChild" parameterType="java.util.Map" resultType="java.util.Map">
         WITH RECURSIVE modt AS (
            SELECT
            cdid,
            pcdid,
            idx
            FROM
            tb_company_dept
            WHERE
            cdid = #{cdid}
        AND status = '1'
        UNION ALL
            SELECT
            tmt.cdid,
            tmt.pcdid,
            tmt.idx
        FROM
            tb_company_dept tmt
            JOIN modt ON tmt.pcdid = modt.cdid
        AND tmt.status = '1'
        )
            SELECT
            modt.*
            FROM
            modt
        ORDER BY
            modt.idx ASC
    </select>

    <!--查询部门下所有的用户-->
    <select id="getAllDeptUser" parameterType="java.util.Map" resultType="java.util.Map">
        select distinct  uid ,cname as label from tb_dept_user where cdid in
        <foreach collection="list" separator="," item="item" index="index" open="(" close=")">
            #{item.cdid}
        </foreach>
    </select>

    <!--愿意见-深度见-上会-签约数量-->
    <select id="getHandleCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_track_user_list
        where status = '1'
        and trackres = #{trackres}
        <if test="customer != null and customer != ''">
            and customer = #{customer}
        </if>
        <if test="cdid != null and cdid != ''">
            and customer in (
            select uid from tb_dept_user where cdid in
            <foreach collection="list" separator="," item="item" index="index" open="(" close=")">
                #{item.cdid}
            </foreach>
            and status = '1'
            )
        </if>
        <if test="cid != null and manager != null and cid != '' and manager != ''">
            and customer in(
            select uid from tb_dept_user where cid = (select cid from tb_company_list where cid = #{cid} and manager = #{manager}) and status = '1'
            )
        </if>
    </select>

    <!--部门下愿意见-深度见-上会-签约数量-->
    <!--<select id="getDeptCount" parameterType="java.util.Map" resultType="java.lang.Integer">-->
        <!--select count(1) from tb_track_user_list-->
        <!--where status = '1'-->
        <!--and trackres = #{trackres}-->
        <!--and customer in (-->
        <!--select uid from tb_dept_user where cdid = #{cdid} and status = 1-->
        <!--)-->
    <!--</select>-->



    <!--/ 查询该部门下的所有用户的跟进记录数-->
    <!--<select id="getDeptUser" parameterType="java.util.Map" resultType="java.lang.Integer">-->
       <!--select count(1) from tb_track_user_list where customer in (-->
       <!--select uid from tb_dept_user where cdid = #{cdid} and status = 1) and status = '1'-->
       <!--and tracktype in (4,8,16)-->
    <!--</select>-->

    <!--查询该企业下所有用户的跟进记录数-->
    <!--<select id="getCompanyUser" parameterType="java.util.Map" resultType="java.lang.Integer">-->
        <!--select count(1) from tb_track_user_list-->
        <!--where customer in-->
        <!--(-->
        <!--select uid from tb_dept_user where cid = (select cid from tb_company_list where cid = #{cid} and manager = #{manager}) and status = '1'-->
        <!--)-->
        <!--and status = '1'-->
        <!--and tracktype in (4,8,16)-->
    <!--</select>-->

    <!--查询企业认证级别个数-->
    <select id="getComAuthCount" parameterType="java.util.Map" resultType="java.util.Map">
        select
        (select count(1) from tb_company_list where authid = 4 and status = '1' ) small,
        (select count(1) from tb_company_list where authid = 8 and status = '1' ) middle,
        (select count(1) from tb_company_list where authid = 16 and status = '1' ) higher,
        count(1) gorvrn from tb_company_list where authid = 32 and status = '1'
    </select>

    <!--个人驾驶舱查询-->
    <select id="getAllTrackInfo" parameterType="java.util.Map" resultType="java.util.Map">
       SELECT
         SUM ( CAST ( returnmoney AS INT ) ) signmoney,
            SUM ( CAST ( signmoney AS INT ) ) returnmoney,
            ( SELECT COUNT ( 1 ) AS signcount FROM tb_track_user_list WHERE trackres = '8' AND status = '1'
                 <if test="trackuid != null and trackuid != ''">
                     and trackuid = #{trackuid}
                 </if>
                <if test="starttime != null and starttime != ''">
                    and addtime &gt;= #{starttime}
                </if>
                <if test="endtime != null and endtime != ''">
                    and addtime &lt;= #{endtime}
                </if>
                 ) ,
            ( SELECT COUNT ( 1 ) AS trainingcount FROM tb_track_user_list WHERE trackres = '32' AND status = '1'
                <if test="trackuid != null and trackuid != ''">
                    and trackuid = #{trackuid}
                </if>
                <if test="starttime != null and starttime != ''">
                    and addtime &gt;= #{starttime}
                </if>
                <if test="endtime != null and endtime != ''">
                    and addtime &lt;= #{endtime}
                </if>),
            ( SELECT COUNT ( 1 ) AS connectcount FROM tb_track_user_list WHERE tracktype IN ( 4, 8, 16 ) AND status = '1'
                <if test="trackuid != null and trackuid != ''">
                    and trackuid = #{trackuid}
                </if>
                <if test="starttime != null and starttime != ''">
                    and addtime &gt;= #{starttime}
                </if>
                <if test="endtime != null and endtime != ''">
                    and addtime &lt;= #{endtime}
                </if>),
            ( SELECT COUNT ( 1 ) AS deepconnectcount FROM tb_track_user_list WHERE trackres = '2' AND status = '1'
                <if test="trackuid != null and trackuid != ''">
                    and trackuid = #{trackuid}
                </if>
                <if test="starttime != null and starttime != ''">
                    and addtime &gt;= #{starttime}
                </if>
                <if test="endtime != null and endtime != ''">
                    and addtime &lt;= #{endtime}
                </if>),
            ( SELECT COUNT ( 1 ) AS pubcount FROM tb_connection_publish_list WHERE status = '1'
                <if test="trackuid != null and trackuid != ''">
                    and trackuid = #{trackuid}
                </if>
                <if test="starttime != null and starttime != ''">
                    and addtime &gt;= #{starttime}
                </if>
                <if test="endtime != null and endtime != ''">
                    and addtime &lt;= #{endtime}
                </if>),
            ( SELECT COUNT ( 1 ) AS takeMenucount FROM tb_track_user_list WHERE trackres = '64' AND status = '1'
                <if test="trackuid != null and trackuid != ''">
                    and trackuid = #{trackuid}
                </if>
                <if test="starttime != null and starttime != ''">
                    and addtime &gt;= #{starttime}
                </if>
                <if test="endtime != null and endtime != ''">
                    and addtime &lt;= #{endtime}
                </if>),
            ( SELECT COUNT ( 1 ) AS goodCommentcount FROM tb_track_user_list WHERE trackres = '128' AND status = '1'
                <if test="trackuid != null and trackuid != ''">
                    and trackuid = #{trackuid}
                </if>
                <if test="starttime != null and starttime != ''">
                    and addtime &gt;= #{starttime}
                </if>
                <if test="endtime != null and endtime != ''">
                    and addtime &lt;= #{endtime}
                </if>)
        FROM
	tb_track_user_list


    </select>
</mapper>