<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.CockpitMapper">

    <!--驾驶舱/联系客户-查询-->
    <select id="getInfo" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_track_user_list where tracktype in (4,8,16)
        and status = '1'
        <if test="customer != null and customer != ''">
            and customer = #{customer}
        </if>
    </select>

    <!--愿意见-深度见-上会-签约数量-->
    <select id="getHandleCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_track_user_list
        where status = '1'
        and trackres = #{trackres}
        <if test="customer != null and customer != ''">
            and customer = #{customer}
        </if>
    </select>

    <!--部门下愿意见-深度见-上会-签约数量-->
    <select id="getDeptCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_track_user_list
        where status = '1'
        and trackres = #{trackres}
        and uid in (
        select uid from tb_dept_user where cdid = #{cdid} and status = 1
        )
    </select>



    <!--/ 查询该部门下的所有用户-->
    <select id="getDeptUser" parameterType="java.util.Map" resultType="java.lang.Integer">
       select count(1) from tb_track_user_list where uid in (
       select uid from tb_dept_user where cdid = #{cdid} and status = 1) and status = '1'
    </select>

    <!--查询企业认证级别个数-->
    <select id="getComAuthCount" parameterType="java.util.Map" resultType="java.util.Map">
        select
        (select count(1) from tb_company_list where authid = 4 and status = '1' ) small,
        (select count(1) from tb_company_list where authid = 8 and status = '1' ) middle,
        (select count(1) from tb_company_list where authid = 16 and status = '1' ) higher,
        count(1) gorvrn from tb_company_list where authid = 32 and status = '1'
    </select>
</mapper>