<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.CompanyMapper">
    <!--开放平台调用接口修改企业地址,地区信息-->
    <update id="updateOrgInfo" parameterType="java.util.Map">
        update
        tb_company_list
        SET
        region = #{region}
        WHERE
        cid=#{cid}
    </update>

    <select id="queryComapny" resultType="java.util.Map" parameterType="java.util.Map">
                select * from tb_company_list where cid =  #{cid}
    </select>

    <select id="queryCompanyProject" resultType="java.util.Map" parameterType="java.util.Map">
        select * from tb_company_project where projectid =  #{projectid}
    </select>

    <!-- 主页获取单位信息 -->
    <select id="queryEnterpriseData" parameterType="java.util.Map"
            resultType="java.util.Map">
        SELECT
        l.cid,
        l.nickname,
        l.region,
        l.uscc,
        l.relperson,
        l.relphone,
        l.relmail,
        l.reguid,
        l.regtime,
        l.manager,
        l.photo,
        l.authid,
        l.ouid,
        l.updtime,
        l.cname,
        l.logo,
        i.curl,
        i.fax,
        i.limitday,
        i.address,
        i.range,
        i.ctype,
        i.legaler,
        i.capital,
        i.birthday,
        i.content,
        i.license,
        i.cardid,
        s.systemname,
        s.curl
        from
        tb_company_list l
        left join
        tb_company_info i
        on
        l.cid = i.cid
        left join
        tb_company_sysconfig s
        on
        l.cid = s.cid
        where
        l.cid = #{cid}
    </select>

    <!-- 获取当前用户下的所以企业 -->
    <select id="queryCompanyList" parameterType="java.util.Map"
            resultType="java.util.Map">
        SELECT
        c.cid,
        c.cname,
        c.logo
        from
        tb_dept_user d
        left join
        tb_company_list c
        on
        d.cid = c.cid
        where
        d.uid = #{uid}
    </select>

    <!-- 获取企业下部门数 -->
    <select id="queryDepartmentCount" parameterType="java.util.Map"
            resultType="java.lang.Integer">
        SELECT
        count(1)
        from
        tb_company_dept
        where
        cid = #{cid}
    </select>

    <!-- 获取企业总人数 -->
    <select id="queryHeadcountCount" parameterType="java.util.Map"
            resultType="java.lang.Integer">
        SELECT
        count(1)
        from
        (
        SELECT
        distinct
        uid
        from
        tb_dept_user
        where
        cid = #{cid}
        )
        as head
    </select>

    <!-- 获取企业下未激活总人数 -->
    <select id="queryInactiveCount" parameterType="java.util.Map"
            resultType="java.lang.Integer">
        SELECT
        count(1)
        from
        tb_invite_user
        where
        status = '1' or
        status = '2'
    </select>

    <!-- 修改企业认证企业List表信息 -->
    <update id="updateCompanyList" parameterType="java.util.Map">
        UPDATE
        tb_company_list
        SET
        <if test="cname!= null ">cname = #{cname} ,</if>
        <if test="uscc!= null ">uscc = #{uscc} ,</if>
        <if test="region!= null ">region = #{region} ,</if>
        updtime = #{modtime},
        authid = ${authid}
        WHERE
        cid=#{cid}
    </update>

    <!-- 修改企业认证info表信息 -->
    <insert id="insertCompanyInfo" parameterType="java.util.Map">
        insert INTO
        tb_company_info(cid, limitday, address, range, ctype, legaler, cardid,
        capital, birthday, license, idcardup, idecarddown, ouid, updtime)
        VALUES
        (
        #{cid},
        ${limitday},
        #{address},
        #{range},
        #{ctype},
        <choose>
            <when test="legaler != null and legaler != ''">
                #{legaler},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="cardid != null and cardid != ''">
                #{cardid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{capital},
        ${birthday},
        <choose>
            <when test="license != null and license != ''">
                #{license},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="legidup != null and legidup != ''">
                #{legidup},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="legiddown != null and legiddown != ''">
                #{legiddown},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{uid},
        #{modtime}
        )
        ON conflict(cid) DO UPDATE SET
        address = #{address},
        legaler = #{legaler},
        cardid = #{cardid},
        updtime = #{modtime},
        ctype = #{ctype},
        capital = #{capital},
        birthday = ${birthday},
        limitday = ${limitday},
        range = #{range},
        ouid = #{uid}
        <if test="license !=null and license != ''">, license = #{license}</if>
        <if test="idcardup !=null and idcardup != ''">, idcardup = #{idcardup}</if>
        <if test="idecarddown !=null and idecarddown != ''">, idecarddown = #{idecarddown}</if>
    </insert>

    <!-- 政府认证企业信息info表修改(业务需要特有) -->
    <insert id="insertCompanyInfo1" parameterType="java.util.Map">
        insert INTO
        tb_company_info(cid, authorg, orgads, authfile, authtext, ouid, updtime)
        VALUES
        (
        #{cid},
        <choose>
            <when test="authorg != null and authorg != ''">
                #{authorg},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="orgads != null and orgads != ''">
                #{orgads},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="authfile != null and authfile != ''">
                #{authfile},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="authtext != null and authtext != ''">
                #{authtext},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{uid},
        #{modtime}
        )
        ON conflict(cid) DO UPDATE SET
        ouid = #{uid},
        updtime = #{modtime},
        authorg = #{authorg},
        orgads = #{orgads}
        <if test="authfile != null and authfile != ''">,authfile = #{authfile}</if>
        <if test="authtext != null and authtext != ''">,authtext = #{authtext}</if>
    </insert>

    <!--根据企业名称查询信息-->
    <select id="searchEnterpriseNames" resultType="java.util.Map">
        <choose>
            <when test="type != null and type !=''">
                SELECT
                cid,
                cname,manager,authid
                FROM
                tb_company_list
                WHERE
                status ='1' and
                cname = #{cname} and authid >= 8 and 128 > authid
            </when>
            <otherwise>
                SELECT
                cl.cid,
                cl.cname,
                cl.manager,
                cl.authid,
                COALESCE(iu.status,'0') AS invi ,
                COALESCE( du.jo,'0') AS jo
                FROM
                tb_company_list cl
                LEFT JOIN ( SELECT cid, uid, status FROM tb_invite_user WHERE uid = #{uid} ) iu ON iu.cid = cl.cid
                LEFT JOIN ( SELECT cid, uid, '1' AS JO FROM tb_dept_user WHERE status = '1' AND uid = #{uid} ) du ON
                du.cid
                = cl.cid
                WHERE
                cl.status = '1' and
                cname LIKE '%${cname}%' LIMIT #{pagesize} OFFSET #{start}
            </otherwise>
        </choose>
    </select>

    <!--新增企业和企业信息表-->
    <insert id="insertCompany">
        INSERT into tb_company_list
        (cid,cname,reguid,regtime,manager,logo,relphone,relmail,region,uscc,status,authid,summary) VALUES
        (#{cid},#{cname},#{uid},#{regtime},#{manager},#{logo},#{phone},#{relmail},#{region},#{uscc},'1',#{authid},#{summary});
        INSERT into
        tb_company_info(cid,limitday,range,ctype,legaler,capital,birthday,license,address,ouid,updtime)VALUES
        (#{cid},
        <choose>
            <when test="limitday != null and limitday != ''">
                ${limitday},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{range},
        #{ctype},
        #{legaler},
        #{capital},
        <choose>
            <when test="birthday != null and birthday != ''">
                ${birthday},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{license},#{address},#{uid},#{regtime});
    </insert>

    <!--添加邀请信息-->
    <insert id="insertInvite">
INSERT INTO tb_invite_user (reqtype,cid,uid,reqtime,resuid,status) VALUES
(#{reqtype},#{cid},#{uidsh},#{reqtime},#{uid},#{status})
    </insert>

    <!--根据企业ID获取当前企业的超级管理员-->
    <select id="queryAdministratorId" parameterType="java.util.Map"
            resultType="java.util.Map">
        SELECT
        manager
        from
        tb_company_list
        where
        cid = #{cid}
    </select>

    <!--转让企业管理员,修改企业管理员-->
    <update id="updateAdministrator" parameterType="java.util.Map">
        UPDATE
        tb_company_list
        SET
        manager = #{manager}
        WHERE
        cid = #{cid}
    </update>


    <!--查询申请人总数-->
    <select id="queryApplyCount" resultType="java.lang.Integer">
        SELECT
        count(1)
        from
        tb_invite_user
        where
        cid = #{cid}
        and
        status = #{status}
        and
        reqtype = #{reqtype}
    </select>

    <!--根据企业ID显示所有申请成员-->
    <select id="queryApplyList" parameterType="java.util.Map"
            resultType="java.util.Map">
        SELECT
        resuid
        from
        tb_invite_user
        where
        cid = #{cid}
        and
        status = #{status}
        and
        reqtype = #{reqtype}
        order by
        reqtime desc
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>

    <!--根据模糊姓名获取企业下所有同字员工姓名 去重时排序会报错-->
    <select id="searchUserName" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        distinct
        uid,
        cname
        FROM
        tb_dept_user
        where
        cid = #{cid}
        and
        cname LIKE CONCAT( #{cname},'%')
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>

    <!--根据模糊姓名获取企业下所有同字员工姓名的总数-->
    <select id="queryUserNameCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        count(1)
        from
        (
        SELECT
        distinct
        uid
        FROM
        tb_dept_user
        where
        cid = #{cid}
        and
        cname LIKE CONCAT( #{cname},'%')
        )
        as total
    </select>

    <!--成员邀请,申请,单个通过申请-->
    <update id="updatePassProposer" parameterType="java.util.Map">
        UPDATE
        tb_invite_user
        SET
        restime = #{restime},
        status = '9'
        <if test="summary != null and summary != ''">,summary = #{summary}</if>
        WHERE
        cid = #{cid}
        and
        resuid = #{uid}
        and
        reqtype = '1'
    </update>

    <!--成员邀请,申请,拒绝申请通过-->
    <update id="updateDenyProposer" parameterType="java.util.Map">
        UPDATE
        tb_invite_user
        SET
        restime = #{restime},
        status = '5'
        <if test="summary != null and summary != ''">,summary = #{summary}</if>
        WHERE
        cid = #{cid}
        and
        resuid = #{uid}
        and
        reqtype = '1'
    </update>

    <!--成员邀请,申请,批量通过申请-->
    <update id="updateBatchPass" parameterType="java.util.List">
        <foreach separator=";" close="" open="" index="index" item="item" collection="list">
            UPDATE
            tb_invite_user
            SET
            restime = #{item.restime},
            status = '9'
            <if test="item.summary != null and item.summary != ''">,summary = #{item.summary}</if>
            WHERE
            cid = #{item.cid}
            and
            resuid = #{item.uid}
            and
            reqtype = '1'
        </foreach>
    </update>

    <!--单个通过申请后加入部门资源池,即默认部门-->
    <insert id="insertProposer" parameterType="java.util.Map">
        INSERT INTO
        tb_dept_user (cname, phone, idx, cid, cdid, uid, addtime, status, summary)
        VALUES
        (
        #{cname},
        #{relphone},
        (select count(1)+1 from tb_dept_user),
        #{cid},
        <choose>
            <when test="cdid != null and cdid != ''">
                #{cdid},
            </when>
            <otherwise>
                CONCAT( #{cid},'0000'),
            </otherwise>
        </choose>
        #{uid},
        #{restime},
        <choose>
            <when test="status != null and status != ''">
                #{status}
            </when>
            <otherwise>
                '1'
            </otherwise>
        </choose>
        <choose>
            <when test="summary != null and summary != ''">
                ,#{summary}
            </when>
            <otherwise>
                ,null
            </otherwise>
        </choose>
        )
    </insert>

    <!--企业中中有该员工就修改状态为1-->
    <update id="updateProposer1" parameterType="java.util.Map">
        UPDATE
        tb_dept_user
        SET
        status = '1',
        updtime = #{restime}
        WHERE
        uid = #{resuid}
        and
        cid = #{cid}
        and
        cdid = #{cdid}
    </update>

    <!-- 邀请用户加入企业,查询企业中有没有该员工 -->
    <select id="queryBatchProposer" parameterType="java.util.List"
            resultType="java.util.Map">
        SELECT
        uid,
        cid,
        cdid
        from
        tb_dept_user
        where
        <foreach separator="or" close="" open="" index="index" item="item" collection="list">
            uid = #{item.uid}
            and cid = #{item.cid}
            <choose>
                <when test="item.cdid != null and item.cdid != ''">
                    and cdid = #{item.cdid}
                </when>
                <otherwise>
                    and cdid = CONCAT( #{item.cid},'0000')
                </otherwise>
            </choose>
            and
            (status = '1' or status = '2')
        </foreach>
    </select>

    <!--批量修改已经存在的用户状态为1-->
    <update id="updateBatchProposer" parameterType="java.util.List">
        <foreach separator=";" close="" open="" index="index" item="item" collection="list">
            UPDATE
            tb_dept_user
            SET
            status = '1',
            updtime = #{item.restime}
            WHERE
            cid = #{item.cid}
            and
            uid = #{item.uid}
            and
            cdid = #{item.cdid}
        </foreach>
    </update>

    <!--批量通过申请后加入部门资源池,即默认部门-->
    <insert id="insertBatchProposer" parameterType="java.util.List">
        INSERT INTO
        tb_dept_user (cname, phone, idx, cid, cdid, uid, addtime, status, summary)
        VALUES
        <foreach separator="," close="" open="" index="index" item="item" collection="list">
            (
            #{item.cname},
            #{item.relphone},
            (select count(1)+1 from tb_dept_user),
            #{item.cid},
            <choose>
                <when test="item.cdid != null and item.cdid != ''">
                    #{item.cdid},
                </when>
                <otherwise>
                    CONCAT( #{item.cid},'0000'),
                </otherwise>
            </choose>
            #{item.uid},
            #{item.restime},
            <choose>
                <when test="item.status != null and item.status != ''">
                    #{item.status}
                </when>
                <otherwise>
                    '1'
                </otherwise>
            </choose>
            <choose>
                <when test="item.summary != null and item.summary != ''">
                    ,#{item.summary}
                </when>
                <otherwise>
                    ,null
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>

    <!-- 邀请用户加入企业,查询企业中有没有该员工 -->
    <select id="queryProposerCount" parameterType="java.util.Map"
            resultType="java.lang.Integer">
        SELECT
        count(1)
        from
        tb_dept_user
        where
        uid = #{resuid}
        and cid = #{cid}
        and cdid = #{cdid}
        and
        (status = '1' or status = '2')
    </select>
    <!--根据用户id获取该用户加入的单位和创建的单位名称-->
    <select id="queryCompanyByUid" resultType="java.util.Map">
        SELECT
        du.uid,
        string_agg ( DISTINCT cl.joname, ',' ) AS joname,
        string_agg ( DISTINCT reg.regname, ',' ) AS regname,
        string_agg ( DISTINCT du.cdid, ',' ) AS cdid
        FROM
        ( SELECT cid, cname || '-' || CASE COALESCE ( authid, 0 ) WHEN 0 THEN '未认证' ELSE'已认证' END AS joname FROM
        tb_company_list ) cl
        JOIN tb_dept_user du ON du.cid = cl.cid
        AND du.status = '1'
        LEFT JOIN (
        SELECT
        reguid,
        cname || '-' ||
        CASE
        COALESCE ( authid, 0 )
        WHEN 0 THEN
        '未认证' ELSE'已认证'
        END AS regname
        FROM
        tb_company_list
        WHERE
        reguid IS NOT NULL
        ) reg ON reg.reguid = du.uid
        WHERE du.uid IN
        <foreach separator="," close=")" open="(" index="index" item="item" collection="list">
            #{item.uid}
        </foreach>
        GROUP BY
        du.uid
    </select>
    <!--确认是否已申请形象大使-->
    <select id="queryCompanyFriend" resultType="java.lang.Integer">
        select count(1)  from  tb_company_friend where  cid=#{cid} and  status in ('2','1')
    </select>

    <!--邀请用户加入企业-->
    <insert id="insertInvitee" parameterType="java.util.Map">
        INSERT INTO
        tb_invite_user (reqtype, cid, uid, reqtime, cdid, ustatus, resuid, resphone, status, summary)
        VALUES
        (
        #{reqtype},
        #{cid},
        #{uid},
        #{reqtime},
        <choose>
            <when test="cdid != null and cdid != ''">
                #{cdid},
            </when>
            <otherwise>
                CONCAT( #{cid},'0000'),
            </otherwise>
        </choose>
        <choose>
            <when test="ustatus != null and ustatus != ''">
                #{ustatus},
            </when>
            <otherwise>
                '1',
            </otherwise>
        </choose>
        #{resuid},
        #{relphone},
        <choose>
            <when test="status != null and status != ''">
                #{status}
            </when>
            <otherwise>
                '2'
            </otherwise>
        </choose>
        <choose>
            <when test="summary != null and summary != ''">
                ,#{summary}
            </when>
            <otherwise>
                ,null
            </otherwise>
        </choose>
        )
    </insert>

    <!--取消用户加入企业-->
    <update id="updateInvitee" parameterType="java.util.Map">
        UPDATE
        tb_invite_user
        SET
        status = '4',
        restime = #{restime}
        <if test="summary!= null and summary!= ''">,summary = #{summary}</if>
        WHERE
        resuid = #{resuid}
        and
        cid = #{cid}
        and
        reqtype = '2'
    </update>

    <!--取消成功后取消加入企业部门资源池-->
    <update id="updateProposer" parameterType="java.util.Map">
        UPDATE
        tb_dept_user
        SET
        status = '2',
        updtime = #{updtime}
        <if test="summary != null and summary != ''">,summary = #{summary}</if>
        WHERE
        uid = #{resuid}
        and
        cid = #{cid}
    </update>

    <!--主页中单位设置基本资料进行list表修改-->
    <update id="updateCompanyBasicList" parameterType="java.util.Map">
        UPDATE
        tb_company_list
        SET
        ouid = #{uid},
        updtime = #{modtime},
        cname = #{cname},
        region = #{region},
        relperson = #{relperson},
        relphone = #{relphone},
        logo = #{logo}
        <if test="relmail != null ">,relmail = #{relmail}</if>
        WHERE
        cid = #{cid}
    </update>
    <!--修改伙伴单位状态-->
    <update id="updateCompanyFriend">
        UPDATE tb_company_friend
        SET resuid = #{resuid},
        restime = #{time},
        ouid = #{uid},
        updtime = #{time},
        status = #{status}
        WHERE
            cid = #{cid}
    </update>

    <!--主页中单位设置基本资料进行Info表修改-->
    <insert id="updateCompanyBasicInfo" parameterType="java.util.Map">
        insert INTO
        tb_company_info(cid, curl, address, ouid, updtime)
        VALUES
        (
        #{cid},
        <choose>
            <when test="curl != null and curl != ''">
                #{curl},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="address != null and address != ''">
                #{address},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{uid},
        #{updtime}
        )
        ON conflict(cid) DO UPDATE SET
        ouid = #{uid},
        updtime = #{updtime}
        <if test="curl != null ">,curl = #{curl}</if>
        <if test="address != null ">,address = #{address}</if>
    </insert>

    <!--主页中单位设置基本资料进行企业系统配置表修改-->
    <update id="updateCompanySysconfig" parameterType="java.util.Map">
        UPDATE
        tb_company_sysconfig
        SET
        upduid = #{uid},
        updtime = #{modtime}
        <if test="systemname != null ">,systemname = #{systemname}</if>
        WHERE
        cid = #{cid}
    </update>

    <!--保存伙伴单位信息-->
    <insert id="insertCompanyFriend">
        INSERT INTO tb_company_friend (cid,requid,reqtime,resuid,restime,ouid,updtime,status,idx)
        VALUES
        (#{cid},#{requid},#{time},#{resuid},#{restime},#{uid},#{time},#{status},
        <choose>
            <when test=" index != null and index !=''">
                #{index}
            </when>
            <otherwise>
                (SELECT count(1)+1 FROM tb_company_friend WHERE cid=#{cid})
            </otherwise>
        </choose>
        )
    </insert>

    <!--管理员创建公海单位-->
    <insert id="insertCompanyCommon" parameterType="java.util.Map">
        INSERT INTO tb_company_common (cid, idx, ouid, addtime, updtime, status, summary)
        VALUES
        (
        #{cid},
        <choose>
            <when test=" index != null and index !=''">
                ${index},
            </when>
            <otherwise>
                (SELECT count(1)+1 FROM tb_company_common),
            </otherwise>
        </choose>
        #{uid},
        #{addtime},
        #{addtime},
        #{status},
        <choose>
            <when test=" summary != null and summary !=''">
                #{summary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
        )
        ON conflict(cid) DO UPDATE SET
        status = #{status}
    </insert>

    <!--管理员创建公海单位-->
    <insert id="insertCompanySupplier" parameterType="java.util.Map">
        INSERT INTO tb_company_supplier (cid, supid, idx, adduid, addtime, updtime, status, summary)
        VALUES
        (
        #{maincid},
        #{cid},
        <choose>
            <when test=" index != null and index !=''">
                ${index},
            </when>
            <otherwise>
                (SELECT count(1)+1 FROM tb_company_supplier),
            </otherwise>
        </choose>
        #{adduid},
        #{addtime},
        #{addtime},
        #{status},
        <choose>
            <when test=" summary != null and summary !=''">
                #{summary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
        )
    </insert>

    <!-- 查询供应商是否存在该企业 -->
    <select id="queryIsCompanySupplier" parameterType="java.util.Map"
            resultType="java.lang.Integer">
        SELECT
        count(1)
        from
        tb_company_supplier
        where
        cid = #{maincid}
        and supid = #{cid}
    </select>
</mapper>
