<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.CompanyUserMapper">
    <!--获取单位总数-->
    <select id="queryCompanyListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM tb_company_list cl
        LEFT JOIN tb_dept_user du ON du.cid = cl.cid
        AND du.uid = cl.manager
        LEFT join tb_company_sysconfig cs on cs.cid = cl.cid
        left join tb_company_info ci on ci.cid = cl.cid
        where
        cl.status = #{status}
        <if test="authid == 0 and authid != ''">and cl.authid = ${authid}</if>
        <if test="authid == 1 and authid != ''">and cl.authid > ${authid}</if>
        <if test="cname != null and cname != ''">
            and (cl.cname LIKE CONCAT( '%',#{cname},'%') or du.cname LIKE CONCAT( '%',#{cname},'%'))
        </if>
    </select>

    <!--查询所有的企业列表-->
    <select id="queryCompanyList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT DISTINCT
        aaa.*
        FROM
        (
        SELECT
        distinct
        cl.id,
        cl.cid,
        cl.cname,
        cl.region,
        du.cname AS uname,
        du.phone,
        cs.systemname,
        ci.address,
        to_char(to_timestamp(cl.regtime / 1000), 'yyyy-MM-dd') as jointime,
        cl.authid,
        COALESCE ( au.ispc, 2 ) AS ispc,
        COALESCE ( au.isapp, 2 ) AS isapp
        FROM tb_company_list cl
        LEFT JOIN tb_dept_user du ON du.cid = cl.cid
        AND du.uid = cl.manager
        LEFT join tb_company_sysconfig cs on cs.cid = cl.cid
        left join tb_company_info ci on ci.cid = cl.cid
        LEFT JOIN (
        SELECT
        prod.cid,
        MIN ( prod.ispc ) AS ispc,
        MIN ( prod.isapp ) AS isapp
        FROM
        (
        SELECT
        sq.cid,
        CASE
        sq.apptype
        WHEN 1 THEN
        1 ELSE 2
        END AS ispc,
        CASE
        sq.apptype
        WHEN 2 THEN
        1 ELSE 2
        END AS isapp
        FROM
        ( SELECT DISTINCT cid, apptype FROM tb_product_list WHERE status = '1' ) sq
        ) prod
        GROUP BY
        prod.cid
        ) au ON au.cid = cl.cid
        where
        cl.status = #{status}
        <if test="authid == 0 and authid != ''and authid != null">and cl.authid = ${authid}</if>
        <if test="authid == 1 and authid != ''and authid != null">and cl.authid > ${authid}</if>
        <if test="cname != null and cname != ''and cname != null">
            and (cl.cname LIKE CONCAT( '%',#{cname},'%') or du.cname LIKE CONCAT( '%',#{cname},'%'))
        </if>
        ) aaa
        order by aaa.id desc
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>

    <!--查询所有的企业列表-->
    <select id="queryAppType" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        distinct
        apptype
        FROM
        tb_product_list
        where
        cid = #{cid}
        and
        status = #{status}
    </select>

    <!--点击调入公海是加入公海单位表-->
    <insert id="insertCompanyCommon" parameterType="java.util.Map">
        INSERT INTO
        tb_company_common (cid, idx, ouid, addtime, updtime, status, summary)
        VALUES
        (
        #{cid},
        (select count(1)+1 from tb_company_common),
        #{uid},
        #{addtime},
        #{updtime},
        #{status}
        <choose>
            <when test="summary != null and summary != ''">
                ,#{summary}
            </when>
            <otherwise>
                ,null
            </otherwise>
        </choose>
        )
    </insert>

    <!--获取单位总数-->
    <select id="queryCommonListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        tb_company_common cc
        LEFT JOIN
        tb_company_list cl on cc.cid = cl.cid
        LEFT JOIN
        tb_dept_user du
        ON du.cid = cl.cid
        AND du.uid = cl.manager
        left join
        tb_company_info ci on ci.cid = cl.cid
        where
        cc.status = #{status}
        <if test="province != null and province != ''">
            and cl.region IN
            <foreach separator="," close=")" open="(" index="index" item="item" collection="list">
                #{item.region}
            </foreach>
        </if>
        <if test="cname != null and cname != ''">
            and (cl.cname LIKE CONCAT( '%',#{cname},'%') or du.cname LIKE CONCAT( '%',#{cname},'%'))
        </if>
    </select>

    <!--查询所有的企业列表-->
    <select id="queryCompanyCommonList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        cc.cid,
        cl.cname,
        cl.region,
        du.cname AS uname,
        du.phone,
        ci.address,
        cl.authid,
        prolist,
        tccl.prodesc,
        tccl.orgrelation,
        tccl.supervise
        FROM
        tb_company_common cc
        LEFT JOIN
        tb_company_list cl on cc.cid = cl.cid
        LEFT JOIN
        tb_dept_user du
        ON du.cid = cl.cid
        AND du.uid = cl.manager
        left join
        tb_company_info ci on ci.cid = cl.cid
        LEFT JOIN tb_common_company_list tccl on cc.cid = tccl.cid
        where
        cl.status = #{status}
        and
        cc.status = #{status}
        <if test="province != null and province != ''">
            and cl.region IN
            <foreach separator="," close=")" open="(" index="index" item="item" collection="list">
                #{item.region}
            </foreach>
        </if>
        <if test="cname != null and cname != ''">
            and (cl.cname LIKE CONCAT( '%',#{cname},'%') or du.cname LIKE CONCAT( '%',#{cname},'%'))
        </if>
        order by cc.id desc
        limit
        ${pagesize}
        offset
        ${pageno}
    </select>

    <!--根据单位ID显示对应的供应商或全部供应商的总数-->
    <select id="queryCompanySupplierCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        tb_company_supplier
        where
        cid = #{cid}
    </select>

    <!--根据单位ID显示对应的供应商或全部供应商-->
    <select id="queryCompanySupplierList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        cs.supid,
        cl.cname,
        cl.region,
        du.cname AS uname,
        du.phone,
        ci.address,
        cl.authid
        FROM
        tb_company_list cl
        LEFT JOIN
        tb_dept_user du
        ON du.cid = cl.cid
        AND du.uid = cl.manager
        left join
        tb_company_info ci on ci.cid = cl.cid
        left join
		tb_company_supplier cs on cl.cid = cs.supid
        where
        cl.status = #{status}
        and
        cs.status = #{status}
        and
        cl.cid in (select supid from tb_company_supplier where cid = #{cid})
        and
        cs.cid = #{cid}
        order by cl.id desc
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>

    <!--点击业主下的项目获取项目列表的总数-->
    <select id="queryCompanyProjectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        tb_company_project
        where
        status = #{status}
        and
        cid = #{cid}
        <if test="projectname != null and projectname != ''">
            and projectname LIKE CONCAT( '%',#{projectname},'%')
        </if>
    </select>

    <!--点击业主下的项目获取项目列表-->
    <select id="queryCompanyProjectList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        cid,
        projectid,
        projectname,
        region,
        address,
        plantime,
        verifytime,
        tendertime,
        tenderuid,
        tendername,
        tenderphone,
        wintime,
        buildstime,
        buildetime,
        to_char(to_timestamp(addtime / 1000), 'yyyy-MM-dd HH24:MI') as addtime,
        summary
        FROM
        tb_company_project
        where
        status = #{status}
        and
        cid = #{cid}
        <if test="projectname != null and projectname != ''">
            and projectname LIKE CONCAT( '%',#{projectname},'%')
        </if>
        order by id desc
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>


    <!--CRM-销售业主-公海-业主下的项目7-点击业主下的项目中删除项目-->
    <update id="delCompanyProject" parameterType="java.util.Map">
          UPDATE
        tb_company_project
        SET  status = #{status} where projectid = #{projectid}
    </update>


    <!--CRM-销售业主-公海-业主下的项目7-点击业主下的项目中新建项目-->
    <insert id="insertCompanyProject" parameterType="java.util.Map">
        INSERT INTO tb_company_project
        (cid, projectid, projectname, region, address, tendertime, tenderuid,
        tendername, tenderphone,prouname,prouphone,
        tendercompany , projecttype , mail ,tenderresultcompany ,  tenderagent ,
        agent ,agentphone , wintime, idx, adduid, addtime, status, summary)
        VALUES
        (
        #{cid},
        #{projectid},
        #{projectname},
        #{region},
        <choose>
            <when test=" address != null and address !=''">
                #{address},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test=" tendertime != null and tendertime !=''">
                ${tendertime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test=" tenderuid != null and tenderuid !=''">
                #{tenderuid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{tendername},
        #{tenderphone},
        <choose><when test=" prouname != null and prouname !=''">#{prouname  },</when><otherwise>null,</otherwise></choose>
        <choose><when test=" prouphone != null and prouphone !=''">#{prouphone},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" tendercompany != null and tendercompany !=''">#{tendercompany},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" projecttype != null and projecttype !=''">#{projecttype},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" mail != null and mail !=''">#{mail},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" tenderresultcompany != null and tenderresultcompany !=''">#{tenderresultcompany},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" tenderagent != null and tenderagent !=''">#{tenderagent},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" agent != null and agent !=''">#{agent},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" agentphone != null and agentphone !=''">#{agentphone},</when><otherwise>null,</otherwise></choose>
        <choose>
            <when test=" wintime != null and wintime !=''">
                ${wintime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test=" idx != null and idx !=''">
                ${idx},
            </when>
            <otherwise>
                (SELECT count(1)+1 FROM tb_company_project),
            </otherwise>
        </choose>
        #{uid},
        ${addtime},
        #{status},
        <choose>
            <when test=" summary != null and summary !=''">
                #{summary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
        )
    </insert>

    <!--CRM公海 项目添加项目信息表-->
    <insert id="insertCompanyProjectInfo" parameterType="java.util.Map">
        INSERT INTO tb_common_project_info
        ( projectid, idx ,lineuid, lineuname, linephone,lineage,linesex,linejob,linenature,des,podeperson,npodeperson,
          podephone,npodephone,podejob,npodejob,podenature,npodenature,setb,sepr,setli,relation,recname,reluname,relphone,brandname,contrast,mail,
          nreluname,nrelphone,nbrandname,ncontrast,nmail,reshid,reshname,reshphone,adduid,
          addtime, status, summary)
        VALUES
        (
        #{projectid},
        <choose><when test=" idx != null and idx !=''"> </when><otherwise>(SELECT count(1)+1 FROM tb_common_project_info),</otherwise></choose>
        <choose><when test=" lineuid != null and lineuid !=''">#{lineuid},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" lineuname != null and lineuname !=''">#{lineuname},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" linephone != null and linephone !=''">#{linephone},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" lineage != null and lineage !=''">#{lineage},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" linesex != null and linesex !=''">#{linesex},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" linejob != null and linejob !=''">#{linejob},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" linenature != null and linenature !=''">#{linenature},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" des != null and des !=''">#{des},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" podeperson != null and podeperson !=''">#{podeperson},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" npodeperson != null and npodeperson !=''">#{npodeperson},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" podephone != null and podephone !=''">#{podephone},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" npodephone != null and npodephone !=''">#{npodephone},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" podejob != null and podejob !=''">#{podejob},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" npodejob != null and npodejob !=''">#{npodejob},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" podenature != null and podenature !=''">#{podenature},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" npodenature != null and npodenature !=''">#{npodenature},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" setb != null and setb !=''">#{setb},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" sepr != null and sepr !=''">#{sepr},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" setli != null and setli !=''">#{setli},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" relation != null and relation !=''">#{relation},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" recname != null and recname !=''">#{recname},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" reluname != null and reluname !=''">#{reluname},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" relphone != null and relphone !=''">#{relphone},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" brandname != null and brandname !=''">#{brandname},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" contrast != null and contrast !=''">#{contrast},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" mail != null and mail !=''">#{mail},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" nreluname != null and nreluname !=''">#{nreluname},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" nrelphone != null and nrelphone !=''">#{nrelphone},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" nbrandname != null and nbrandname !=''">#{nbrandname},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" ncontrast != null and ncontrast !=''">#{ncontrast},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" nmail != null and nmail !=''">#{nmail},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" reshid != null and reshid !=''">#{reshid},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" reshname != null and reshname !=''">#{reshname},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" reshphone != null and reshphone !=''">#{reshphone},</when><otherwise>null,</otherwise></choose>
        <choose><when test=" adduid != null and adduid !=''">#{adduid},</when><otherwise>null,</otherwise></choose>
        #{addtime},
        #{status},
        <choose><when test=" summary != null and summary !=''">#{summary}</when><otherwise>null</otherwise></choose>
        )
    </insert>

    <!--修改项目表-->
    <update id="upcompanyProject" parameterType="java.util.Map">
        update  tb_company_project set
        updtime = #{updtime} , upduid = #{uid}
        <choose><when test=" tendername != null and tendername !=''">,tendername = #{tendername}</when></choose>
        <choose><when test=" tenderphone != null and tenderphone !=''">,tenderphone = #{tenderphone}</when></choose>
        <choose><when test=" projectname != null and projectname !=''">,projectname = #{projectname}</when></choose>
        <choose><when test=" region != null and region !=''">,region = #{region}</when></choose>
        <choose><when test=" address != null and address !=''">,address =  #{address}</when></choose>
        <choose><when test=" tendertime != null and tendertime !=''">,tendertime = #{tendertime}</when></choose>
        <choose><when test=" tenderuid != null and tenderuid !=''">,tenderuid = #{tenderuid}</when></choose>
        <choose><when test=" podeperson != null and podeperson !=''">,podeperson = #{podeperson}</when></choose>
        <choose><when test=" podephone != null and podephone !=''">,podephone = #{podephone}</when></choose>
        <choose><when test=" podejob != null and podejob !=''">,podejob = #{podejob}</when></choose>
        <choose><when test=" podenature != null and podenature !=''">,podenature = #{podenature}</when></choose>
        <choose><when test=" tendercompany != null and tendercompany !=''">,tendercompany =  #{tendercompany}</when></choose>
        <choose><when test=" projecttype != null and projecttype !=''">,projecttype = #{projecttype}</when></choose>
        <choose><when test=" mail != null and mail !=''">,mail = #{mail}</when></choose>
        <choose><when test=" tenderresultcompany != null and tenderresultcompany !=''">,tenderresultcompany = #{tenderresultcompany}</when></choose>
        <choose><when test=" tenderagent != null and tenderagent !=''">,tenderagent = #{tenderagent}</when></choose>
        <choose><when test=" agent != null and agent !=''">,agent = #{agent}</when></choose>
        <choose><when test=" agentphone != null and agentphone !=''">,agentphone = #{agentphone}</when></choose>
        <choose><when test=" relation != null and relation !=''">,relation = #{relation}</when></choose>
        where  projectid = #{projectid}
    </update>

    <!--修改项目详情表-->
    <update id="upcompanyProjectInfo" parameterType="java.util.Map">
          update  tb_common_project_info set
          updtime = #{updtime} , upduid = #{uid}
        <choose><when test=" lineuid != null and lineuid !=''">,lineuid = #{lineuid}</when></choose>
        <choose><when test=" lineuname != null and lineuname !=''">,lineuname = #{lineuname}</when></choose>
        <choose><when test=" linephone != null and linephone !=''">,linephone = #{linephone}</when></choose>
        <choose><when test=" job != null and job !=''">,job = #{job}</when></choose>
        <choose><when test=" linenature != null and linenature !=''">,linenature = #{linenature}</when></choose>
        <choose><when test=" brandname != null and brandname !=''">,brandname = #{brandname}</when></choose>
        <choose><when test=" contrast != null and contrast !=''">,contrast = #{contrast}</when></choose>
        <choose><when test=" reluid != null and reluid !=''">,reluid = #{reluid}</when></choose>
        <choose><when test=" reluname != null and reluname !=''">,reluname = #{reluname}</when></choose>
        <choose><when test=" relphone != null and relphone !=''">,relphone = #{relphone}</when></choose>
        where  projectid = #{projectid}
    </update>

    <!--主页中单位设置基本资料进行企业系统配置表修改-->
    <update id="updateCompanyProject" parameterType="java.util.Map">
        UPDATE
        tb_company_project
        SET
        projectname = #{projectname},
        region = #{region},
        tendertime = ${tendertime},
        tendername = #{tendername},
        tenderphone = #{tenderphone},
        upduid = #{uid},
        updtime = ${updtime}
        <if test="address != null ">,address = #{address}</if>
        <if test="tenderuid != null ">,tenderuid = #{tenderuid}</if>
        <if test="summary != null ">,summary = #{summary}</if>
        WHERE
        cid = #{cid}
        and
        projectid = #{projectid}
    </update>

    <!--根据用户ID查询企业中是否存在用户-->
    <select id="queryDeptCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        count(1)
        from
        (
        SELECT
        distinct
        uid
        FROM
        tb_dept_user
        where
        status = #{status}
        and
        cid = #{cid}
        )as dept
    </select>

    <!--CRM-销售业主-公海-业主下的人员11-将用户加入单位资源池中-->
    <insert id="insertCompanyDept" parameterType="java.util.Map">
        INSERT INTO
        tb_dept_user
        (cid, cdid, uid, cname, phone, origin, college,
        education, likes, marriage, idx, adduid, addtime, status, summary)
        VALUES
        (
        #{cid},
        <choose>
            <when test=" cdid != null and cdid !=''">
                #{cdid},
            </when>
            <otherwise>
                CONCAT( #{cid},'0000'),
            </otherwise>
        </choose>
        #{uid},
        #{cname},
        #{relphone},
        #{origin},
        #{college},
        #{education},
        #{likes},
        #{marriage},
        <choose>
            <when test=" idx != null and idx !=''">
                ${idx},
            </when>
            <otherwise>
                (SELECT count(1)+1 FROM tb_dept_user),
            </otherwise>
        </choose>
        #{adduid},
        ${addtime},
        #{status},
        <choose>
            <when test=" summary != null and summary !=''">
                #{summary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
        )
    </insert>

    <!--查询业主下所有的人员信息总数-->
    <select id="queryCompanyUserListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        count(1)
        from
        (
        SELECT
        distinct
        uid
        FROM
        tb_dept_user
        where
        status = #{status}
        and
        cid = #{cid}
        ) as u
    </select>

    <!--查询业主下所有的人员信息-->
    <select id="queryCompanyUserList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        distinct
        uid
        FROM
        tb_dept_user
        where
        status = #{status}
        and
        cid = #{cid}
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>
</mapper>
