<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.CompanyUserMapper">
    <!--获取单位总数-->
    <select id="queryCompanyListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM tb_company_list cl
        LEFT JOIN tb_dept_user du ON du.cid = cl.cid
        AND du.uid = cl.manager
        LEFT join tb_company_sysconfig cs on cs.cid = cl.cid
        left join tb_company_info ci on ci.cid = cl.cid
        where
        cl.status = #{status}
        <if test="authid == 0 and authid != ''">and cl.authid = ${authid}</if>
        <if test="authid == 1 and authid != ''">and cl.authid > ${authid}</if>
        <if test="cname != null and cname != ''">
            and (cl.cname LIKE CONCAT( '%',#{cname},'%') or du.cname LIKE CONCAT( '%',#{cname},'%'))
        </if>
    </select>

    <!--查询所有的企业列表-->
    <select id="queryCompanyList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT DISTINCT
        aaa.*
        FROM
        (
        SELECT
        cl.id,
        cl.cid,
        cl.cname,
        cl.region,
        du.cname AS uname,
        du.phone,
        cs.systemname,
        ci.address,
        to_char(to_timestamp(cl.regtime / 1000), 'yyyy-MM-dd') as jointime,
        cl.authid,
        COALESCE ( au.ispc, 2 ) AS ispc,
        COALESCE ( au.isapp, 2 ) AS isapp
        FROM tb_company_list cl
        LEFT JOIN tb_dept_user du ON du.cid = cl.cid
        AND du.uid = cl.manager
        LEFT join tb_company_sysconfig cs on cs.cid = cl.cid
        left join tb_company_info ci on ci.cid = cl.cid
        LEFT JOIN (
        SELECT
        prod.cid,
        MIN ( prod.ispc ) AS ispc,
        MIN ( prod.isapp ) AS isapp
        FROM
        (
        SELECT
        sq.cid,
        CASE
        sq.apptype
        WHEN 1 THEN
        1 ELSE 2
        END AS ispc,
        CASE
        sq.apptype
        WHEN 2 THEN
        1 ELSE 2
        END AS isapp
        FROM
        ( SELECT DISTINCT cid, apptype FROM tb_product_list WHERE status = '1' ) sq
        ) prod
        GROUP BY
        prod.cid
        ) au ON au.cid = cl.cid
        where
        cl.status = #{status}
        <if test="authid == 0 and authid != ''and authid != null">and cl.authid = ${authid}</if>
        <if test="authid == 1 and authid != ''and authid != null">and cl.authid > ${authid}</if>
        <if test="cname != null and cname != ''and cname != null">
            and (cl.cname LIKE CONCAT( '%',#{cname},'%') or du.cname LIKE CONCAT( '%',#{cname},'%'))
        </if>
        ) aaa
        order by aaa.id desc
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>

    <!--查询所有的企业列表-->
    <select id="queryAppType" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        distinct
        apptype
        FROM
        tb_product_list
        where
        cid = #{cid}
        and
        status = #{status}
    </select>

    <!--点击调入公海是加入公海单位表-->
    <insert id="insertCompanyCommon" parameterType="java.util.Map">
        INSERT INTO
        tb_company_common (cid, idx, ouid, addtime, updtime, status, summary)
        VALUES
        (
        #{cid},
        (select count(1)+1 from tb_company_common),
        #{uid},
        #{addtime},
        #{updtime},
        #{status}
        <choose>
            <when test="summary != null and summary != ''">
                ,#{summary}
            </when>
            <otherwise>
                ,null
            </otherwise>
        </choose>
        )
    </insert>

    <!--获取单位总数-->
    <select id="queryCommonListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        tb_company_common cc
        LEFT JOIN
        tb_company_list cl on cc.cid = cl.cid
        LEFT JOIN
        tb_dept_user du
        ON du.cid = cl.cid
        AND du.uid = cl.manager
        left join
        tb_company_info ci on ci.cid = cl.cid
        where
        cc.status = #{status}
        <if test="province != null and province != ''">
            and cl.region IN
            <foreach separator="," close=")" open="(" index="index" item="item" collection="list">
                #{item.region}
            </foreach>
        </if>
        <if test="cname != null and cname != ''">
            and (cl.cname LIKE CONCAT( '%',#{cname},'%') or du.cname LIKE CONCAT( '%',#{cname},'%'))
        </if>
    </select>

    <!--查询所有的企业列表-->
    <select id="queryCompanyCommonList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        cc.cid,
        cl.cname,
        cl.region,
        du.cname AS uname,
        du.phone,
        ci.address,
        cl.authid
        FROM
        tb_company_common cc
        LEFT JOIN
        tb_company_list cl on cc.cid = cl.cid
        LEFT JOIN
        tb_dept_user du
        ON du.cid = cl.cid
        AND du.uid = cl.manager
        left join
        tb_company_info ci on ci.cid = cl.cid
        where
        cl.status = #{status}
        and
        cc.status = #{status}
        <if test="province != null and province != ''">
            and cl.region IN
            <foreach separator="," close=")" open="(" index="index" item="item" collection="list">
                #{item.region}
            </foreach>
        </if>
        <if test="cname != null and cname != ''">
            and (cl.cname LIKE CONCAT( '%',#{cname},'%') or du.cname LIKE CONCAT( '%',#{cname},'%'))
        </if>
        order by cc.id desc
        limit
        ${pagesize}
        offset
        ${pageno}
    </select>

    <!--根据单位ID显示对应的供应商或全部供应商的总数-->
    <select id="queryCompanySupplierCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        tb_company_supplier
        where
        cid = #{cid}
    </select>

    <!--根据单位ID显示对应的供应商或全部供应商-->
    <select id="queryCompanySupplierList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        cs.supid,
        cl.cname,
        cl.region,
        du.cname AS uname,
        du.phone,
        ci.address,
        cl.authid
        FROM
        tb_company_list cl
        LEFT JOIN
        tb_dept_user du
        ON du.cid = cl.cid
        AND du.uid = cl.manager
        left join
        tb_company_info ci on ci.cid = cl.cid
        left join
		tb_company_supplier cs on cl.cid = cs.supid
        where
        cl.status = #{status}
        and
        cs.status = #{status}
        and
        cl.cid in (select supid from tb_company_supplier where cid = #{cid})
        order by cl.id desc
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>

    <!--点击业主下的项目获取项目列表的总数-->
    <select id="queryCompanyProjectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        tb_company_project
        where
        status = #{status}
        and
        cid = #{cid}
        <if test="projectname != null and projectname != ''">
            and projectname LIKE CONCAT( '%',#{projectname},'%')
        </if>
    </select>

    <!--点击业主下的项目获取项目列表-->
    <select id="queryCompanyProjectList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        cid,
        projectid,
        projectname,
        region,
        address,
        plantime,
        verifytime,
        tendertime,
        tenderuid,
        tendername,
        tenderphone,
        wintime,
        buildstime,
        buildetime,
        to_char(to_timestamp(addtime / 1000), 'yyyy-MM-dd HH24:MI') as addtime,
        summary
        FROM
        tb_company_project
        where
        status = #{status}
        and
        cid = #{cid}
        <if test="projectname != null and projectname != ''">
            and projectname LIKE CONCAT( '%',#{projectname},'%')
        </if>
        order by id desc
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>

    <!--CRM-销售业主-公海-业主下的项目7-点击业主下的项目中新建项目-->
    <insert id="insertCompanyProject" parameterType="java.util.Map">
        INSERT INTO tb_company_project
        (cid, projectid, projectname, region, address, tendertime, tenderuid,
         tendername, tenderphone, wintime, idx, adduid, addtime, status, summary)
        VALUES
        (
        #{cid},
        #{projectid},
        #{projectname},
        #{region},
        <choose>
            <when test=" address != null and address !=''">
                #{address},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test=" tendertime != null and tendertime !=''">
                ${tendertime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test=" tenderuid != null and tenderuid !=''">
                #{tenderuid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{tendername},
        #{tenderphone},
        <choose>
            <when test=" wintime != null and wintime !=''">
                ${wintime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test=" idx != null and idx !=''">
                ${idx},
            </when>
            <otherwise>
                (SELECT count(1)+1 FROM tb_company_project),
            </otherwise>
        </choose>
        #{uid},
        ${addtime},
        #{status},
        <choose>
            <when test=" summary != null and summary !=''">
                #{summary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
        )
    </insert>

    <!--主页中单位设置基本资料进行企业系统配置表修改-->
    <update id="updateCompanyProject" parameterType="java.util.Map">
        UPDATE
        tb_company_project
        SET
        projectname = #{projectname},
        region = #{region},
        tendertime = ${tendertime},
        tendername = #{tendername},
        tenderphone = #{tenderphone},
        upduid = #{uid},
        updtime = ${updtime}
        <if test="address != null ">,address = #{address}</if>
        <if test="tenderuid != null ">,tenderuid = #{tenderuid}</if>
        <if test="summary != null ">,summary = #{summary}</if>
        WHERE
        cid = #{cid}
        and
        projectid = #{projectid}
    </update>

    <!--根据用户ID查询企业中是否存在用户-->
    <select id="queryDeptCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        count(1)
        from
        (
        SELECT
        distinct
        uid
        FROM
        tb_dept_user
        where
        status = #{status}
        and
        cid = #{cid}
        )as dept
    </select>

    <!--CRM-销售业主-公海-业主下的人员11-将用户加入单位资源池中-->
    <insert id="insertCompanyDept" parameterType="java.util.Map">
        INSERT INTO
        tb_dept_user
        (cid, cdid, uid, cname, phone, origin, college,
        education, likes, marriage, idx, adduid, addtime, status, summary)
        VALUES
        (
        #{cid},
        <choose>
            <when test=" cdid != null and cdid !=''">
                #{cdid},
            </when>
            <otherwise>
                CONCAT( #{cid},'0000'),
            </otherwise>
        </choose>
        #{uid},
        #{cname},
        #{relphone},
        #{origin},
        #{college},
        #{education},
        #{likes},
        #{marriage},
        <choose>
            <when test=" idx != null and idx !=''">
                ${idx},
            </when>
            <otherwise>
                (SELECT count(1)+1 FROM tb_dept_user),
            </otherwise>
        </choose>
        #{adduid},
        ${addtime},
        #{status},
        <choose>
            <when test=" summary != null and summary !=''">
                #{summary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
        )
    </insert>

    <!--查询业主下所有的人员信息总数-->
    <select id="queryCompanyUserListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        count(1)
        from
        (
        SELECT
        distinct
        uid
        FROM
        tb_dept_user
        where
        status = #{status}
        and
        cid = #{cid}
        ) as u
    </select>

    <!--查询业主下所有的人员信息-->
    <select id="queryCompanyUserList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        distinct
        uid
        FROM
        tb_dept_user
        where
        status = #{status}
        and
        cid = #{cid}
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>
</mapper>
