<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.ExportConfirmMapper">
    <!--保存单个部门用户信息-->
    <insert id="insertDeptUser">
        INSERT INTO tb_dept_user ( cid, cdid, uid,cname, addtime,updtime, status, summary, idx )
        VALUES
        (#{cid},#{cdid},#{uid},#{cname},#{addtime},#{addtime},#{status},#{summary},
        <choose>
            <when test=" index != null and index !=''">
                #{index}
            </when>
            <otherwise>
                (SELECT count(1)+1 FROM tb_dept_user WHERE
                cid=#{cid} AND cdid=#{cdid} )
            </otherwise>
        </choose>
        )
    </insert>
    <!--保存成员邀请/申请表-->
    <insert id="insertInviteUser">
         INSERT INTO tb_invite_user ( reqtype, batchid, cid, uid, reqtime, cdid, ustatus, resuid, resphone, status )
                VALUES (#{reqtype},#{batchid},#{cid},#{uid},#{reqtime},#{cdid},#{ustatus},#{resuid},#{resphone},#{status})
    </insert>
    <!--修改用户导入信息-->
    <update id="updateExportUserInfo">
            UPDATE tb_export_user_info
            SET status = #{status}
            WHERE
                cid =#{cid}
                AND batchid =#{batchid}
                AND ID=#{id}
    </update>

    <!--获取导入信息总数-->
    <select id="queryExportCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM
        tb_export_user_info
        WHERE
        <if test=" cid != null and AND != ''">cid = #{cid} AND</if>
        batchid = #{batchid}
    </select>
    <!--根据企业id和批次id获取导入信息-->
    <select id="queryExportList" resultType="java.util.Map">
        SELECT id,
        batchid,
        cid,
        idx,
        cname,
        sex,
        phone,
        cardid,
        dept,
        mail,
        relperson,
        relphone,
        status,
        summary
        FROM
        tb_export_user_info
        WHERE
        <if test=" cid != null and AND != ''">cid = #{cid} AND</if>
        batchid = #{batchid}
        ORDER BY
        idx LIMIT #{pagesize} OFFSET #{start}
    </select>
    <!--获取导入批次信息-->
    <select id="queryExportBatch" resultType="java.util.Map">
        SELECT
            batchid,
            cname,
            addtime,
            status,
            summary
        FROM
            tb_export_batch
        WHERE
            batchid = #{batchid}
    </select>
    <!--根据企业id和部门id查看部门是否存在-->
    <select id="queryDeptMap" resultType="java.util.Map">
        SELECT cdid,cname
        FROM
            tb_company_dept
        WHERE
            status = '1'
            AND cid =#{cid}
            AND cdid =#{cdid}
    </select>
    <!--判断员工是否在指定部门-->
    <select id="queryDeptUserCount" resultType="java.lang.Integer">
            SELECT COUNT(1)
            FROM
                tb_company_dept cd
                INNER JOIN tb_dept_user du ON cd.status = '1'
                AND du.cid = cd.cid
                AND du.cdid = cd.cdid
            WHERE
                du.status = '1'
                AND cd.cid = #{cid}
                AND cd.cdid=#{cdid}
    </select>
</mapper>