<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.NewCompanyProjectMapper">

    <!--根据公司id查询公司信息-->
    <select id="queryCommonCompanyListBycid" resultType="java.util.Map" parameterType="java.util.Map">
        select cid,supervise,orgrelation,prodesc,prolist from tb_common_company_list where status='1' and cid=#{cid}
        limit #{pagesize}  offset #{pageno}
    </select>

    <!--根据公司id查询项目信息-->
    <select id="queryCompanyByid" resultType="java.util.Map" parameterType="java.util.Map">
        select projectid,cid,projectname,prouname,prouphone,tendertime,tenderphone,tendercompany,projecttype,mail,tenderresultcompany,tenderagent,agentphone
--         ,porjcetra
         from tb_company_project where cid=#{cid} and  projectid=#{projectid}
         limit #{pagesize}  offset #{pageno}
    </select>

    <!--根据项目id查询项目情报-->
    <select id="queryCompanyByProjectid" resultType="java.util.Map" parameterType="java.util.Map">
        select * from tb_company_project_info where  projectid=#{projectid}
        limit #{pagesize}  offset #{pageno}
    </select>

    <!--根据项目id查询项目情报-->
    <select id="countProjectInfo" resultType="java.util.Map" parameterType="java.util.Map">
        select count(1) from tb_company_project_info where  projectid=#{projectid}
    </select>

    <!--修改单位-->
    <update id="updateCommonCompanyList" parameterType="java.util.Map">
        update tb_common_company_list
        set
        <if test=" supervise != null and supervise != ''"> supervise=#{ supervise},</if>
        <if test=" orgrelation != null and orgrelation != ''"> orgrelation=#{ orgrelation},</if>
        <if test=" prodesc != null and prodesc != ''"> prodesc=#{ prodesc},</if>
        <if test=" prolist != null and prolist != ''"> prolist=#{ prolist}</if>
        <if test=" uid != null and uid != ''"> upduid=#{uid},</if>
        <if test=" updtime != null and updtime != ''"> updtime=#{ updtime}</if>
        where status ='1' and cid=#{cid}
    </update>

    <!--修改项目-->
    <update id="updateCompanyProject" parameterType="java.util.Map">
        update tb_company_project 
        set
            <if test=" prouname != null and prouname != ''"> prouname=#{ prouname},</if>
            <if test=" prouphone != null and prouphone != ''"> prouphone=#{ prouphone},</if>
            <if test=" tendertime != null and tendertime != ''"> tendertime=#{ tendertime},</if>
            <if test=" tendercompany != null and tendercompany != ''"> tendercompany=#{ tendercompany},</if>
            <if test=" projecttype != null and projecttype != ''"> projecttype=#{ projecttype},</if>
            <if test=" mail != null and mail != ''"> mail=#{ mail},</if>
            <if test=" tenderresultcompany != null and tenderresultcompany != ''"> tenderresultcompany=#{ tenderresultcompany},</if>
            <if test=" tenderagent != null and tenderagent != ''"> tenderagent=#{ tenderagent},</if>
            <if test=" agentphone != null and agentphone != ''"> agentphone=#{ agentphone},</if>
            <if test=" upduid != null and upduid != ''"> upduid=#{ upduid},</if>
            <if test=" updtime != null and updtime != ''"> updtime=#{ updtime}</if>
        where status ='1' and projectid=#{projectid}
    </update>

    <!--修改项目详情-->
    <update id="updateCompanyProjectInfo" parameterType="java.util.Map">
        update tb_company_project_info
        set
            <if test=" lineuname != null and lineuname != ''"> lineuname=#{ lineuname},</if>
            <if test=" linephone != null and linephone != ''"> linephone=#{ linephone},</if>
            <if test=" lineage != null and lineage != ''"> lineage=#{ lineage},</if>
            <if test=" linesex != null and linesex != ''"> linesex=#{ linesex},</if>
            <if test=" linejob != null and linejob != ''"> linejob=#{ linejob},</if>
            <if test=" linenature != null and linenature != ''"> linenature=#{ linenature},</if>
            <if test=" des != null and des != ''"> des=#{ des},</if>
            <if test=" idx != null and idx != ''"> idx=#{ idx},</if>
            <if test=" podeperson != null and podeperson != ''"> podeperson=#{ podeperson},</if>
            <if test=" podephone != null and podephone != ''"> podephone=#{ podephone},</if>
            <if test=" podejob != null and podejob != ''"> podejob=#{ podejob},</if>
            <if test=" podenature != null and podenature != ''"> podenature=#{ podenature},</if>
            <if test=" npodeperson != null and npodeperson != ''"> npodeperson=#{ npodeperson},</if>
            <if test=" npodephone != null and npodephone != ''"> npodephone=#{ npodephone},</if>
            <if test=" npodejob != null and npodejob != ''"> npodejob=#{ npodejob},</if>
            <if test=" npodenature != null and npodenature != ''"> npodenature=#{ npodenature},</if>
            <if test=" setb != null and setb != ''"> setb=#{ setb},</if>
            <if test=" sepr != null and sepr != ''"> sepr=#{ sepr},</if>
            <if test=" setli != null and setli != ''"> setli=#{ setli},</if>
            <if test=" relation != null and relation != ''"> relation=#{ relation},</if>
            <if test=" recname != null and recname != ''"> recname=#{ recname},</if>
            <if test=" reluname != null and reluname != ''"> reluname=#{ reluname},</if>
            <if test=" relphone != null and relphone != ''"> relphone=#{ relphone},</if>
            <if test=" brandname != null and brandname != ''"> brandname=#{ brandname},</if>
            <if test=" contrast != null and contrast != ''"> contrast=#{ contrast},</if>
            <if test=" mail != null and mail != ''"> mail=#{ mail},</if>
            <if test=" nreluname != null and nreluname != ''"> nreluname=#{ nreluname},</if>
            <if test=" nrelphone != null and nrelphone != ''"> nrelphone=#{ nrelphone},</if>
            <if test=" nbrandname != null and nbrandname != ''"> nbrandname=#{ nbrandname},</if>
            <if test=" ncontrast != null and ncontrast != ''"> ncontrast=#{ ncontrast},</if>
            <if test=" nmail != null and nmail != ''"> nmail=#{ nmail},</if>
<!--            <if test=" reshid != null and reshid != ''"> reshid=#{ reshid},</if>-->
            <if test=" reshname != null and reshname != ''"> reshname=#{ reshname},</if>
            <if test=" reshphone != null and reshphone != ''"> reshphone=#{ reshphone},</if>
<!--            <if test=" adduid != null and adduid != ''"> adduid=#{ adduid},</if>-->
            <if test=" addtime != null and addtime != ''"> addtime=#{ addtime},</if>
            <if test=" upduid != null and upduid != ''"> upduid=#{ upduid},</if>
            <if test=" updtime != null and updtime != ''"> updtime=#{ updtime}</if>
        where status ='1'and projectid=#{projectid}
    </update>
</mapper>
