<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.NewCompanyCommonMapper">
    <!--点击公海显示所有的单位信息的总数-->
    <select id="queryCompanyCommonListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        tb_common_company_list
        where
        status = #{status}
        <if test="cid != null and cid != ''">
            and cid = #{cid}
        </if>
        <if test="cname != null and cname != ''">
            and cname LIKE CONCAT( '%',#{cname},'%')
        </if>
        <if test="relperson != null and relperson != ''">
            and relperson LIKE CONCAT( '%',#{relperson},'%')
        </if>
        <if test="province != null and province != ''">
            and region IN
            <foreach separator="," close=")" open="(" index="index" item="item" collection="list">
                #{item.region}
            </foreach>
        </if>
    </select>

    <!--查询所有的企业列表-->
    <select id="queryCompanyCommonList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        tccl.tcid,
        tccl.cid,
        tccl.cname,
        tccl.region,
        tccl.uscc,
        tccl.reluid,
        tccl.relperson,
        tccl.relphone,
        tccl.relmail,
        tccl.logo,
        tccl.photo,
        tccl.curl,
        tccl.fax,
        to_char(to_timestamp(tccl.limitday / 1000), 'yyyy-MM-dd HH24:MI') as limitday,
        to_char(to_timestamp(tccl.birthday / 1000), 'yyyy-MM-dd HH24:MI') as birthday,
        tci.address,
        tccl.range,
        tccl.ctype,
        tccl.legaleid,
        tccl.legaler,
        tccl.cardid,
        tccl.capital,
        tccl.content,
        tcl.authid as authstatus,
        tccl.supervise,
        tccl.orgrelation,
        tccl.prodesc,
        tccl.prolist,
        tccl.source
        FROM
        tb_common_company_list tccl
        left join
        tb_company_list tcl
        on
        tccl.cid = tcl.cid
        left join
        tb_company_info tci
        on
        tccl.cid = tci.cid
        where
        tccl.status = #{status}
        <if test="cid != null and cid != ''">
            and tccl.cid = #{cid}
        </if>
        <if test="cname != null and cname != ''">
            and tccl.cname LIKE CONCAT( '%',#{cname},'%')
        </if>
        <if test="relperson != null and relperson != ''">
            and tccl.relperson LIKE CONCAT( '%',#{relperson},'%')
        </if>
        <if test="province != null and province != ''">
            and tccl.region IN
            <foreach separator="," close=")" open="(" index="index" item="item" collection="list">
                #{item.region}
            </foreach>
        </if>
        order by tccl.id desc
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>

    <!--管理员创建公海单位-->
    <insert id="insertCompanyCommonList" parameterType="java.util.Map">
        INSERT INTO tb_common_company_list (tcid, cid, cname,
        nickname, region, uscc, reluid, relperson, relphone, telephone,
         relmail, logo, photo, cstatus, curl, fax, limitday, address, range,
          ctype, legaleid, legaler, cardid, capital, birthday, content, authstatus,
          supervise, orgrelation, prodesc, prolist, source, adduid, addtime, upduid,
           updtime,  summary,status)

        VALUES
        (
        <choose><when test="tcid != null and tcid != ''"> #{tcid},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{cid},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{cname},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{nickname},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{region},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{uscc},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{reluid},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{relperson},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{relphone},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{telephone},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{relmail},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{logo},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{photo},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{cstatus},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{curl},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{fax},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{limitday},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{address},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{range},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{ctype},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{legaleid},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{legaler},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{cardid},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{capital},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{birthday},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{content},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{authstatus},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{supervise},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{orgrelation},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{prodesc},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{prolist},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{source},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{adduid},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{addtime},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{upduid},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{updtime},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{summary},</when> <otherwise>null ,</otherwise></choose>
         #{status}
        )
    </insert>

    <insert id="insertTbCompanyList" parameterType="java.util.Map">
           insert into
           tb_company_list(cid, cname, nickname, region, uscc, idx,
            relperson, relphone, telephone, relmail, reguid, regtime,
            manager, logo, photo, authid, ouid, upduid, updtime,
            summary, oldcid,status)
        values (
        <choose><when test="tcid != null and tcid != ''"> #{cid},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''">#{cname},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''">#{nickname},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{region},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{uscc},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{idx},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{relperson},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{relphone},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{telephone},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''">#{relmail},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{reguid},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{regtime},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{manager},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{logo},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{photo},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{authid},</when> <otherwise>0, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{ouid},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{upduid},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{updtime},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{summary},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{oldcid},</when> <otherwise>null, </otherwise></choose>
         #{status}
        )
    </insert>


    <insert id="insertTbInfo" parameterType="java.util.Map">
        insert into tb_company_info( curl, fax,
        limitday, address, range, ctype, legaler, cardid, capital,
        birthday, content, license, idcardup, idecarddown, authorg,
        orgads, authfile, authtext, ouid, updtime ,cid)
        values (
        <choose><when test="tcid != null and tcid != ''"> #{curl},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{fax},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{limitday},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{address},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{range},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{ctype},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{legaler},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{cardid},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{capital},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{birthday},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{content},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{license},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{idcardup},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{idecarddown},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{authorg},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{orgads},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{authfile},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{authtext},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{ouid},</when> <otherwise>null, </otherwise></choose>
        <choose><when test="tcid != null and tcid != ''"> #{updtime},</when> <otherwise>null, </otherwise></choose>
         #{cid}
         )
    </insert>

    <!-- 点击修改按钮,进行公海单位修改 -->
    <update id="updateCompanyCommonList" parameterType="java.util.Map">
        update
        tb_common_company_list
        SET
        <if test="cid != null and cid != ''">region = #{region},</if>
        <if test="uscc != null and uscc != ''">uscc = #{uscc},</if>
        <if test="reluid != null and reluid != ''">reluid = #{reluid},</if>
        <if test="phone != null and phone != ''">relphone = #{phone},</if>
        <if test="telephone != null and telephone != ''">telephone = #{telephone},</if>
        <if test="relmail != null and relmail != ''">relmail = #{relmail},</if>
        <if test="logo != null and logo != ''">logo = #{logo},</if>
        <if test="photo != null and photo != ''">photo = #{photo},</if>
        <if test="curl != null and curl != ''">curl = #{curl},</if>
        <if test="fax != null and fax != ''">fax = #{fax},</if>
        <if test="limitday != null and limitday != ''">limitday = ${limitday},</if>
        <if test="address != null and address != ''">address = #{address},</if>
        <if test="range != null and range != ''">range = #{range},</if>
        <if test="ctype != null and ctype != ''">ctype = #{ctype},</if>
        <if test="legaleid != null and legaleid != ''">legaleid = #{legaleid},</if>
        <if test="legaler != null and legaler != ''">legaler = #{legaler},</if>
        <if test="cardid != null and cardid != ''">cardid = #{cardid},</if>
        <if test="capital != null and capital != ''">capital = #{capital},</if>
        <if test="birthday != null and birthday != ''">birthday = ${birthday},</if>
        <if test="content != null and content != ''">content = #{content},</if>
        <if test="supervise != null and supervise != ''">supervise = #{supervise},</if>
        <if test="orgrelation != null and orgrelation != ''">orgrelation = #{orgrelation},</if>
        <if test="prodesc != null and prodesc != ''">prodesc = #{prodesc},</if>
        <if test="prolist != null and prolist != ''">prolist = #{prolist},</if>
        <if test="source != null and source != ''">source = ${source},</if>
        <if test="summary != null and summary != ''">summary = #{summary},</if>
        upduid = #{upduid},
        updtime = #{updtime}
        WHERE
        cid=#{cid}
        and
        tcid = #{tcid}
    </update>

    <!--点击删除按钮,进行公海单位删除-->
    <update id="deleteCompanyCommonList" parameterType="java.util.Map">
        update
        tb_common_company_list
        SET
        status = #{status}
        WHERE
        cid=#{cid}
        and
        tcid = #{tcid}
    </update>
</mapper>