<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.NewTbTrackUserListMapper">

    <select id="queryTrackUserListByKey" resultType="java.util.Map" parameterType="java.util.Map">
        select trackcontent ,abdialogue,nextadvance from tb_track_user_list where status='1'
        <if test="uid != null and uid != ''">and  customer = #{uid}</if>
        <if test="cid != null and cid != ''">and trackvalue = #{cid}</if>
        <if test="projectid != null and projectid != ''">and trackproid = #{projectid}</if>
        <if test="trtime != null and trtime != ''">and tracktime between #{begDate} and #{endDate} </if>
        limit #{pagesize}  offset #{pageno}
    </select>

    <select id="countTrackUserListByKey" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from tb_track_user_list where status='1'
        <if test="uid != null and uid != ''">and customer = #{uid}</if>
        <if test="cid != null and cid != ''">and trackcid = #{cid}</if>
        <if test="projectid != null and projectid != ''">and trackproid = #{projectid}</if>
        <if test="trtime != null and trtime != ''">and tracktime = #{trtime}</if>
    </select>

</mapper>
