<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.PlatformCompanyMapper">


    <!--开放平台企业列表查询-->
    <select id="searchPlatformComList" resultType="java.util.Map">
        select distinct cl.cid, cl.cname, ci.address, cl.region
        from tb_company_list cl
        left join tb_company_info ci on ci.cid = cl.cid
        inner join (SELECT regexp_split_to_table(#{cids}, ',') as cid) pl on pl.cid = cl.cid
        where (cl.cname ~ #{value}
        <if test=" cidbyuid != null and cidbyuid !='' ">
            or cl.cid in (SELECT regexp_split_to_table(#{cidbyuid}, ',') )
        </if>
        )
        and cl.status = '1'
        order by cl.cid
        LIMIT #{pagesize} OFFSET #{start}
    </select>
    <!--开放平台企业列表查询总数-->
    <select id="searchPlatformComCount" resultType="java.lang.Integer">
        select count(distinct cl.cid)
        from tb_company_list cl
        inner join (SELECT regexp_split_to_table(#{cids}, ',') as cid) pl on pl.cid = cl.cid
        where (cl.cname ~ #{value}
        <if test=" cidbyuid != null and cidbyuid !='' ">
            or cl.cid in (SELECT regexp_split_to_table(#{cidbyuid}, ',') )
        </if>
        )
        and cl.status = '1'
    </select>
    <!--根据企业名称或企业cid集合获取cid合集-->
    <select id="searchCidByCidCname" resultType="java.lang.String">
        SELECT COALESCE ( string_agg ( DISTINCT tcl.cid, ',' ), '' ) AS cids FROM tb_company_list tcl
        <if test=" cids != null  ">
            INNER JOIN (SELECT regexp_split_to_table( #{cids},',' ) AS cid ) sl on sl.cid = tcl.cid
        </if>
        WHERE tcl.cname ~ #{value}
        LIMIT #{pagesize} OFFSET #{start}
    </select>

    <!--开放平台添加产品-->
    <insert id="insertProductByOpen">
        insert into tb_product_list (pid, cid, plid, cname, apptype, appid,
                             appname, version, showvsn, ouid, addtime,upduid,
                             updtime, status)
         values (#{appid},#{cid},#{appline},#{appname},#{apptype},#{appid},
                #{appname},#{appvsn},#{showvsn},#{uid},#{time},#{uid},
                #{time},#{status})
         on conflict(pid) do
         update set
                    cname=#{appname},
                    appname=#{appname},
                    version=#{appvsn},
                    showvsn=#{showvsn},
                    updtime=#{time},
                    upduid=#{uid},
                    status=#{status};
    </insert>

    <select id="getProductByOpens" parameterType="java.util.Map" resultType="int">
        select
        count(1)
        from
        tb_company_product
        where
        pid = #{appid}
    </select>

    <update id="upsateProductByOpens" parameterType="java.util.Map">
        update
        set
        upduid=#{uid},
        status=#{status}
        updtime=#{updtime}
        where
        pid = #{appid}
    </update>

    <insert id="insertProductByOpens">
        insert into tb_company_product (ptype,pid, cid, plid,
                              ouid, addtime,upduid,
                             updtime, status)
         values (#{ptype},#{appid},#{cid},#{plid},
                #{uid},#{time},#{uid},
                #{time},#{status})
    </insert>

    <!--添加菜单-->
    <insert id="saveMune" parameterType="java.util.List">
        <foreach separator=";" close="" open="" index="index" item="item" collection="list">
        insert into
        tb_product_menu
        (pid,mid,parentid,cname,menupath,icon,addtime,updtime,status,idx)
        values(
        #{item.appid},#{item.mid},#{item.parentid},#{item.cname},#{item.menupath},#{item.icon},#{item.addtime},#{item.updtime},#{item.status},
        <choose>
            <when test="item.idx != null and item.idx != ''">#{item.idx}</when>
            <otherwise>
                (select count(1)+1 from tb_product_menu)
            </otherwise>
        </choose>
        )
        </foreach>
    </insert>

    <!--添加页面-->
    <insert id="savepage" parameterType="java.util.List">
        <foreach separator=";" close="" open="" index="index" item="item" collection="list">
      insert into
      tb_product_page
      (pageid,pid,mid,cname,pagepath,addtime,updtime,status,idx)
      values (
      #{item.pageid},#{item.appid},#{item.mid},#{item.cname},#{item.path},#{item.addtime},#{item.updtime},#{item.status},
      <choose>
          <when test="item.idx != null and item.idx != ''">#{item.idx}</when>
          <otherwise>
              (select count(1)+1 from tb_product_page)
          </otherwise>
      </choose>
      )
        </foreach>
    </insert>

    <select id="getMune" parameterType="java.util.Map" resultType="int">
        select
        count(1)
        from
        tb_product_menu
        where
        pid = #{pid} and status = '1'
    </select>
    <update id="updateMune" parameterType="java.util.Map">
        update
        tb_product_menu
        set
        status = '2'
        where
        pid = #{pid} and status = '1'
    </update>
    <select id="getPage" parameterType="java.util.Map" resultType="int">
        select
        count(1)
        from
        tb_product_page
        where
        pid = #{pid} and status = '1'
    </select>
    <update id="updatePage" parameterType="java.util.Map">
        update
        tb_product_page
        set
        status = '2'
        where
        pid = #{pid} and status = '1'
    </update>

    <!--在私海里面的电脑端授权之后在工作台根据cid查询出这个企业下的pid-->
    <select id="getCompanyProduct" parameterType="java.util.Map" resultType="java.util.Map">
        select
        pid
        from
        tb_company_product
        where
        cid = #{cid} and pid is not null and status != '2'
    </select>


    <update id="updatePages" parameterType="java.util.List">
        <foreach separator=";" close="" open="" index="index" item="item" collection="list">
            update
            tb_product_page
            set
            <if test="item.cname != null and item.cname != ''">cname = #{item.cname},</if>
            <if test="item.path != null and item.path != ''">pagepath = #{item.path},</if>
            <if test="item.updtime != null and item.updtime != ''">updtime = #{item.updtime}</if>
            where
            pageid = #{item.pageid} and pid != #{item.appid}
        </foreach>
    </update>
</mapper>
