<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.ProductLineMapper">
    <!--显示产品线列表-->
    <select id="queryProductLineList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        plid,
        cname,
        linedesc,
        summary
        from
        tb_product_line
        <where>
            <choose>
                <when test="status != null and status != ''">
                    status = #{status}
                </when>
                <otherwise>
                    status = '1'
                </otherwise>
            </choose>
        </where>
    </select>

    <!--获取产品线的总数-->
    <select id="queryProductLineCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        count(1)
        from
        tb_product_line
    </select>

    <!--获取状态为2的产线线ID-->
    <select id="queryProductLineId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        plid
        from
        tb_product_line
        where
        status = '2'
    </select>

    <!--修改产品线信息-->
    <update id="updateProductLine" parameterType="java.util.Map">
        UPDATE
        tb_product_line
        SET
        ouid = #{uid},
        updtime = #{updtime}
        <if test="status!= null ">,status = #{status}</if>
        <if test="cname!= null ">,cname = #{cname}</if>
        <if test="addtime!= null ">,addtime = #{addtime}</if>
        <if test="linedesc!= null ">,linedesc = #{linedesc}</if>
        WHERE
        plid = ${plid}
    </update>

    <!--电脑端-全界面-记支宝电脑端下全界面显示企业下所有产品的菜单列表1111-->
    <select id="queryCompanyMenuList" parameterType="java.util.Map" resultType="java.util.Map">
        WITH RECURSIVE menu AS (
        SELECT
        m.pid,
        m.mid,
        m.parentid,
        m.cname,
        m.menupath,
        m.icon,
        m.photo,
        m.summary,
        m.idx,
        m.status
        FROM
        tb_product_list c
        LEFT JOIN
        tb_product_menu m
        ON
        c.pid = m.pid
        WHERE
        m.parentid = '000000000000000'
        AND c.status = #{status}
        UNION ALL
        SELECT
        tpm.pid,
        tpm.mid,
        tpm.parentid,
        tpm.cname,
        tpm.menupath,
        tpm.icon,
        tpm.photo,
        tpm.summary,
        tpm.idx,
        tpm.status
        FROM
        tb_product_menu tpm
        JOIN menu ON tpm.parentid = menu.mid
        AND tpm.status = #{status}
        )
        SELECT
        menu.*
        FROM
        menu
        where
        menu.status = #{status}
        ORDER BY
        menu.idx
    </select>

    <!--电脑端-全界面-记支宝电脑端下全界面显示企业下所有产品的顶级菜单下的页面-->
    <select id="queryCompanyPageList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        pid,
        mid,
        icon,
        pageid,
        pagecode,
        cname,
        pagepath,
        summary
        from
        tb_product_page
        where
        status = #{status}
        and
        mid = '000000000000000'
    </select>


    <!--电脑端-全界面-记支宝电脑端下全界面显示企业下所有产品的顶级菜单下的页面-->
    <select id="queryCompanyPageLists" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        pid,
        mid,
        icon,
        pageid,
        pagecode,
        cname,
        pagepath,
        summary
        from
        tb_product_page
        where
        status = #{status}
        and
        mid = '000000000000000'
    </select>

    <!--记支宝电脑端下新建产品线-->
    <insert id="insertProductLine" parameterType="java.util.Map">
        INSERT INTO
        tb_product_line (plid, cname, linedesc, idx, ouid, addtime, updtime, status, summary)
        VALUES
        (
        ${plid},
        #{cname},
        <choose>
            <when test="linedesc != null and linedesc != ''">
                #{linedesc},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="idx != null and idx != ''">
                #{idx},
            </when>
            <otherwise>
                (select count(1)+1 from tb_product_line),
            </otherwise>
        </choose>
        #{uid},
        #{addtime},
        #{updtime},
        <choose>
            <when test="status != null and status != ''">
                #{status},
            </when>
            <otherwise>
                '1',
            </otherwise>
        </choose>
        <choose>
            <when test="summary != null and summary != ''">
                #{summary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
        )
    </insert>

    <!--电脑端-全界面-记支宝电脑端下全界面显示菜单下的所有页面-->
    <select id="queryProductPageList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        pid,
        mid,
        icon,
        pageid,
        pagecode,
        cname,
        pagepath,
        summary
        from
        tb_product_page
        where
        status = #{status}
        and
        pid = #{pid}
        and
        mid = #{mid}
    </select>

    <!--电脑端-全界面-记支宝电脑端下全界面显示菜单下的所有页面-->
    <select id="queryProductPageLists" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        pid,
        mid,
        icon,
        pageid,
        pagecode,
        cname,
        pagepath,
        summary
        from
        tb_product_page
        where
        status = #{status}
        and
        pid = #{pid}
        and
        mid = #{mid}
    </select>

    <!--电脑端-全界面-记支宝电脑端下全界面修改页面或者删除页面-->
    <update id="updateProductPage" parameterType="java.util.Map">
        UPDATE
        tb_product_page
        SET
        ouid = #{uid},
        updtime = #{updtime}
        <if test="cname!= null ">,cname = #{cname}</if>
        <if test="icon!= null ">,icon = #{icon}</if>
        <if test="pagepath!= null ">,pagepath = #{pagepath}</if>
        <if test="pagecode!= null ">,pagecode = #{pagecode}</if>
        <if test="status!= null ">,status = #{status}</if>
        <if test="summary!= null ">,summary = #{summary}</if>
        WHERE
        pageid = #{pageid}
        AND pid = #{pid}
        AND mid = #{mid}
    </update>

    <!--电脑端-全界面-记支宝电脑端下全界面根据页面名称模糊搜索页面-->
    <select id="searchProductPageList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        p.pid,
        p.pageid,
        p.mid,
        p.pagecode,
        p.cname,
        p.icon,
        p.pagepath,
        p.summary
        from
        tb_company_product c
        LEFT JOIN
        tb_product_page p
        ON
        c.pid = p.pid
        where
        c.status = #{status}
        and
        c.ptype = #{ptype}
        and
        p.cname like CONCAT('%',#{cname},'%')
    </select>

    <!--根据分页获取菜单信息-->
    <select id="queryProductMenuList" parameterType="java.util.Map" resultType="java.util.Map">
        WITH RECURSIVE menu AS (
        SELECT
        pid,
        mid,
        parentid,
        cname,
        menupath,
        icon,
        photo,
        summary,
        idx,
        status
        FROM
        tb_product_menu
        WHERE
        <choose>
            <when test="mid != null and mid != '' and mid != '000000000000000'">
                mid = #{mid}
            </when>
            <otherwise>
                parentid = '000000000000000'
            </otherwise>
        </choose>
        AND status = '1'
        AND pid = #{pid}
        UNION ALL
        SELECT
        tpm.pid,
        tpm.mid,
        tpm.parentid,
        tpm.cname,
        tpm.menupath,
        tpm.icon,
        tpm.photo,
        tpm.summary,
        tpm.idx,
        tpm.status
        FROM
        tb_product_menu tpm
        JOIN menu ON tpm.parentid = menu.mid
        AND tpm.status = '1'
        AND tpm.pid = #{pid}
        )
        SELECT
        menu.*
        FROM
        menu
        where
        menu.status='1'
        ORDER BY
        menu.idx ASC
    </select>


    <!--根据分页获取菜单信息-->
    <select id="queryProductMenuLists" parameterType="java.util.Map" resultType="java.util.Map">
        WITH RECURSIVE menu AS (
        SELECT
        pid,
        mid,
        parentid,
        cname,
        menupath,
        icon,
        photo,
        summary,
        idx,
        status
        FROM
        tb_product_menu
        WHERE
        <choose>
            <when test="mid != null and mid != '' and mid != '000000000000000'">
                mid = #{mid}
            </when>
            <otherwise>
                parentid = '000000000000000'
            </otherwise>
        </choose>
        AND status = '3'
        AND pid = #{pid}
        UNION ALL
        SELECT
        tpm.pid,
        tpm.mid,
        tpm.parentid,
        tpm.cname,
        tpm.menupath,
        tpm.icon,
        tpm.photo,
        tpm.summary,
        tpm.idx,
        tpm.status
        FROM
        tb_product_menu tpm
        JOIN menu ON tpm.parentid = menu.mid
        AND tpm.status = '3'
        AND tpm.pid = #{pid}
        )
        SELECT
        menu.*
        FROM
        menu
        where
        menu.status='3'
        ORDER BY
        menu.idx ASC
    </select>

    <!--加入产品菜单表-->
    <insert id="insertProductMenu" parameterType="java.util.Map">
        INSERT INTO
        tb_product_menu (pid, mid, parentid, cname, menupath, icon, photo, idx, addtime, updtime, status, summary)
        VALUES
        (
        #{pid},
        #{mid},
        <choose>
            <when test="parentid != null and parentid != ''">
                #{parentid},
            </when>
            <otherwise>
                '000000000000000',
            </otherwise>
        </choose>
        #{cname},
        #{menupath},
        <choose>
            <when test="icon != null and icon != ''">
                #{icon},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="photo != null and photo != ''">
                #{photo},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="idx != null and idx != ''">
                ${idx},
            </when>
            <otherwise>
                (select count(1)+1 from tb_product_menu),
            </otherwise>
        </choose>
        #{addtime},
        #{updtime},
        <choose>
            <when test="status != null and status != ''">
                #{status},
            </when>
            <otherwise>
                '3',
            </otherwise>
        </choose>
        <choose>
            <when test="summary != null and summary != ''">
                #{summary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
        )
    </insert>

    <!--加入产品页面表-->
    <insert id="insertProductPage" parameterType="java.util.Map">
        INSERT INTO
        tb_product_page (pageid, pid, mid, pagecode, cname, icon, pagepath, idx, ouid, addtime, updtime, status,
        summary)
        VALUES
        (
        #{pageid},
        #{pid},
        #{mid},
        <choose>
            <when test="pagecode != null and pagecode != ''">
                #{pagecode},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="cname != null and cname != ''">
                #{cname},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="icon != null and icon != ''">
                #{icon},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="pagepath != null and pagepath != ''">
                #{pagepath},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="idx != null and idx != ''">
                ${idx},
            </when>
            <otherwise>
                (select count(1)+1 from tb_product_page),
            </otherwise>
        </choose>
        #{uid},
        #{addtime},
        #{updtime},
        #{status},
        <choose>
            <when test="summary != null and summary!= ''">
                #{summary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
        )
    </insert>

    <!--加入页面控件表-->
    <insert id="insertPageControl" parameterType="java.util.Map">
        INSERT INTO
        tb_product_page_control (controlid, pageid, controlcode, cname,
        controltype, ouid, addtime, updtime, status, summary)
        VALUES
        (
        #{controlid},
        #{pageid},
        <choose>
            <when test="controlcode != null and controlcode != ''">
                #{controlcode},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="controlname != null and controlname != ''">
                #{controlname},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="controltype != null and controltype != ''">
                ${controltype},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{uid},
        #{addtime},
        #{updtime},
        <choose>
            <when test="status != null and status != ''">
                #{status},
            </when>
            <otherwise>
                '1',
            </otherwise>
        </choose>
        <choose>
            <when test="summary != null and summary != ''">
                #{summary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
        )
    </insert>

    <!--加入控件API表-->
    <insert id="insertControlPower" parameterType="java.util.Map">
        INSERT INTO
        tb_product_control_power (controlid, powerapi, ouid, addtime, updtime, status, summary)
        VALUES
        (
        #{controlid},
        <choose>
            <when test="powerapi != null and powerapi != ''">
                #{powerapi},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{uid},
        #{addtime},
        #{updtime},
        <choose>
            <when test="status != null and status != ''">
                #{status},
            </when>
            <otherwise>
                '1',
            </otherwise>
        </choose>
        <choose>
            <when test="pcsummary != null and pcsummary != ''">
                #{pcsummary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
        )
    </insert>

    <!--CRM菜单修改菜单信息-->
    <update id="updateProductMenu" parameterType="java.util.Map">
        UPDATE
        tb_product_menu
        SET
        updtime = #{updtime}
        <if test="cname != null ">,cname = #{cname}</if>
        <if test="tierpid != null ">,pid = #{tierpid}</if>
        <if test="parentid != null ">,parentid = #{parentid}</if>
        <if test="menupath != null ">,menupath = #{menupath}</if>
        <if test="idx != null ">,idx = ${idx}</if>
        <if test="icon != null ">,icon = #{icon}</if>
        <if test="photo != null ">,photo = #{photo}</if>
        <if test="summary != null ">,summary = #{summary}</if>
        WHERE
        mid = #{mid}
        <if test="pid != null and pid != ''">and pid = #{pid}</if>
    </update>

    <!--CRM菜单删除菜单信息-->
    <update id="deleteProductMenu" parameterType="java.util.Map">
        UPDATE
        tb_product_menu
        SET
        status = #{status},
        updtime = #{updtime}
        WHERE
        mid = #{mid}
        and
        pid = #{pid}
    </update>

    <!--电脑端-子产品-记支宝电脑端下产品线下显示所有产品-->
    <select id="queryProductList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        l.pid,
        l.cname,
        l.logo,
        l.photo,
        p.weburl,
        p.manurl,
        p.ptype,
        p.limitday,
        l.summary
        from
        tb_product_list l
        LEFT JOIN
        tb_company_product p
        ON
        l.pid = p.pid
        where
        l.status = #{status}
        <if test="plid !=null and plid !='' and plid!=0">
            and
            l.plid = #{plid}
        </if>

        and
        l.cid = #{cid}
        and
        p.ptype = #{ptype}
    </select>

    <!--电脑端-子产品-产品线下新建企业产品,加入产品表-->
    <insert id="insertProduct" parameterType="java.util.Map">
        INSERT INTO
        tb_product_list
        ( cid, plid, cname, pid, idx, logo, photo, pdesc, manager, ouid, addtime, updtime, status, summary)
        VALUES
        (
        #{cid},
        ${plid},
        #{cname},
        #{pid},
        <choose>
            <when test="idx != null and idx != ''">
                ${idx},
            </when>
            <otherwise>
                (select count(1)+1 from tb_product_list),
            </otherwise>
        </choose>
        #{logo},
        <choose>
            <when test="photo != null and photo != ''">
                #{photo},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="pdesc != null and pdesc != ''">
                #{pdesc},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="manager != null and manager != ''">
                #{manager},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{uid},
        #{addtime},
        #{updtime},
        #{status}
        <choose>
            <when test="summary != null and summary != ''">
                ,#{summary}
            </when>
            <otherwise>
                ,null
            </otherwise>
        </choose>
        )
    </insert>

    <!--电脑端-子产品-产品线下新建企业产品,加入企业产品表-->
    <insert id="insertCompanyProduct" parameterType="java.util.Map">
        INSERT INTO
        tb_company_product
        ( cid, plid, ptype, pid, idx, weburl, manurl, ouid, limitday, addtime, updtime, status, summary)
        VALUES
        (
        #{cid},
        ${plid},
        #{ptype},
        #{pid},
        <choose>
            <when test="idx != null and idx != ''">
                ${idx},
            </when>
            <otherwise>
                (select count(1)+1 from tb_company_product),
            </otherwise>
        </choose>
        <choose>
            <when test="weburl != null and weburl != ''">
                #{weburl},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="manurl != null and manurl != ''">
                #{manurl},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{uid},
        <choose>
            <when test="limitday != null and limitday != ''">
                ${limitday},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{addtime},
        #{updtime},
        #{status}
        <choose>
            <when test="summary != null and summary != ''">
                ,#{summary}
            </when>
            <otherwise>
                ,null
            </otherwise>
        </choose>
        );
        INSERT INTO
        tb_product_package
        ( packid, plid, cname, apptype, madepkg, cid, idx, logo, photo, addtime, status, summary)
        VALUES
        (
        #{packid},
        ${plid},
        #{cname},
        <choose>
            <when test="apptype != null and apptype != ''">
                #{apptype},
            </when>
            <otherwise>
                1,
            </otherwise>
        </choose>
        <choose>
            <when test="madepkg != null and madepkg != ''">
                #{madepkg},
            </when>
            <otherwise>
                '2',
            </otherwise>
        </choose>
        #{cid},
        <choose>
            <when test="idx != null and idx != ''">
                ${idx},
            </when>
            <otherwise>
                (select count(1)+1 from tb_product_package),
            </otherwise>
        </choose>
        <choose>
            <when test="logo != null and logo != ''">
                #{logo},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="photo != null and photo != ''">
                #{photo},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{addtime},
        #{status}
        <choose>
            <when test="summary != null and summary != ''">
                ,#{summary}
            </when>
            <otherwise>
                ,null
            </otherwise>
        </choose>
        );
    </insert>

    <!--电脑端-子产品-产品线下修改企业产品更新产品表信息-->
    <update id="updateProductList" parameterType="java.util.Map">
        UPDATE
        tb_product_list
        SET
        updtime = #{updtime}
        <if test="cname != null ">,cname = #{cname}</if>
        <if test="logo != null ">,logo = #{logo}</if>
        <if test="status != null ">,status = #{status}</if>
        <if test="summary != null ">,summary = #{summary}</if>
        WHERE
        plid = ${plid}
        and
        cid = #{cid}
        and
        pid = #{pid}
    </update>

    <!--电脑端-子产品-产品线下修改企业产品更新企业产品表信息-->
    <update id="updateCompanyProduct" parameterType="java.util.Map">
        UPDATE
        tb_company_product
        SET
        updtime = #{updtime}
        <if test="weburl != null ">,weburl = #{weburl}</if>
        <if test="manurl != null ">,manurl = #{manurl}</if>
        <if test="status != null ">,status = #{status}</if>
        <if test="summary != null ">,summary = #{summary}</if>
        WHERE
        plid = ${plid}
        and
        cid = #{cid}
        and
        pid = #{pid}
    </update>

    <!--点击从页面添加按钮,将页面加入当前菜单中-->
    <insert id="insertExistingPage" parameterType="java.util.List">
        INSERT INTO
        tb_product_page (pageid, pid, mid, pagecode, cname, icon, pagepath, idx, ouid, addtime, updtime, status,
        summary)
        VALUES
        <foreach separator="," close="" open="" index="index" item="item" collection="list">
            (
            #{item.pageid},
            #{item.pid},
            #{item.mid},
            <choose>
                <when test="item.pagecode != null and item.pagecode != ''">
                    #{item.pagecode},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            #{item.cname},
            <choose>
                <when test="item.icon != null and item.icon != ''">
                    #{item.icon},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.pagepath != null and item.pagepath != ''">
                    #{item.pagepath},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.idx != null and item.idx != ''">
                    ${item.idx},
                </when>
                <otherwise>
                    (select count(1)+1 from tb_product_page),
                </otherwise>
            </choose>
            #{item.uid},
            #{item.addtime},
            #{item.updtime},
            #{item.status},
            <choose>
                <when test="item.summary != null and item.summary!= ''">
                    #{item.summary}
                </when>
                <otherwise>
                    null
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>

    <!--CRM菜单管理-计支宝电脑端-全界面，应用新增-->
    <insert id="addOrgApplication" parameterType="java.util.Map">
         insert into
         tb_org_application
         (appid, appline, devtype, apptype, cid, appname, applogo,
         appdesc, appurl, appips, manurl, ouid, addtime, updtime, status, summary)
         values (
          #{appid},
          <choose>
          <when test="appline != null and appline != ''">
              #{appline},
          </when>
           <otherwise>
               null,
           </otherwise>
          </choose>
        <choose>
            <when test="devtype != null and devtype != ''">
                #{devtype},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="apptype != null and apptype != ''">
                #{apptype},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
               #{cid},
               #{appname},
        <choose>
            <when test="applogo != null and applogo != ''">
                #{applogo},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="appdesc != null and appdesc != ''">
                #{appdesc},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="appurl != null and appurl != ''">
                #{appurl},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="appips != null and appips != ''">
                #{appips},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="manurl != null and manurl != ''">
                #{manurl},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
               #{ouid},
               #{addtime},
               #{updtime},
        <choose>
            <when test="status != null and status != ''">
                #{status},
            </when>
            <otherwise>
                1,
            </otherwise>
        </choose>
        <choose>
            <when test="summary != null and summary != ''">
                #{summary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
               )
    </insert>
    <!--获取全界面添加的应用-->
    <select id="getOrgApplication" parameterType="java.util.Map" resultType="java.util.Map">
        select
        *
        from
        tb_org_application
        where
        status = '1'
        <if test="appid != null and appid != ''">
            and appid = #{appid}
        </if>
    </select>

    <insert id="addProductList" parameterType="java.util.Map">
        INSERT INTO
        tb_product_list
        (upduid,appid,appname,cid, plid, cname, pid, idx, logo, photo, pdesc, manager, ouid, addtime, updtime, status, summary)
        VALUES
        (
        #{upduid},
        #{appid},
        #{appname},
        #{cid},
        cast(#{plid} as integer),
        #{cname},
        #{pid},
        <choose>
            <when test="idx != null and idx != ''">
                #{idx},
            </when>
            <otherwise>
                (select count(1)+1 from tb_product_list),
            </otherwise>
        </choose>
        <choose>
            <when test="logo != null and logo != ''">
                #{logo},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="photo != null and photo != ''">
                #{photo},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="pdesc != null and pdesc != ''">
                #{pdesc},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="manager != null and manager != ''">
                #{manager},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{ouid},
        #{addtime},
        #{updtime},
        <choose>
            <when test="status != null and status != ''">
                #{status}
            </when>
            <otherwise>
                '1'
            </otherwise>
        </choose>
        <choose>
            <when test="summary != null and summary != ''">
                ,#{summary}
            </when>
            <otherwise>
                ,null
            </otherwise>
        </choose>
        )on conflict(pid) do update
        set
        <if test="upduid!= null and upduid != ''">upduid = #{upduid},</if>
        <if test="appid!= null and appid != ''">appid = #{appid},</if>
        <if test="appname!= null and appname != ''">appname = #{appname},</if>
        <if test="cid!= null and cid != ''">cid = #{cid},</if>
        <if test="plid!= null and plid != ''">plid = cast(#{plid} as integer),</if>
        <if test="cname!= null and cname != ''">cname = #{cname},</if>
        <if test="pid!= null and pid != ''">pid = #{pid},</if>
        <if test="logo!= null and logo != ''">logo = #{logo},</if>
        <if test="photo!= null and photo != ''">photo = #{photo},</if>
        <if test="pdesc!= null and pdesc != ''">pdesc = #{pdesc},</if>
        <if test="manager!= null and manager != ''">manager = #{manager},</if>
        <if test="ouid!= null and ouid != ''">ouid = #{ouid},</if>
        <if test="addtime!= null and addtime != ''">addtime = #{addtime},</if>
        <if test="status!= null and status != ''">status = #{status},</if>
        <if test="summary!= null and summary != ''">summary = #{summary},</if>
        <if test="updtime!= null and updtime != ''">updtime = #{updtime}</if>
    </insert>
</mapper>
