<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.TbCompanySysconfigMapper">

    <!-- 添加系统属性配置 二级域名 -->
    <insert id="addCompanySysconfig" parameterType="java.util.Map">
        insert into tb_company_sysconfig
        (cid,curl,systemname,tempid,tempname,logo,compname,subfavicon,subtitle,righticon,favicon,background,keys,website,power,logintag,loginurl,bottombig,bottomsmall,adduid,addtime,upduid,updtime,status,summary)
        values (
        <choose>
            <when test="cid!=null and cid!=''">
                #{cid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>

        <choose>
            <when test="curl!=null and curl!=''">
                #{curl},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="systemname!=null and systemname!=''">
                #{systemname},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="tempid!=null and tempid!=''">
                #{tempid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="tempname!=null and tempname!=''">
                #{tempname},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="logo!=null and logo!=''">
                #{logo},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="compname!=null and compname!=''">
                #{compname},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="subfavicon!=null and subfavicon!=''">
                #{subfavicon},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="subtitle!=null and subtitle!=''">
                #{subtitle},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="righticon!=null and righticon!=''">
                #{righticon},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="favicon!=null and favicon!=''">
                #{favicon},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="background!=null and background!=''">
                #{background},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="keys!=null and keys!=''">
                #{keys},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="website!=null and website!=''">
                #{website},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="power!=null and power!=''">
                #{power},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="logintag!=null and logintag!=''">
                #{logintag},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="loginurl!=null and loginurl!=''">
                #{loginurl},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="bottombig!=null and bottombig!=''">
                #{bottombig},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="bottomsmall!=null and bottomsmall!=''">
                #{bottomsmall},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="adduid!=null and adduid!=''">
                #{adduid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="addtime!=null and addtime!=''">
                #{addtime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="upduid!=null and upduid!=''">
                #{upduid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="updtime!=null and updtime!=''">
                #{updtime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="status!=null and status!=''">
                #{status},
            </when>
            <otherwise>
                1,
            </otherwise>
        </choose>
        <choose>
            <when test="summary!=null and summary!=''">
                #{summary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
        )
        ON conflict(cid) DO UPDATE
        <trim prefix="set" suffixOverrides="," suffix="  where tb_company_sysconfig.cid=#{cid} ">
            <if test="curl !=null and curl!=''">curl=#{curl},</if>
            <if test="systemname !=null and systemname!=''">systemname=#{systemname},</if>
            <if test="tempid !=null and tempid!=''">tempid=#{tempid},</if>
            <if test="tempname !=null and tempname!=''">tempname=#{tempname},</if>
            <if test="logo !=null and logo!=''">logo=#{logo},</if>
            <if test="compname !=null and compname!=''">compname=#{compname},</if>
            <if test="subfavicon !=null and subfavicon!=''">subfavicon=#{subfavicon},</if>
            <if test="subtitle !=null and subtitle!=''">subtitle=#{subtitle},</if>
            <if test="righticon !=null and righticon!=''">righticon=#{righticon},</if>
            <if test="logintag !=null and logintag!=''">logintag=#{logintag},</if>
            <if test="loginurl !=null and loginurl!=''">loginurl=#{loginurl},</if>
            <if test="loginurl !=null and loginurl!=''">loginurl=#{loginurl},</if>
            <if test="bottomsmall !=null and bottomsmall!=''">bottomsmall=#{bottomsmall},</if>
            <if test="favicon !=null and favicon!=''">favicon=#{favicon},</if>
            <if test="background !=null and background!=''">background=#{background},</if>
            <if test="keys !=null and keys!=''">keys=#{keys},</if>
            <if test="website !=null and website!=''">website=#{website},</if>
            <if test="upduid !=null and upduid!=''">upduid=#{upduid},</if>
            <if test="updtime !=null and updtime!=''">updtime=#{updtime},</if>
        </trim>
    </insert>


    <!-- 查询该单位是否授权电脑端授权 -->
    <select id="queryCompanySysconfig" parameterType="java.util.Map" resultType="java.lang.String">
        select curl from tb_company_sysconfig where cid=#{cid} and status='1' and curl is not null
    </select>
</mapper>