<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.TbCompanyProjectMapper">

    <select id="getCompany" parameterType="java.util.Map" resultType="java.util.Map">
        select * from tb_company_list where cid = #{cid} and  cname like CONCAT('%',#{cname},'%')
    </select>

    <select id="getProject" parameterType="java.util.Map" resultType="java.util.Map">
        select * from tb_company_project where projectid = #{projectid} and  projectname like CONCAT('%',#{projectname},'%')
    </select>

    <!--查询项目下的数据-->
    <select id="getComProject" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        cid,
        tcp.projectid,
        projectname,
        projecttype,
        podephone,
        podenature,
        podeperson,
        mail,
        tenderagent,
        agent,
        relation,
        region,
        address,
        plantime,
        verifytime,
        to_char( to_timestamp( tendertime / 1000 ), 'yyyy-MM-dd HH24:MI' ) AS tendertime,
        tenderuid,
        tendername,
        tenderphone,
        wintime,
        buildstime,
        buildetime,
        tcp.adduid,
        to_char( to_timestamp( tcp.addtime / 1000 ), 'yyyy-MM-dd HH24:MI' ) AS addtime,
        tcp.upduid,
        tcp.status,
        tcp.summary,
        lineuid,
        lineuname,
        linephone,
        linenature,
        job,
        cname,
        reluname,
        relphone,
        brandname,
        contrast,
        reshid,
        reshname,
        reshphone
        FROM
        tb_company_project tcp
        LEFT JOIN
        tb_common_project_info tcpi
        on tcp.projectid = tcpi.projectid
        WHERE tcp.status = '1'
        <if test="projecttype != null and projecttype!= ''">
            and projecttype =  #{projecttype}
        </if>
        <if test="isrelation != null and isrelation != ''">
            and isrelation = #{isrelation}
        </if>
        <if test="province != null and province != ''">
            and tcp.region IN
            <foreach separator="," close=")" open="(" index="index" item="item" collection="list">
                #{item.region}
            </foreach>
        </if>
        <if test="keyword != null and keyword != ''">
            and tcp.tendername ~ #{keyword} or tcp.tenderphone ~ #{keyword}
        </if>
        <if test="projectname != null and projectname != ''">
            and tcp.projectname  ~ #{projectname}
        </if>
        ORDER BY tcp.addtime DESC
        LIMIT #{pagesize} offset #{pageno}
    </select>

    <!--查询总数-->
    <select id="getCount" resultType="int" parameterType="java.util.Map">
        select
        count(1)
        from
        tb_company_project
        where
        status = '1'
        <if test="keyword != null and keyword != ''">
            and tendername ~ #{keyword} or tenderphone ~ #{keyword}
        </if>
        <if test="province != null and province != ''">
            and region IN
            <foreach separator="," close=")" open="(" index="index" item="item" collection="list">
                #{item.region}
            </foreach>
        </if>
        <if test="projectname != null and projectname != ''">
            and projectname  ~ #{projectname}
        </if>
    </select>

    <insert id="saveComProject" parameterType="java.util.Map">
        insert
        into
        tb_company_project
        (
        cid,
        projectid,
        projectname,
        region,
        address,
        plantime,
        verifytime,
        tendertime,
        tenderuid,
        tendername,
        tenderphone,
        wintime,
        buildstime,
        buildetime,
        adduid,
        addtime,
        upduid,
        status,
        summary
        )values(
        <choose>
            <when test="cid != null">
                #{cid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="projectid != null">
                #{projectid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="projectname != null">
                #{projectname},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="region != null">
                #{region},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="address != null">
                #{address},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="plantime != null">
                #{plantime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="verifytime != null">
                #{verifytime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="tendertime != null">
            #{tendertime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="tenderuid != null">
                #{tenderuid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="tendername != null">
                #{tendername},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="tenderphone != null">
                #{tenderphone},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="wintime != null">
                #{wintime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
           <choose>
                  <when test="buildstime != null">
                         #{buildstime},
                  </when>
                  <otherwise>
                         null,
                  </otherwise>
           </choose>
           <choose>
                  <when test="buildetime != null">
                         #{buildetime},
                  </when>
                  <otherwise>
                         null,
                  </otherwise>
           </choose>
           <choose>
                  <when test="adduid != null">
                         #{adduid},
                  </when>
                  <otherwise>
                         null,
                  </otherwise>
           </choose>
           <choose>
                  <when test="addtime != null">
                         #{addtime},
                  </when>
                  <otherwise>
                         null,
                  </otherwise>
           </choose>
           <choose>
                  <when test="upduid != null">
                         #{upduid},
                  </when>
                  <otherwise>
                         null,
                  </otherwise>
           </choose>
           <choose>
                  <when test="status != null">
                         #{status},
                  </when>
                  <otherwise>
                         1,
                  </otherwise>
           </choose>
           <choose>
                  <when test="summary != null">
                         #{summary}
                  </when>
                  <otherwise>
                         null
                  </otherwise>
           </choose>
           )
    </insert>

   <!--关联业主-->
    <update id="updateComProject" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
        update
        tb_company_project
        set
        isrelation = 1
        <if test="item.cid != null and item.cid != ''">,cid = #{item.cid}</if>
        <if test="item.projectname != null and item.projectname != ''">,projectname = #{item.projectname}</if>
        <if test="item.region != null and item.region != ''">,region = #{item.region},</if>
        <if test="item.address != null and item.address != ''">,address = #{item.address},</if>
        <if test="item.plantime != null and item.plantime != ''">,plantime = #{item.plantime},</if>
        <if test="item.verifytime != null and item.verifytime != ''">,verifytime = #{item.verifytime},</if>
        <if test="item.tendertime != null and item.tendertime != ''">,tendertime = #{item.tendertime},</if>
        <if test="item.updtime != null and item.updtime != ''">,updtime = #{item.updtime}</if>
        where
        projectid = #{item.projectid}
        </foreach>
    </update>

    <!--取消业主的关联-->

    <update id="ComProject" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
        update
        tb_company_project
        set
        <if test="item.cid != null and item.cid != ''">cid = 321123,</if>
        <if test="item.projectname != null and item.projectname != ''">projectname = #{item.projectname},</if>
        <if test="item.region != null and item.region != ''">region = #{item.region},</if>
        <if test="item.address != null and item.address != ''">address = #{item.address},</if>
        <if test="item.plantime != null and item.plantime != ''">plantime = #{item.plantime},</if>
        <if test="item.verifytime != null and item.verifytime != ''">verifytime = #{item.verifytime},</if>
        <if test="item.tendertime != null and item.tendertime != ''">tendertime = #{item.tendertime},</if>
        <if test="item.updtime != null and item.updtime != ''">updtime = #{item.updtime}</if>
        where
        projectid = #{item.projectid} and cid = #{item.cid}
        </foreach>
    </update>

    <!--根据服务的项目ID获取项目信息的总数,后台调用不支持前台调用-->
    <select id="getServiceProjectListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        count(1)
        from
        (
        select
        distinct
        cpp.cid,
        cl.cname,
        cl.region,
        cp.projectid,
        cp.projectname,
        to_char(to_timestamp(cl.regtime / 1000), 'yyyy-MM-dd') as addtime
        from
        tb_company_property cpp
        left join
        tb_company_project cp
        on
        cpp.cid = cp.cid
        left join
        tb_company_list cl
        on
        cpp.cid = cl.cid
        where
        cpp.status = '1'
        and
        cpp.typeid = 't000000'
        <if test="uid != null and uid != ''">and cpp.dictvalue = #{uid}</if>
        <if test="starttime != null and starttime != ''">and cl.regtime &gt;= #{starttime}</if>
        <if test="endtime != null and endtime != ''">and cl.regtime &lt;= #{endtime}</if>
        <if test="projectname != null and projectname != ''">and cp.projectname LIKE CONCAT( '%',#{projectname},'%')</if>
        ) as company
    </select>

 <!--根据服务的项目ID获取项目信息-->
    <select id="queryServiceProjectList" parameterType="java.util.List" resultType="java.util.Map">
        select
        distinct
        cpp.cid,
        cl.cname,
        cl.region,
        cp.projectid,
        cp.projectname,
        to_char(to_timestamp(cl.regtime / 1000), 'yyyy-MM-dd') as addtime,
        cc.uid
        from
        tb_company_property cpp
        left join
        tb_company_project cp
        on
        cpp.cid = cp.cid
        left join
        tb_company_list cl
        on
        cpp.cid = cl.cid
        left join
        tb_company_common cc
        on
        cpp.cid = cc.cid
        where
        cpp.status = '1'
        and
        cpp.typeid = 't000000'
        <if test="uid != null and uid != ''">and cpp.dictvalue = #{uid}</if>
        <if test="starttime != null and starttime != ''">and cl.regtime &gt;= #{starttime}</if>
        <if test="endtime != null and endtime != ''">and cl.regtime &lt;= #{endtime}</if>
        <if test="projectname != null and projectname != ''">and cp.projectname LIKE CONCAT( '%',#{projectname},'%')</if>
        LIMIT #{pagesize} offset #{pageno}
    </select>

    <!--获取所有人的uid-->
    <select id="queryServiceProjectUid" parameterType="java.util.List" resultType="java.util.Map">
        select
        distinct
        cpp.cid,
        cp.projectid,
        from
        tb_company_property cpp
        left join
        tb_company_project cp
        on
        cpp.cid = cp.cid
        where
        cpp.status = '1'
        and
        cpp.typeid = 't000000'
        <if test="uid != null and uid != ''">and cpp.dictvalue = #{uid}</if>
        <if test="starttime != null and starttime != ''">and cl.addtime &gt;= #{starttime}</if>
        <if test="endtime != null and endtime != ''">and cl.addtime &lt;= #{endtime}</if>
        <if test="projectname != null and projectname != ''">and cp.projectname LIKE CONCAT( '%',#{projectname},'%')</if>
        LIMIT #{pagesize} offset #{pageno}
    </select>

    <!--所有业主-今日添加项目的数量-->
    <select id="getComProjectCount" parameterType="java.util.Map" resultType="int">
        select
        count(1)
        from
        tb_company_project
        where
        addtime &gt;= #{startTime} and addtime &lt;= #{endTime}
    </select>


</mapper>
