<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.TbCompanySysconfigMapper">

    <!-- 添加系统属性配置 二级域名 -->
    <insert id="addCompanySysconfig" parameterType="java.util.Map">
        insert into tb_company_sysconfig
        (cid,curl,systemname,tempid,tempname,logo,compname,favicon,background,keys,website,power,adduid,addtime,upduid,updtime,status,summary)
        values (
        <choose>
            <when test="cid!=null and cid!=''">
                #{cid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>

        <choose>
            <when test="curl!=null and curl!=''">
                #{curl},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="systemname!=null and systemname!=''">
                #{systemname},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="tempid!=null and tempid!=''">
                #{tempid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="tempname!=null and tempname!=''">
                #{tempname},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="logo!=null and logo!=''">
                #{logo},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="compname!=null and compname!=''">
                #{compname},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="favicon!=null and favicon!=''">
                #{favicon},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="background!=null and background!=''">
                #{background},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="keys!=null and keys!=''">
                #{keys},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="website!=null and website!=''">
                #{website},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="power!=null and power!=''">
                #{power},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="adduid!=null and adduid!=''">
                #{adduid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="addtime!=null and addtime!=''">
                #{addtime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="upduid!=null and upduid!=''">
                #{upduid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="updtime!=null and updtime!=''">
                #{updtime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="status!=null and status!=''">
                #{status},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="summary!=null and summary!=''">
                #{summary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
        )
    </insert>

</mapper>