<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.TbCompanyDeptMapper">

    <select id="getDeptUser" parameterType="java.util.Map" resultType="java.util.Map">

        <foreach collection="userForDept" item="uid" separator="union">
        select * from (
        select * from (
        SELECT
        DISTINCT
        tcc.oneheader,
        tcc.twoheader,
        tcc.threeheader,
        tcc.fourheader,
        tcc.fiveheader,
        tcc.sixheader,
        tcc.cid,
        (select cname from tb_dept_user where uid=tcc.oneheader limit 1) sales,
        tcc.status,
        tcl.cname,
        tcl.manager,
        tcl.region,
        tdu.phone userphone,
        ( SELECT dictvalue FROM tb_company_property WHERE cid = tcc.cid AND typeid = 't111111' limit 1) dictvalue,
        tcl.authid,
        tcl.logo,
        tcl.relmail,
        tcd.duid
        FROM
        tb_company_dept tcd
        LEFT JOIN tb_dept_user tdu ON tcd.cdid = tdu.cdid
        LEFT JOIN tb_private_company_list tcc  ON tcc.oneheader = tdu.uid or tcc.twoheader = tdu.uid or tcc.threeheader = tdu.uid or tcc.fourheader = tdu.uid or tcc.fiveheader = tdu.uid or tcc.sixheader = tdu.uid
        LEFT JOIN tb_company_list tcl ON tcl.cid = tcc.cid
        LEFT JOIN tb_company_property tcp ON tcp.cid = tcc.cid
        WHERE
        tcc.status != '4'
        ) a where 1=1
        and a.duid = #{uid}
        and a.status = '1'
        <if test="region!=null and region !=''">
            and a.region=#{region}
        </if>
        <if test="dictvalue != null and dictvalue !='' and dictvalue !='全部'">
            and a.dictvalue=#{dictvalue}
        </if>
        <if test="keyword!=null and keyword !=''">
            and (a.cname ~ #{keyword} or a.sales ~ #{keyword})
        </if>
        <if test="province != null and province != ''">
            and a.region IN
            <foreach separator="," close=")" open="(" index="index" item="item" collection="list">
                #{item.region}
            </foreach>
        </if>
        UNION
        select * from (
        SELECT
        DISTINCT
        tcc.oneheader,
        tcc.twoheader,
        tcc.threeheader,
        tcc.fourheader,
        tcc.fiveheader,
        tcc.sixheader,
        tcc.cid,
        (select cname from tb_dept_user where uid=tcc.oneheader limit 1) sales,
        tcc.status,
        tcl.cname,
        tcl.manager,
        tcl.region,
        tdu.phone userphone,
        ( SELECT dictvalue FROM tb_company_property WHERE cid = tcc.cid AND typeid = 't111111' limit 1) dictvalue,
        tcl.authid,
        tcl.logo,
        tcl.relmail,
        '' as duid
        FROM
        tb_private_company_list tcc
        LEFT JOIN tb_company_list tcl ON tcl.cid = tcc.cid
        LEFT JOIN tb_dept_user tdu ON tdu.cid = tcc.cid
        LEFT JOIN tb_company_property tcp ON tcp.cid = tcc.cid
        WHERE
        tcc.status != '4'
        ) a where 1=1
        and a.oneheader =#{uid}  or a.twoheader = #{uid} or a.threeheader = #{uid} or a.fourheader = #{uid} or a.fiveheader = #{uid} or a.sixheader = #{uid}
        and a.status = '1'
        <if test="region!=null and region !=''">
            and a.region=#{region}
        </if>
        <if test="dictvalue != null and dictvalue !='' and dictvalue !='全部'">
            and a.dictvalue=#{dictvalue}
        </if>
        <if test="keyword!=null and keyword !=''">
            and (a.cname ~ #{keyword} or a.sales ~ #{keyword})
        </if>
        <if test="province != null and province != ''">
            and a.region IN
            <foreach separator="," close=")" open="(" index="index" item="item" collection="list">
                #{item.region}
            </foreach>
        </if>
        ) as b

        </foreach>
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>


    <select id="getDeptUserCount" parameterType="java.util.Map" resultType="int">
        select count(1) from (
        <foreach collection="userForDept" item="uid" separator="union">
            select * from (
            select * from (
            SELECT
            DISTINCT
            tcc.oneheader,
            tcc.twoheader,
            tcc.threeheader,
            tcc.fourheader,
            tcc.fiveheader,
            tcc.sixheader,
            tcc.cid,
            (select cname from tb_dept_user where uid=tcc.oneheader limit 1) sales,
            tcc.status,
            tcl.cname,
            tcl.manager,
            tcl.region,
            tdu.phone userphone,
            ( SELECT dictvalue FROM tb_company_property WHERE cid = tcc.cid AND typeid = 't111111' limit 1) dictvalue,
            tcl.authid,
            tcl.logo,
            tcl.relmail,
            tcd.duid
            FROM
            tb_company_dept tcd
            LEFT JOIN tb_dept_user tdu ON tcd.cdid = tdu.cdid
            LEFT JOIN tb_private_company_list tcc  ON tcc.oneheader = tdu.uid or tcc.twoheader = tdu.uid or tcc.threeheader = tdu.uid or tcc.fourheader = tdu.uid or tcc.fiveheader = tdu.uid or tcc.sixheader = tdu.uid
            LEFT JOIN tb_company_list tcl ON tcl.cid = tcc.cid
            LEFT JOIN tb_company_property tcp ON tcp.cid = tcc.cid
            WHERE
            tcc.status != '4'
            ) a where 1=1
            and a.duid = #{uid}
            and a.status = '1'
            <if test="region!=null and region !=''">
                and a.region=#{region}
            </if>
            <if test="dictvalue != null and dictvalue !='' and dictvalue !='全部'">
                and a.dictvalue=#{dictvalue}
            </if>
            <if test="keyword!=null and keyword !=''">
                and (a.cname ~ #{keyword} or a.sales ~ #{keyword})
            </if>
            <if test="province != null and province != ''">
                and a.region IN
                <foreach separator="," close=")" open="(" index="index" item="item" collection="list">
                    #{item.region}
                </foreach>
            </if>
            UNION
            select * from (
            SELECT
            DISTINCT
            tcc.oneheader,
            tcc.twoheader,
            tcc.threeheader,
            tcc.fourheader,
            tcc.fiveheader,
            tcc.sixheader,
            tcc.cid,
            (select cname from tb_dept_user where uid=tcc.oneheader limit 1) sales,
            tcc.status,
            tcl.cname,
            tcl.manager,
            tcl.region,
            tdu.phone userphone,
            ( SELECT dictvalue FROM tb_company_property WHERE cid = tcc.cid AND typeid = 't111111' limit 1) dictvalue,
            tcl.authid,
            tcl.logo,
            tcl.relmail,
            '' as duid
            FROM
            tb_private_company_list tcc
            LEFT JOIN tb_company_list tcl ON tcl.cid = tcc.cid
            LEFT JOIN tb_dept_user tdu ON tdu.cid = tcc.cid
            LEFT JOIN tb_company_property tcp ON tcp.cid = tcc.cid
            WHERE
            tcc.status != '4'
            ) a where 1=1
            and a.oneheader =#{uid}  or a.twoheader = #{uid} or a.threeheader = #{uid} or a.fourheader = #{uid} or a.fiveheader = #{uid} or a.sixheader = #{uid}
            and a.status = '1'
            <if test="region!=null and region !=''">
                and a.region=#{region}
            </if>
            <if test="dictvalue != null and dictvalue !='' and dictvalue !='全部'">
                and a.dictvalue=#{dictvalue}
            </if>
            <if test="keyword!=null and keyword !=''">
                and (a.cname ~ #{keyword} or a.sales ~ #{keyword})
            </if>
            <if test="province != null and province != ''">
                and a.region IN
                <foreach separator="," close=")" open="(" index="index" item="item" collection="list">
                    #{item.region}
                </foreach>
            </if>
            ) as b

        </foreach>) as aaa

     </select>
    <select id="getDeptForUser" resultType="java.util.Map">
        select  cdid from tb_company_dept where  duid=#{uid} and cid = 'JZB0001'
    </select>
    <select id="getUserForDept" resultType="java.lang.String">
        select uid from tb_dept_user where cdid in 
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item.cdid}
        </foreach>
    </select>




    <select id="getDeptUserOnlyOne" parameterType="java.util.Map" resultType="java.util.Map">
        select *from (
        select * from (
        SELECT
        DISTINCT
        tcc.oneheader,
        tcc.cid,
        (select cname from tb_dept_user where uid=tcc.oneheader limit 1) sales,
        tcc.status,
        tcl.cname,
        tcl.manager,
        tcl.region,
        tdu.phone userphone,
        ( SELECT dictvalue FROM tb_company_property WHERE cid = tcc.cid AND typeid = 't111111' limit 1) dictvalue,
        tcl.authid,
        tcl.logo,
        tcl.relmail,
        tcd.duid
        FROM
        tb_company_dept tcd
        LEFT JOIN tb_dept_user tdu ON tcd.cdid = tdu.cdid
        LEFT JOIN tb_private_company_list tcc ON tcc.oneheader = tdu.uid
        LEFT JOIN tb_company_list tcl ON tcl.cid = tcc.cid
        LEFT JOIN tb_company_property tcp ON tcp.cid = tcc.cid
        WHERE
        tcc.status != '4'
        ) a where 1=1
        and a.duid = #{uid}
        and a.status = '1'
        <if test="region!=null and region !=''">
            and a.region=#{region}
        </if>
        <if test="dictvalue != null and dictvalue !='' and dictvalue !='全部'">
            and a.dictvalue=#{dictvalue}
        </if>
        <if test="keyword!=null and keyword !=''">
            and (a.cname ~ #{keyword} or a.sales ~ #{keyword})
        </if>
        <if test="province != null and province != ''">
            and a.region IN
            <foreach separator="," close=")" open="(" index="index" item="item" collection="list">
                #{item.region}
            </foreach>
        </if>
        UNION
        select * from (
        SELECT
        DISTINCT
        tcc.oneheader,
        tcc.cid,
        (select cname from tb_dept_user where uid=tcc.oneheader limit 1) sales,
        tcc.status,
        tcl.cname,
        tcl.manager,
        tcl.region,
        tdu.phone userphone,
        ( SELECT dictvalue FROM tb_company_property WHERE cid = tcc.cid AND typeid = 't111111' limit 1) dictvalue,
        tcl.authid,
        tcl.logo,
        tcl.relmail,
        '' as duid
        FROM
        tb_private_company_list tcc
        LEFT JOIN tb_company_list tcl ON tcl.cid = tcc.cid
        LEFT JOIN tb_dept_user tdu ON tdu.cid = tcc.cid
        LEFT JOIN tb_company_property tcp ON tcp.cid = tcc.cid
        WHERE
        tcc.status != '4'
        ) a where 1=1
        and a.oneheader = #{uid}
        and a.status = '1'
        <if test="region!=null and region !=''">
            and a.region=#{region}
        </if>
        <if test="dictvalue != null and dictvalue !='' and dictvalue !='全部'">
            and a.dictvalue=#{dictvalue}
        </if>
        <if test="keyword!=null and keyword !=''">
            and (a.cname ~ #{keyword} or a.sales ~ #{keyword})
        </if>
        <if test="province != null and province != ''">
            and a.region IN
            <foreach separator="," close=")" open="(" index="index" item="item" collection="list">
                #{item.region}
            </foreach>
        </if>
        ) as b
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>


    <select id="getDeptUserCountOnlyOne" parameterType="java.util.Map" resultType="int">
        select
        count(1)
        from
        (
        select *from (
        select * from (
        SELECT
        DISTINCT
        tcc.oneheader,
        tcc.cid,
        (select cname from tb_dept_user where uid=tcc.oneheader limit 1) sales,
        tcc.status,
        tcl.cname,
        tcl.manager,
        tcl.region,
        tdu.phone userphone,
        ( SELECT dictvalue FROM tb_company_property WHERE cid = tcc.cid AND typeid = 't111111' limit 1) dictvalue,
        tcl.authid,
        tcl.logo,
        tcl.relmail,
        tcd.duid
        FROM
        tb_company_dept tcd
        LEFT JOIN tb_dept_user tdu ON tcd.cdid = tdu.cdid
        LEFT JOIN tb_private_company_list tcc ON tcc.oneheader = tdu.uid
        LEFT JOIN tb_company_list tcl ON tcl.cid = tcc.cid
        LEFT JOIN tb_company_property tcp ON tcp.cid = tcc.cid
        WHERE
        tcc.status != '4'
        ) a where 1=1
        and a.duid = #{uid}
        and a.status = '1'
        <if test="region!=null and region !=''">
            and a.region=#{region}
        </if>
        <if test="dictvalue != null and dictvalue !='' and dictvalue !='全部'">
            and a.dictvalue=#{dictvalue}
        </if>
        <if test="keyword!=null and keyword !=''">
            and (a.cname ~ #{keyword} or a.sales ~ #{keyword})
        </if>
        <if test="province != null and province != ''">
            and a.region IN
            <foreach separator="," close=")" open="(" index="index" item="item" collection="list">
                #{item.region}
            </foreach>
        </if>
        UNION
        select * from (
        SELECT
        DISTINCT
        tcc.oneheader,
        tcc.cid,
        (select cname from tb_dept_user where uid=tcc.oneheader limit 1) sales,
        tcc.status,
        tcl.cname,
        tcl.manager,
        tcl.region,
        tdu.phone userphone,
        ( SELECT dictvalue FROM tb_company_property WHERE cid = tcc.cid AND typeid = 't111111' limit 1) dictvalue,
        tcl.authid,
        tcl.logo,
        tcl.relmail,
        '' as duid
        FROM
        tb_private_company_list tcc
        LEFT JOIN tb_company_list tcl ON tcl.cid = tcc.cid
        LEFT JOIN tb_dept_user tdu ON tdu.cid = tcc.cid
        LEFT JOIN tb_company_property tcp ON tcp.cid = tcc.cid
        WHERE
        tcc.status != '4'
        ) a where 1=1
        and a.oneheader = #{uid}
        and a.status = '1'
        <if test="region!=null and region !=''">
            and a.region=#{region}
        </if>
        <if test="dictvalue != null and dictvalue !='' and dictvalue !='全部'">
            and a.dictvalue=#{dictvalue}
        </if>
        <if test="keyword!=null and keyword !=''">
            and (a.cname ~ #{keyword} or a.sales ~ #{keyword})
        </if>
        <if test="province != null and province != ''">
            and a.region IN
            <foreach separator="," close=")" open="(" index="index" item="item" collection="list">
                #{item.region}
            </foreach>
        </if>
        ) as b
        ) as num
    </select>



</mapper>
