<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.TbCompanyProjectMapper">

    <select id="getCompany" parameterType="java.util.Map" resultType="java.util.Map">
        select * from tb_company_list where cid = #{cid} and  cname like CONCAT('%',#{cname},'%')
    </select>

    <select id="getProject" parameterType="java.util.Map" resultType="java.util.Map">
        select * from tb_company_project where projectid = #{projectid} and  projectname like CONCAT('%',#{projectname},'%')
    </select>

    <!--查询项目下的数据-->
    <select id="getComProject" parameterType="java.util.Map" resultType="java.util.Map">
        select
        cid,
        Projectid,
        projectname,
        region,
        address,
        plantime,
        verifytime,
        to_char(to_timestamp(tendertime / 1000), 'yyyy-MM-dd HH24:MI') as tendertime,
        tenderuid,
        tendername,
        tenderphone,
        wintime,
        buildstime,
        buildetime,
        adduid,
        to_char(to_timestamp(addtime / 1000), 'yyyy-MM-dd HH24:MI') as addtime,
        upduid,
        status,
        summary
        from
        tb_company_project
        where
        status = '1'
        <if test="keyword != null and keyword != ''">
            and tendername ~ #{keyword} or tenderphone ~ #{keyword}
        </if>
        <if test="region != null and region != ''">
            and region  = #{region}
        </if>
        <if test="projectname != null and projectname != ''">
            and projectname  ~ #{projectname}
        </if>
        order by idx asc
        LIMIT #{pagesize} offset #{pageno}
    </select>

    <!--查询总数-->
    <select id="getCount" resultType="int" parameterType="java.util.Map">
        select
        count(1)
        from
        tb_company_project
        where
        status = '1'
        <if test="keyword != null and keyword != ''">
            and tendername ~ #{keyword} or tenderphone ~ #{keyword}
        </if>
        <if test="region != null and region != ''">
            and region = #{region}
        </if>
        <if test="projectname != null and projectname != ''">
            and projectname  ~ #{projectname}
        </if>
    </select>

    <insert id="saveComProject" parameterType="java.util.Map">
        insert
        into
        tb_company_project
        (
        cid,
        projectid,
        projectname,
        region,
        address,
        plantime,
        verifytime,
        tendertime,
        tenderuid,
        tendername,
        tenderphone,
        wintime,
        buildstime,
        buildetime,
        adduid,
        addtime,
        upduid,
        status,
        summary
        )values(
        <choose>
            <when test="cid != null">
                #{cid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="projectid != null">
                #{projectid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="projectname != null">
                #{projectname},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="region != null">
                #{region},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="address != null">
                #{address},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="plantime != null">
                #{plantime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="verifytime != null">
                #{verifytime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="tendertime != null">
            #{tendertime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="tenderuid != null">
                #{tenderuid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="tendername != null">
                #{tendername},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="tenderphone != null">
                #{tenderphone},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="wintime != null">
                #{wintime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
           <choose>
                  <when test="buildstime != null">
                         #{buildstime},
                  </when>
                  <otherwise>
                         null,
                  </otherwise>
           </choose>
           <choose>
                  <when test="buildetime != null">
                         #{buildetime},
                  </when>
                  <otherwise>
                         null,
                  </otherwise>
           </choose>
           <choose>
                  <when test="adduid != null">
                         #{adduid},
                  </when>
                  <otherwise>
                         null,
                  </otherwise>
           </choose>
           <choose>
                  <when test="addtime != null">
                         #{addtime},
                  </when>
                  <otherwise>
                         null,
                  </otherwise>
           </choose>
           <choose>
                  <when test="upduid != null">
                         #{upduid},
                  </when>
                  <otherwise>
                         null,
                  </otherwise>
           </choose>
           <choose>
                  <when test="status != null">
                         #{status},
                  </when>
                  <otherwise>
                         1,
                  </otherwise>
           </choose>
           <choose>
                  <when test="summary != null">
                         #{summary}
                  </when>
                  <otherwise>
                         null
                  </otherwise>
           </choose>
           )
    </insert>

   <!--关联业主-->
    <update id="updateComProject" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
        update
        tb_company_project
        set
        <if test="item.cid != null and item.cid != ''">cid = #{item.cid},</if>
        <if test="item.projectname != null and item.projectname != ''">projectname = #{item.projectname},</if>
        <if test="item.region != null and item.region != ''">region = #{item.region},</if>
        <if test="item.address != null and item.address != ''">address = #{item.address},</if>
        <if test="item.plantime != null and item.plantime != ''">plantime = #{item.plantime},</if>
        <if test="item.verifytime != null and item.verifytime != ''">verifytime = #{item.verifytime},</if>
        <if test="item.tendertime != null and item.tendertime != ''">tendertime = #{item.tendertime},</if>
        <if test="item.updtime != null and item.updtime != ''">updtime = #{item.updtime}</if>
        where
        projectid = #{item.projectid}
        </foreach>
    </update>

    <!--取消业主的关联-->

    <update id="ComProject" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
        update
        tb_company_project
        set
        <if test="item.cid != null and item.cid != ''">cid = 321123,</if>
        <if test="item.projectname != null and item.projectname != ''">projectname = #{item.projectname},</if>
        <if test="item.region != null and item.region != ''">region = #{item.region},</if>
        <if test="item.address != null and item.address != ''">address = #{item.address},</if>
        <if test="item.plantime != null and item.plantime != ''">plantime = #{item.plantime},</if>
        <if test="item.verifytime != null and item.verifytime != ''">verifytime = #{item.verifytime},</if>
        <if test="item.tendertime != null and item.tendertime != ''">tendertime = #{item.tendertime},</if>
        <if test="item.updtime != null and item.updtime != ''">updtime = #{item.updtime}</if>
        where
        projectid = #{item.projectid} and cid = #{item.cid}
        </foreach>
    </update>

 <!--根据服务的项目ID获取项目信息-->
    <select id="queryServiceProjectList" parameterType="java.util.List" resultType="java.util.Map">
        select
        cl.cid,
        cl.cname,
        cl.region,
        cp.projectid,
        cp.projectname,
        to_char(to_timestamp(cp.addtime / 1000), 'yyyy-MM-dd') as addtime
        from
        tb_company_project cp
        left join
        tb_company_list cl
        on
        cp.cid = cl.cid
        where
        cp.projectid in
        <foreach separator="," close=")" open="(" index="index" item="item" collection="list">
            #{item.projectid}
        </foreach>
        and
        cp.status = '1'
    </select>

    <!--根据服务的项目ID获取模糊搜索项目信息的总数-->
    <select id="queryCompanyServiceCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        count(1)
        from
        tb_company_project cp
        left join
        tb_company_list cl
        on
        cp.cid = cl.cid
        where
        cp.projectid in
        <foreach separator="," close=")" open="(" index="index" item="item" collection="list">
            #{item.projectid}
        </foreach>
        <if test="starttime != null and starttime != ''">and addtime &gt;= #{starttime}</if>
        <if test="endtime != null and endtime != ''">and addtime &lt;= #{endtime}</if>
        <if test="projectname != null and projectname != ''">and projectname LIKE CONCAT( '%',#{projectname},'%')</if>
        and
        cp.status = '1'
    </select>

    <!--根据服务的项目ID获取模糊搜索项目信息-->
    <select id="queryServiceProject" parameterType="java.util.Map" resultType="java.util.Map">
        select
        cl.cid,
        cl.cname,
        cl.region,
        cp.projectid,
        cp.projectname,
        to_char(to_timestamp(cp.addtime / 1000), 'yyyy-MM-dd') as addtime
        from
        tb_company_project cp
        left join
        tb_company_list cl
        on
        cp.cid = cl.cid
        where
        cp.projectid in
        <foreach separator="," close=")" open="(" index="index" item="item" collection="list">
            #{item.projectid}
        </foreach>
        <if test="starttime != null and starttime != ''">and addtime &gt;= #{starttime}</if>
        <if test="endtime != null and endtime != ''">and addtime &lt;= #{endtime}</if>
        <if test="projectname != null and projectname != ''">and projectname LIKE CONCAT( '%',#{projectname},'%')</if>
        and
        cp.status = '1'
        order by cp.id
        limit
        #{pagesize}
        offset
        #{pageno}
    </select>

    <!--所有业主-今日添加项目的数量-->
    <select id="getComProjectCount" parameterType="java.util.Map" resultType="int">
        select
        count(1)
        from
        tb_company_project
        where
        addtime &gt;= #{startTime} and addtime &lt;= #{endTime}
    </select>


</mapper>
