<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.TbContractProductFunMapper">

    <!-- 添加合同项 -->
    <insert id="addContractProductFun" parameterType="java.util.List">
        <foreach separator=";" close="" open="" index="index" item="item" collection="list">
            insert into tb_contract_product_fun
            (contid,pid,funtype,funsubtype,funid,cname,price,weight,introduce,fundesc,funroute,idx,adduid,addtime,upduid,updtime,status,summary)
            values (
            <choose>
                <when test="item.contid!=null and item.contid!=''">
                    #{item.contid},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.pid!=null and item.pid!=''">
                    #{item.pid},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.funtype!=null and item.funtype!=''">
                    #{item.funtype},
                </when>
                <otherwise>pro
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.funsubtype!=null and item.funsubtype!=''">
                    #{item.funsubtype},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.funid!=null and item.funid!=''">
                    #{item.funid},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.cname!=null and item.cname!=''">
                    #{item.cname},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.price!=null and item.price!=''">
                    #{item.price},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.weight!=null and item.weight!=''">
                    #{item.weight},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.introduce!=null and item.introduce!=''">
                    #{item.introduce},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.fundesc!=null and item.fundesc!=''">
                    #{item.fundesc},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.funroute!=null and item.funroute!=''">
                    #{item.funroute},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.idx!=null and item.idx!=''">
                    #{item.idx},
                </when>
                <otherwise>
                    (select count(1)+#{index} from tb_contract_product_fun),
                </otherwise>
            </choose>
            <choose>
                <when test="item.adduid!=null and item.adduid!=''">
                    #{item.adduid},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.addtime!=null and item.addtime!=''">
                    #{item.addtime},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.upduid!=null and item.upduid!=''">
                    #{item.upduid},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.updtime!=null and item.updtime!=''">
                    #{item.updtime},
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            <choose>
                <when test="item.status!=null and item.status!=''">
                    #{item.status},
                </when>
                <otherwise>
                    1,
                </otherwise>
            </choose>
            <choose>
                <when test="item.summary!=null and item.summary!=''">
                    #{item.summary}
                </when>
                <otherwise>
                    null
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>

    <!-- 修改合同项 -->
    <update id="updateContractProductFun" parameterType="java.util.Map">
        update tb_contract_product_fun
        <trim prefix="set" suffixOverrides="," suffix=" where contid = #{contid} and pid=#{pid} ">
            <if test="funtype != null and funtype!=''">funtype=#{funtype} ,</if>
            <if test="funsubtype != null and funsubtype!=''">funsubtype=#{funsubtype} ,</if>
            <if test="funid != null and funid!=''">funid=#{funid} ,</if>
            <if test="cname != null and cname!=''">cname=#{cname} ,</if>
            <if test="price != null and price!=''">price=#{price} ,</if>
            <if test="weight != null and weight!=''">weight=#{weight} ,</if>
            <if test="introduce != null and introduce!=''">introduce=#{introduce} ,</if>
            <if test="fundesc != null and fundesc!=''">fundesc=#{fundesc} ,</if>
            <if test="funroute != null and funroute!=''">funroute=#{funroute} ,</if>
            <if test="upduid != null and upduid!=''">upduid=#{upduid} ,</if>
            <if test="updtime != null and updtime!=''">updtime=#{updtime} ,</if>
        </trim>
    </update>

    <!-- 查询合同项 -->
    <select id="queryContractProductFun" parameterType="java.util.Map" resultType="java.util.Map">
        select contid,pid,funtype,funsubtype,funid,cname,price,weight,introduce,fundesc,funroute,idx,adduid,addtime,upduid,updtime,status,summary
        from tb_contract_product_fun where status='1' and contid=#{contid}
    </select>


</mapper>