<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.TbCompanyProductMapper">


    <!-- 添加企业产品 -->
    <insert id="addCompanyProduct" parameterType="java.util.List">
        <foreach separator=";" close="" open="" index="index" item="item" collection="list">
        insert into tb_company_product
        (cid,plid,ptype,pid,idx,weburl,manurl,ouid,limitday,addtime,upduid,updtime,status,summary)
        values (
        <choose>
            <when test="item.cid!=null and item.cid!=''">
                #{item.cid},
            </when>
            <otherwise>
                NULL,
            </otherwise>
        </choose>
        <choose>
            <when test="item.plid!=null and item.plid!=''">
                #{item.plid},
            </when>
            <otherwise>
                NULL,
            </otherwise>
        </choose>
        <choose>
            <when test="item.ptype!=null and item.ptype!=''">
                #{item.ptype},
            </when>
            <otherwise>
                NULL,
            </otherwise>
        </choose>
        <choose>
            <when test="item.pid!=null and item.pid!=''">
                #{item.pid},
            </when>
            <otherwise>
                NULL,
            </otherwise>
        </choose>
        <choose>
            <when test="item.idx!=null and item.idx!=''">
                #{item.idx},
            </when>
            <otherwise>
                (select count(1)+#{index} from tb_company_product),
            </otherwise>
        </choose>
        <choose>
            <when test="item.weburl!=null and item.weburl!=''">
                #{item.weburl},
            </when>
            <otherwise>
                NULL,
            </otherwise>
        </choose>
        <choose>
            <when test="item.manurl!=null and item.manurl!=''">
                #{item.manurl},
            </when>
            <otherwise>
                NULL,
            </otherwise>
        </choose>
        <choose>
            <when test="item.ouid!=null and item.ouid!=''">
                #{item.ouid},
            </when>
            <otherwise>
                NULL,
            </otherwise>
        </choose>
        <choose>
            <when test="item.limitday!=null and item.limitday!=''">
                #{item.limitday},
            </when>
            <otherwise>
                NULL,
            </otherwise>
        </choose>
        <choose>
            <when test="item.addtime!=null and item.addtime!=''">
                #{item.addtime},
            </when>
            <otherwise>
                NULL,
            </otherwise>
        </choose>
        <choose>
            <when test="item.upduid!=null and item.upduid!=''">
                #{item.upduid},
            </when>
            <otherwise>
                NULL,
            </otherwise>
        </choose>
        <choose>
            <when test="item.updtime!=null and item.updtime!=''">
                #{item.updtime},
            </when>
            <otherwise>
                NULL,
            </otherwise>
        </choose>
        <choose>
            <when test="item.status!=null and item.status!=''">
                #{item.status},
            </when>
            <otherwise>
                1,
            </otherwise>
        </choose>
        <choose>
            <when test="item.summary!=null and item.summary!=''">
                #{item.summary}
            </when>
            <otherwise>
                NULL
            </otherwise>
        </choose>
        )ON conflict(cid,pid) DO UPDATE SET
            cid=#{item.cid},
            pid=#{item.pid}
            <if test="item.plid!=null and  item.plid!=''">
                ,plid=#{item.plid}
            </if>
        </foreach>
    </insert>

    <!-- 查询该单位的二级域名 -->
    <select id="queryCompanyProductIsExists" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_company_product where cid=#{cid} and status='1'
    </select>
</mapper>
