<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.TbContractProductMapper">

    <!-- 添加企业合同产品 -->
    <insert id="addContractProduct" parameterType="java.util.List">
        <foreach separator=";" close="" open="" index="index" item="item" collection="list">
        insert into tb_contract_product
        (contid,plid,pid,cname,prodesc,service,price,pricedesc,accept,paradesc,idx,adduid,addtime,upduid,updtime,status,summary)
        values (
        <choose>
            <when test="item.contid!=null and item.contid!=''">
                #{item.contid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.plid!=null and item.plid!=''">
                #{item.plid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.pid!=null and item.pid!=''">
                #{item.pid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.cname!=null and item.cname!=''">
                #{item.cname},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.prodesc!=null and item.prodesc!=''">
                #{item.prodesc},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.service!=null and item.service!=''">
                #{item.service},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.price!=null and item.price!=''">
                #{item.price},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.pricedesc!=null and item.pricedesc!=''">
                #{item.pricedesc},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.accept!=null and item.accept!=''">
                #{item.accept},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.paradesc!=null and item.paradesc!=''">
                #{item.paradesc},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.idx!=null and item.idx!=''">
                #{item.idx},
            </when>
            <otherwise>
                (select count(1)+#{index} from tb_contract_product),
            </otherwise>
        </choose>
        <choose>
            <when test="item.adduid!=null and item.adduid!=''">
                #{item.adduid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.addtime!=null and item.addtime!=''">
                #{item.addtime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.upduid!=null and item.upduid!=''">
                #{item.upduid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.updtime!=null and item.updtime!=''">
                #{item.updtime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.status!=null and item.status!=''">
                #{item.status},
            </when>
            <otherwise>
                1,
            </otherwise>
        </choose>
        <choose>
            <when test="item.summary!=null and item.summary!=''">
                #{item.summary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
        )
        </foreach>
    </insert>

    <!-- 修改企业合同产品 -->
    <update id="updateContractProduct" parameterType="java.util.Map">
        update tb_contract_product
        <trim prefix="set" suffixOverrides="," suffix=" where dictid = #{dictid} ">
            　　　　
            <if test="cname != null and cname!=''">cname=#{cname} ,</if>
            　　　　
            <if test="prodesc != null and prodesc!=''">prodesc=#{prodesc} ,</if>
            　　　　
            <if test="service != null and service!=''">service=#{service} ,</if>
            　　　　
            <if test="price != null and price!=''">price=#{price} ,</if>
            　　　　
            <if test="pricedesc != null and pricedesc!=''">pricedesc=#{pricedesc} ,</if>
            　　　　
            <if test="accept != null and accept!=''">accept=#{accept} ,</if>
            　　　　
            <if test="paradesc != null and paradesc!=''">paradesc=#{paradesc} ,</if>
            　　　　
            <if test="upduid != null and upduid!=''">upduid=#{upduid} ,</if>
            　　　　
            <if test="updtime != null and updtime!=''">updtime=#{updtime} ,</if>
        </trim>
    </update>

    <!-- 查询企业合同产品 -->
    <select id="queryContractProduct" parameterType="java.util.Map">
        select contid,plid,pid,cname,prodesc,service,price,pricedesc,accept,paradesc,idx,adduid,addtime,upduid,updtime,status,summary
        from tb_contract_product where status='1' and contid=#{contid}
    </select>

</mapper>