<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.TbDeptUserMapper">

    <select id="queryUsernameBydept" parameterType="java.util.Map" resultType="java.util.Map">
        select DISTINCT cname,uid from tb_dept_user where cdid = #{cdid}
    </select>

    <select id="queryOtherPersonBycid" parameterType="java.util.Map" resultType="java.util.Map">
        select td.cid,td.cname as uname,tc.cname,td.cdid,uid,phone from tb_dept_user td  LEFT JOIN tb_company_dept tc on tc.cdid = td.cdid
        where td.status = '1' and td.cid = #{cid}
        <choose><when test="cname != null and cname != '' ">and td.cname like CONCAT('%',#{cname},'%')  </when></choose>
        <choose><when test="uname != null and uname != '' ">and tc.cname like CONCAT('%',#{uname},'%')  </when></choose>
    </select>

    <select id="queryPersonNameByuid" parameterType="java.util.Map" resultType="java.util.Map">
       select DISTINCT cname as uname from tb_dept_user  where status='1' and uid = #{truid}
    </select>

    <select id="getUsernameByUids" parameterType="java.util.Map"  resultType="java.lang.String">
    SELECT string_agg(uname,',') as unames from tb_dept_user WHERE uid IN
    <foreach item="item" index="index" collection="uids" open="(" separator="," close=")">
        #{item}
    </foreach>
    </select>
</mapper>
