<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.TbHandleContractMapper">

    <!-- 添加合同动态属性 -->
    <insert id="addHandleContract" parameterType="java.util.List">
        <foreach separator=";" close="" open="" index="index" item="item" collection="list">
        insert into tb_handle_contract (contid,typeid,dictid,dictvalue,fit,idx,adduid,addtime,upduid,updtime,status,summary)
        values (
        <choose>
            <when test="item.contid!=null and item.contid!=''">
                #{item.contid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.typeid!=null and item.typeid!=''">
                #{item.typeid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.dictid!=null and item.dictid!=''">
                #{item.dictid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.dictvalue!=null and item.dictvalue!=''">
                #{item.dictvalue},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.fit!=null and item.fit!=''">
                #{item.fit},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.idx!=null and item.idx!=''">
                #{item.idx},
            </when>
            <otherwise>
                (select count(1)+#{index} from tb_handle_contract),
            </otherwise>
        </choose>
        <choose>
            <when test="item.adduid!=null and item.adduid!=''">
                #{item.adduid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.addtime!=null and item.addtime!=''">
                #{item.addtime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.upduid!=null and item.upduid!=''">
                #{item.upduid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.updtime!=null and item.updtime!=''">
                #{item.updtime},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="item.status!=null and item.status!=''">
                #{item.status},
            </when>
            <otherwise>
                1,
            </otherwise>
        </choose>
        <choose>
            <when test="item.summary!=null and item.summary!=''">
                #{item.summary}
            </when>
            <otherwise>
                null
            </otherwise>
        </choose>
        )
        </foreach>
    </insert>

    <!-- 修改合同动态属性 -->
    <update id="updateHandleContract" parameterType="java.util.Map">
        update tb_handle_contract
        <trim prefix="set" suffixOverrides="," suffix=" where dictid = #{dictid} ">
            　　　　<if test="dictvalue != null and dictvalue!=''"> dictvalue=#{dictvalue} ,</if>
            　　　　<if test="fit != null and fit!=''"> fit=#{fit} ,</if>
            　　　　<if test="upduid != null and upduid!=''"> upduid=#{upduid} ,</if>
            　　　　<if test="updtime != null and updtime!=''"> updtime=#{updtime} ,</if>
        </trim>
    </update>

    <!-- 查询合同动态属性 -->
    <select id="queryHandleContract" parameterType="java.util.Map">
        select contid,typeid,dictid,dictvalue,fit,idx,adduid,addtime,upduid,updtime,status,summary
        from tb_handle_contract where status='1' and contid=#{contid}
    </select>


</mapper>