<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.TbPlantaskJobDutyMapper">
<!--    查询公司下所有角色的岗位职责-->
    <select id="getAllIdByCid" parameterType="java.util.Map" resultType="java.util.Map">
        select a.jobdutyid,a.crid,a.dutyid,a.workid,a.outputid,a.workstandardid,a.kpiid from tb_plantask_job_duty
        as a ,tb_plantask_job_position as b
        <where>
            <if test="crid!=null and crid.size()>0">
                a.crid in
                <foreach collection="crid" item="item" separator="," open="(" close=")">
                    #{item.crid}
                </foreach>
                and
            </if>

            status='1' and
            a.crid=b.crid
            order by b.cddid desc
            LIMIT #{pagesize} OFFSET #{pageno}
        </where>

    </select>

    <!--    查询公司下所有角色的岗位职责-->
    <select id="getAllIdByCidNotParam" parameterType="java.util.Map" resultType="java.util.Map">
        select a.jobdutyid,a.crid,a.dutyid,a.workid,a.outputid,a.workstandardid,a.kpiid from tb_plantask_job_duty
        as a ,tb_plantask_job_position as b
        <where>
            status='1' and
            a.crid=b.crid
            order by b.cddid desc
            LIMIT #{pagesize} OFFSET #{pageno}
        </where>

    </select>
    <select id="AllJobRBE" resultType="java.util.Map">
        select uniqueid,content,parentid,sort,node from tb_plantask_job_content
    </select>
<!--    查询岗位职责总数-->
    <select id="getAllCount" resultType="java.lang.Integer">
        select count(1) from tb_plantask_job_duty
        as a ,tb_plantask_job_position as b
        <where>
        <if test="  crid!=null and crid.size()>0 ">
            a.crid in
            <foreach collection="crid" item="item" separator="," open="(" close=")">
                #{item.crid}
            </foreach>
            and
        </if>

        status='1' and
        a.crid=b.crid
        </where>
    </select>

    <!--    查询岗位职责总数-->
    <select id="getAllCountParam" resultType="java.lang.Integer">
        select count(1) from tb_plantask_job_duty
        as a ,tb_plantask_job_position as b
        <where>

        status='1' and
        a.crid=b.crid
        </where>
    </select>
<!--    修改岗位职责-->
    <update id="updateJobResponsibilities">
        <foreach collection="lists" item="item" index="index" open="" close="" separator=";">
        update "tb_plantask_job_duty"
        <set>
            <if test="item.crid != null and item.crid != ''">crid = #{item.crid},</if>
            <if test="item.dutyid != null and item.dutyid != ''">dutyid = #{item.dutyid},</if>
            <if test="item.outputid != null and item.outputid != ''">outputid = #{item.outputid},</if>
            upuid=#{upuid},uptime=#{uptime}
        </set>
        where jobdutyid = #{item.jobdutyid}
        </foreach>
    </update>

<!--修改删除状态-->
    <update id="updateJobResponsibilitiesDelStatus">
        update tb_plantask_job_duty
        <set>
            <if test="uptime!=null and uptime!=''">
                uptime = #{uptime},
            </if>
            <if test="upuid!=null and upuid!=''">
                upuid = #{upuid},
            </if>
            status = '2'
        </set>
        where  jobdutyid in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item.uniqueid}
        </foreach>
    </update>
<!--    插入-->
    <insert id="insertJobResponsibilities">
        <foreach collection="lists" item="item" index="index" open="" close="" separator=";">
            insert into tb_plantask_job_duty (jobdutyid,crid,dutyid,workid,outputid,workstandardid,kpiid,
            adduid,status,addtime) values
            (#{item.jobdutyid},#{item.crid},#{item.dutyid},#{item.workid},#{item.outputid},#{item.workstandardid},#{item.kpiid},#{adduid},'1',#{addtime})
        </foreach>
    </insert>
<!--    插入字典库   -->
    <insert id="insertDictionary">
        insert  into tb_plantask_job_content (uniqueid,content)
        values (#{uniqueid},#{content})
    </insert>
<!--    批量插入字典库   -->
    <insert id="insertJobRBE">

            insert into tb_plantask_job_content (uniqueid,content)
            values
            <foreach collection="list" item="item" index="index" open="" close="" separator=",">
                (#{item.uniqueid},#{item.content})
            </foreach>

    </insert>
    <insert id="insertDept">
        <foreach collection="crMap" item="item" index="index" open="" close="" separator=";">

           insert into tb_plantask_job_position
           (crid,content,cddid) values (#{item.crid},#{item.crcontent},#{item.cddid})

        </foreach>
    </insert>


    <select id="selectDutyByCid" resultType="Map">
        SELECT DISTINCT b.uniqueid,b."content"
FROM "tb_plantask_job_duty" a,"tb_plantask_job_content" b where a.dutyid = b.uniqueid and  a.crid = #{crid}
    </select>

    <select id="selectExistContent" resultType="Map">
        select content,uniqueid
        from tb_plantask_job_content
        where content in
        <foreach collection="contentList" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="selectExistCrContent" resultType="Map">
        <foreach collection="crContent" item="item" index="index" open="" close="" separator=";">
            select content as crcontent,crid
            from tb_plantask_job_position
            where content =  #{item.crcontent}
            and cddid = #{item.cddid}
        </foreach>
    </select>

<!--    查询所有职责根据角色-->
    <select id="selectAllDutyByRole" resultType="Map">
        select DISTINCT crid,dutyid,(select content from tb_plantask_job_content where uniqueid = dutyid) as cname from
tb_plantask_job_duty
where crid in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item.crid}
        </foreach>
    </select>
</mapper>