<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.TbResourceViewMapper">

    <!--添加浏览-->
    <insert id="addResourceView" parameterType="java.util.Map">
        insert into tb_resource_view(restype,resid,ouid,addtime)
        values
        (
        #{restype},#{actid},#{ouid},#{addtime}
        )
    </insert>

    <!--查询已浏览次数-->
    <select id="queryResourceView" parameterType="java.util.Map" resultType="java.util.Map">
         select count(1) as count

        <if test="ouid!=null and ouid!=''">
         ,(select count(1) from tb_resource_view where resid=#{actid} and ouid=#{ouid}) as alreadycount
        </if>

         from tb_resource_view where resid=#{actid}
    </select>


    <!--查询是否已经点赞-->
    <select id="queryIsAlreadyView" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count (1) from tb_resource_view where resid=#{actid} and restype=#{restype} and ouid =#{ouid}
    </select>
</mapper>