<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.TbTrackUserMapper">
    <!--新建跟进人员记录-->
    <insert id="addTrackUser" parameterType="java.util.Map" >
        insert into tb_track_user_list (isservice,nextadvance,abdialogue,trackoutput,trackres,excontent,trackdesc,trackcid,trackproid,
        trackvalue,trackid,tracktime,trackuname,tracktype,customer,trackcontent,image,
        adduid,status,summary,addtime)
        values (
        <choose>
            <when test="isservice != null and isservice != ''">
                #{isservice},
            </when>
            <otherwise>
                0,
            </otherwise>
        </choose>
        <choose>
            <when test="nextadvance != null and nextadvance != ''">
                #{nextadvance},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="abdialogue != null and abdialogue != ''">
                #{abdialogue},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="trackoutput != null and trackoutput != ''">
                #{trackoutput},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="trackres != null and trackres != ''">
                #{trackres},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="excontent != null and excontent != ''">
                #{excontent},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="trackdesc != null and trackdesc != ''">
                #{trackdesc},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="trackcid != null and trackcid != ''">
                #{trackcid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="trackproid != null and trackproid != ''">
                #{trackproid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="trackvalue != null and trackvalue != ''">
                #{trackvalue},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="trackid != null and trackid != ''">
                #{trackid},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="tracktime != null and tracktime != ''">
               #{tracktime},
            </when>
             <otherwise>
                 0,
             </otherwise>
        </choose>
        <choose>
            <when test="trackuname != null and trackuname != ''">
                #{trackuname},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="tracktype != null and tracktype != ''">
                #{tracktype},
            </when>
            <otherwise>
                0,
            </otherwise>
        </choose>
        <choose>
            <when test="customer != null and customer != ''">
                #{customer},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="trackcontent != null and trackcontent != ''">
                #{trackcontent},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        <choose>
            <when test="image != null and image != ''">
                #{image},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{adduid},
        #{status},
        <choose>
            <when test="summary != null and summary != ''">
                #{summary},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{addtime}
        )
    </insert>
    
    <!--查询跟进人员记录-->
    <select id="queryTrackUserList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        trackvalue,
        isservice,
        trackres,
        trackoutput,
        abdialogue,
        nextadvance,
        excontent,
        trackdesc,
        trackid,
        tracktime,
        trackuname,
        tracktype,
        trackcontent,
        image,
        tt.summary,
        trackcid,
        trackproid,
        customer,
        pp.projectname,
        cc.cname,
        mm.uname as relperson,
        mm.phone as relphone
        FROM
        tb_track_user_list tt
        left join
        tb_company_project pp
        on tt.trackproid = pp.projectid
        LEFT JOIN
        tb_company_list cc
        on tt.trackvalue = cc.cid
        LEFT JOIN
        tb_common_user_list  mm
        on tt.trackvalue = mm.uid
        WHERE
        tt.status = '1'
        <if test="projectname != null and projectname != ''">
            and trackproid in (select projectid from tb_company_project where projectname ~ #{projectname} and status = '1')
        </if>
        <if test="level != null and level != '' and level != '-1'">
            and tt.trackvalue in (select cid from tb_company_property where dictvalue = #{level})
        </if>
        <if test="trackuname != null and trackuname != ''">
            and trackuname ~ #{trackuname}
        </if>
        <if test="cdid != null and cdid != ''">
            and customer in (
            select uid from tb_dept_user where cdid in
            <foreach collection="list" separator="," item="item" index="index" open="(" close=")">
                #{item.cdid}
            </foreach>
            and status = '1'
            )
        </if>
        <if test="trackvalue != null and trackvalue!= ''">
            and trackvalue = #{trackvalue}
        </if>
        <if test="startTime != null and startTime != ''">
            and tt.tracktime &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime!= ''">
            and tt.tracktime &lt;= #{endTime}
        </if>
        <if test="trackcid != null and trackcid != ''">
            and trackcid = #{trackcid}
        </if>
        <if test="trackproid != null and trackproid != ''">
            and trackproid = #{trackproid}
        </if>
        <if test="customer != null and customer != '' ">
            and customer = #{customer}
        </if>
        order by tt.tracktime desc
        <if test="pagesize != null and pagesize != ''">
            limit  #{pagesize}
            offset #{pageno}
        </if>



    </select>

    <!--查询销售统计分析跟踪记录数-->
    <select id="getTrackCountOnSales" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        tb_track_user_list tt
        left join
        tb_company_project pp
        on tt.trackproid = pp.projectid
        LEFT JOIN
        tb_company_list cc
        on tt.trackvalue = cc.cid
        LEFT JOIN
        tb_common_user_list  mm
        on tt.trackvalue = mm.uid
        WHERE
        tt.status = '1'
        <if test="level != null and level != '' and level != '-1'">
            and tt.trackvalue in (select cid from tb_company_property where dictvalue = #{level})
        </if>
        <if test="projectname != null and projectname != ''">
            and tt.trackproid in (select projectid from tb_company_project where projectname ~ #{projectname} and status = '1')
        </if>
        <if test="trackuname != null and trackuname != ''">
            and tt.trackuname ~ #{trackuname}
        </if>
        <if test="cdid != null and cdid != ''">
            and customer in (
            select uid from tb_dept_user where cdid in
            <foreach collection="list" separator="," item="item" index="index" open="(" close=")">
                #{item.cdid}
            </foreach>
            and status = '1'
            )
        </if>
        <if test="trackvalue != null and trackvalue!= ''">
            and tt.trackvalue = #{trackvalue}
        </if>
        <if test="startTime != null and startTime != ''">
            and tt.tracktime &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime!= ''">
            and tt.tracktime &lt;= #{endTime}
        </if>
        <if test="trackcid != null and trackcid != ''">
            and trackcid = #{trackcid}
        </if>
        <if test="trackproid != null and trackproid != ''">
            and trackproid = #{trackproid}
        </if>
        <if test="customer != null and customer != ''">
            and customer = #{customer}
        </if>
    </select>



    <!--查询qq/微信联系记录数-->
    <select id="getQCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_track_user_list
        where tracktype in (4,8)
        <if test="zero != null and zero != ''">
           and addtime &gt;= #{zero}
        </if>
        <if test="twelve != null and twelve != ''">
            and addtime &lt;= #{twelve}
        </if>
        and status = '1'
        <choose>
            <when test="customer != null and customer != ''">
                and customer = #{customer}
            </when>
            <otherwise>
                and adduid = #{adduid}
            </otherwise>
        </choose>

    </select>

    <!--查询电话联系记录数-->
    <select id="getPCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_track_user_list
        where tracktype = 16
        <if test="zero != null and zero != ''">
            and addtime &gt;= #{zero}
        </if>
        <if test="twelve != null and twelve != ''">
            and addtime &lt;= #{twelve}
        </if>
        and status = '1'
        <choose>
            <when test="customer != null and customer != ''">
                and customer = #{customer}
            </when>
            <otherwise>
                and adduid = #{adduid}
            </otherwise>
        </choose>
    </select>

    <!--查询跟进记录愿意见数目-->
    <select id="getHandleCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_track_user_list
        where status = '1'
        and trackres = #{trackres}
        <if test="customer != null and customer != ''">
            and customer = #{customer}
        </if>
        <if test="cdid != null and cdid != ''">
            and customer in (
            select uid from tb_dept_user where cdid in
            <foreach collection="list" separator="," item="item" index="index" open="(" close=")">
                #{item.cdid}
            </foreach>
            and status = '1'
            )
        </if>
        <if test="cid != null and manager != null and cid != '' and manager != ''">
            and customer in(
            select uid from tb_dept_user where cid = (select cid from tb_company_list where cid = #{cid} and manager = #{manager}) and status = '1'
            )
        </if>
    </select>


    <!--<select id="getHandleCount" parameterType="java.util.Map" resultType="java.lang.Integer">-->
        <!--&lt;!&ndash;select count(1) from tb_track_user_list&ndash;&gt;-->
         <!--&lt;!&ndash;where trackcid in&ndash;&gt;-->
        <!--&lt;!&ndash;(select cid  from tb_private_company_list where  oneheader = #{uid} or twoheader = #{uid} and status = '1')&ndash;&gt;-->
        <!--&lt;!&ndash;<choose>&ndash;&gt;-->
            <!--&lt;!&ndash;<when test="customer != null and customer != ''">&ndash;&gt;-->
                 <!--&lt;!&ndash;and customer = #{customer}&ndash;&gt;-->
            <!--&lt;!&ndash;</when>&ndash;&gt;-->
            <!--&lt;!&ndash;<otherwise>&ndash;&gt;-->
                 <!--&lt;!&ndash;and customer = #{uid}&ndash;&gt;-->
            <!--&lt;!&ndash;</otherwise>&ndash;&gt;-->
        <!--&lt;!&ndash;</choose>&ndash;&gt;-->
        <!--&lt;!&ndash;and trackres = #{trackres}&ndash;&gt;-->
        <!--&lt;!&ndash;<if test="zero != null and zero != ''">&ndash;&gt;-->
            <!--&lt;!&ndash;and addtime &gt;= #{zero}&ndash;&gt;-->
        <!--&lt;!&ndash;</if>&ndash;&gt;-->
        <!--&lt;!&ndash;<if test="twelve != null and twelve != ''">&ndash;&gt;-->
            <!--&lt;!&ndash;and addtime &lt;= #{twelve}&ndash;&gt;-->
        <!--&lt;!&ndash;</if>&ndash;&gt;-->
    <!--</select>-->
    <!--查询跟进人员记录总数-->
    <select id="getTrackCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_track_user_list where status = '1' and adduid = #{adduid}

    </select>


    
    <!--删除跟进人员记录-->
    <update id="delTrackUser" parameterType="java.util.Map" >
        <foreach collection="list" separator="" item="item" index="index" open="" close="">
            update tb_track_user_list
            set status = '2' ,updtime = #{item.updtime} where trackid = #{item.trackid};
        </foreach>
    </update>

    <!--修改跟进人员记录信息-->
    <update id="updTrackUser" parameterType="java.util.Map">
        update tb_track_user_list
        set
        <if test="isservice != null and isservice != ''">
            isservice = #{isservice},
        </if>
        <if test="trackres != null and trackres != ''">
            trackres = #{trackres},
        </if>
        <if test="trackoutput != null and trackoutput != ''">
            trackoutput = #{trackoutput},
        </if>
        <if test="abdialogue != null and abdialogue != ''">
            abdialogue = #{abdialogue},
        </if>
        <if test="nextadvance != null and nextadvance != ''">
            nextadvance = #{nextadvance},
        </if>
        <if test="excontent != null and excontent != ''">
            excontent = #{excontent},
        </if>
        <if test="trackdes != null and trackdes != ''">
            trackdes = #{trackdes},
        </if>
        <if test="upduid != null and upduid != ''">
            upduid = #{upduid},
        </if>
        <if test="tracktime != null and tracktime != ''">
            tracktime = #{tracktime},
        </if>
        <if test="trackuname != null and trackuname != ''">
            trackuname = #{trackuname},
        </if>
        <if test="tracktype != null and tracktype != ''">
            tracktype = #{tracktype},
        </if>
        <if test="trackcontent != null and trackcontent != ''">
            trackcontent = #{trackcontent},
        </if>
        <if test="image != null and image != ''">
            image = #{image},
        </if>
        <if test="summary != null and summary != ''">
            summary = #{summary},
        </if>
        updtime = #{updtime}
        where
        trackid = #{trackid}

    </update>

    <!--// 分别查询qq/微信/电话沟通数量-->
    <select id="getSingleCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(#{tracktype}) from tb_track_user_list  where adduid = #{adduid} and status = '1'
    </select>

    <!--根据用户查询qq微信电话方式跟进记录列表-->
    <select id="getContactList" parameterType="java.util.Map" resultType="java.util.Map">
        select
        trackid,tracktime,trackuname,tracktype,trackvalue,trackcontent,image,summary
        from tb_track_user_list
        where
         status = '1'
        and tracktype in (4,8,16)
        <if test="zero != null and zero != ''">
            and addtime &gt;= #{zero}
        </if>
        <if test="twelve != null and twelve != ''">
            and addtime &lt;= #{twelve}
        </if>
        <if test="customer != null and customer != ''">
            and customer = #{customer}
        </if>
        <if test="cdid != null and cdid != ''">
            and customer in (
            select uid from tb_dept_user where cdid in
            <foreach collection="list" separator="," item="item" index="index" open="(" close=")">
                #{item.cdid}
            </foreach>
            and status = '1'
            )
        </if>
        <if test="cid != null and manager != null and cid != '' and manager != ''">
            and customer in(
            select uid from tb_dept_user where cid = (select cid from tb_company_list where cid = #{cid} and manager = #{manager}) and status = '1'
            )
        </if>
        order by addtime desc
    </select>

    <!--获取历史有效客户数量-->
    <select id="getClient" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_private_company_list where (oneheader = #{adduid} or twoheader = #{adduid})
        and status = '1'
        <if test="zero != null and zero != ''">
            and addtime &gt;= #{zero}
        </if>
        <if test="twelve != null and twelve != ''">
            and addtime &lt;= #{twelve}
        </if>

    </select>

    <!--查询跟进单位的等级-->
    <select id="queryLevel" parameterType="java.util.Map" resultType="java.lang.String">
        select dictvalue from  tb_company_property where  cid = #{trackvalue} and status = '1'
        <if test="dictvalue != null and dictvalue != ''">
            and dictvalue = #{dictvalue}
        </if>
        order by updtime desc limit 1 ;
    </select>

    <!--根据跟进人查询 跟进阶段客户列表-->
    <select id="getHandleStage" parameterType="java.util.Map" resultType="java.util.Map">
       select trackid,tracktime,trackuname,tracktype,trackvalue,trackcontent,image,summary
        from tb_track_user_list
        where
        status = '1'
        and trackres = #{trackeres}
        <if test="zero != null and zero != ''">
            and addtime &gt;= #{zero}
        </if>
        <if test="twelve != null and twelve != ''">
            and addtime &lt;= #{twelve}
        </if>
        <if test="customer != null and customer != ''">
            and customer = #{customer}
        </if>
        <if test="cdid != null and cdid != ''">
            and customer in (
            select uid from tb_dept_user where cdid in
            <foreach collection="list" separator="," item="item" index="index" open="(" close=")">
                #{item.cdid}
            </foreach>
            and status = '1'
            )
        </if>
        <if test="cid != null and manager != null and cid != '' and manager != ''">
            and customer in(
            select uid from tb_dept_user where cid = (select cid from tb_company_list where cid = #{cid} and manager = #{manager}) and status = '1'
            )
        </if>

    </select>
    
</mapper>