<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.TbTrackUserMapper">
    <!--新建跟进人员记录-->
    <insert id="addTrackUser" parameterType="java.util.Map" >
        insert into tb_track_user_list (trackres,trackoutput,abdialogue,nextadvance,excontent,trackdesc,trackcid,trackproid,
        trackvalue,trackid,tracktime,trackuname,tracktype,customer,trackcontent,image,
        adduid,status,summary,addtime)
        values (
        #{trackres},
        #{trackoutput},
        #{abdialoge},
        #{nextadvance},
        #{excontent},
        #{trackdesc},
        #{trackcid},
        #{trackproid},
        #{trackvalue},
        #{trackid},
        <choose>
            <when test="tracktime != null and tracktime != ''">
               #{tracktime},
            </when>
             <otherwise>
                 0,
             </otherwise>
        </choose>
        #{trackuname},
        #{tracktype},
        #{customer},
        #{trackcontent},
        #{image},
        #{adduid},
        #{status},
        <choose>
            <when test="summary != null and summary != ''">
                #{summary},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{addtime}
        )
    </insert>
    
    <!--查询跟进人员记录-->
    <select id="queryTrackUserList" parameterType="java.util.Map" resultType="java.util.Map">
        select trackres,trackoutput,abdialogue,nextadvance,excontent,trackdesc,trackid,tracktime,trackuname,tracktype,trackvalue,trackcontent,image,summary,trackcid,trackproid,customer
        from tb_track_user_list where status = '1'
        and trackvalue = #{trackvalue}
        <if test="startTime != null and startTime!= ''">
            and addtime &gt;= startTime
        </if>
        <if test="endTime != null and endTime!= ''">
            and addtime &lt;= endTime
        </if>
        <if test="trackcid != null and trackcid != ''">
            and trackcid = #{trackcid}
        </if>
        <if test="trackproid != null and trackproid != ''">
            and trackproid = #{trackproid}
        </if>
        <if test="customer != null and customer != ''">
            and customer = #{customer}
        </if>
        order by id desc
        <if test="pageno != null and pageno != ''">
            limit #{pagesize}
            offset #{pageno}
        </if>

    </select>

    <!--查询qq/微信联系记录数-->
    <select id="getQCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_track_user_list
        where tracktype in (4,8)
        <if test="zero != null and zero != ''">
           and addtime &gt;= #{zero}
        </if>
        <if test="twelve != null and twelve != ''">
            and addtime &lt;= #{twelve}
        </if>
        and status = '1'
        and adduid = #{adduid}
    </select>

    <!--查询电话联系记录数-->
    <select id="getPCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_track_user_list
        where tracktype = 16
        <if test="zero != null and zero != ''">
            and addtime &gt;= #{zero}
        </if>
        <if test="twelve != null and twelve != ''">
            and addtime &lt;= #{twelve}
        </if>
        and status = '1'
        and adduid = #{adduid}
    </select>

    <!--查询跟进记录愿意见数目-->
    <select id="getHandleCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_track_user_list
         where trackcid in
        (select cid  from tb_private_company_list where  oneheader = #{uid} or twoheader = #{uid} and status = '1')
        and customer = #{uid}
        and trackres = #{trackres}
        <if test="zero != null and zero != ''">
            and addtime &gt;= #{zero}
        </if>
        <if test="twelve != null and twelve != ''">
            and addtime &lt;= #{twelve}
        </if>
    </select>
    <!--查询跟进人员记录总数-->
    <select id="getTrackCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_track_user_list where status = '1' and adduid = #{adduid}
    </select>
    
    <!--删除跟进人员记录-->
    <update id="delTrackUser" parameterType="java.util.Map" >
        update tb_track_user_list
        set status = '2' where trackid = #{trackid}
    </update>

    <!--修改跟进人员记录信息-->
    <update id="updTrackUser" parameterType="java.util.Map">
        update tb_track_user_list
        set
        <if test="trackres != null and trackres != ''">
            trackres = #{trackres},
        </if>
        <if test="trackoutput != null and trackoutput != ''">
            trackoutput = #{trackoutput},
        </if>
        <if test="abdialogue != null and abdialogue != ''">
            abdialogue = #{abdialogue},
        </if>
        <if test="nextadvance != null and nextadvance != ''">
            nextadvance = #{nextadvance},
        </if>
        <if test="excontent != null and excontent != ''">
            excontent = #{excontent},
        </if>
        <if test="trackdes != null and trackdes != ''">
            trackdes = #{trackdes},
        </if>
        <if test="upduid != null and upduid != ''">
            upduid = #{upduid},
        </if>
        <if test="tracktime != null and tracktime != ''">
            tracktime = #{tracktime},
        </if>
        <if test="trackuname != null and trackuname != ''">
            trackuname = #{trackuname},
        </if>
        <if test="tracktype != null and tracktype != ''">
            tracktype = #{tracktype},
        </if>
        <if test="trackcontent != null and trackcontent != ''">
            trackcontent = #{trackcontent},
        </if>
        <if test="image != null and image != ''">
            image = #{image},
        </if>
        <if test="summary != null and summary != ''">
            summary = #{summary},
        </if>
        updtime = #{updtime}
        where
        trackid = #{trackid}

    </update>

    <!--// 分别查询qq/微信/电话沟通数量-->
    <select id="getSingleCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(#{tracktype}) from tb_track_user_list  where adduid = #{adduid} and status = '1'
    </select>

    <!--根据用户查询qq微信电话方式跟进记录列表-->
    <select id="getContactList" parameterType="java.util.Map" resultType="java.util.Map">
        select
        trackid,tracktime,trackuname,tracktype,trackvalue,trackcontent,image,summary
        from tb_track_user_list
        where adduid = #{adduid}
        and status = '1'
        and tracktype in (4,8,16)
        <if test="zero != null and zero != ''">
            and addtime &gt;= #{zero}
        </if>
        <if test="twelve != null and twelve != ''">
            and addtime &lt;= #{twelve}
        </if>
    </select>

    <!--获取历史有效客户数量-->
    <select id="getClient" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_private_company_list where oneheader = #{adduid} or twoheader = #{adduid}
        and status = '1'
        <if test="zero != null and zero != ''">
            and addtime &gt;= #{zero}
        </if>
        <if test="twelve != null and twelve != ''">
            and addtime &lt;= #{twelve}
        </if>

    </select>

    <!--根据跟进人查询 跟进阶段客户列表-->
    <select id="getHandleStage" parameterType="java.util.Map" resultType="java.util.Map">
       select trackid,tracktime,trackuname,tracktype,trackvalue,trackcontent,image,summary
        from tb_track_user_list
        where adduid = #{adduid}
        and status = '1'
        and trackres = #{trackeres}
        <if test="zero != null and zero != ''">
            and addtime &gt;= #{zero}
        </if>
        <if test="twelve != null and twelve != ''">
            and addtime &lt;= #{twelve}
        </if>
    </select>
    
</mapper>