<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.TbTrackUserMapper">
    <!--新建跟进人员激励-->
    <insert id="addTrackUser" parameterType="java.util.Map" >
        insert into tb_track_user_list (trackid,tracktime,trackuname,tracktype,customer,trackcontent,image,
        adduid,status,summary,addtime)
        values (
        #{trackid},
        <choose>
            <when test="tracktime != null and tracktime != ''">
               #{tracktime},
            </when>
             <otherwise>
                 0,
             </otherwise>
        </choose>
        #{trackuname},
        #{tracktype},
        #{customer},
        #{trackcontent},
        #{image},
        #{adduid},
        #{status},
        <choose>
            <when test="summary != null and summary != ''">
                #{summary},
            </when>
            <otherwise>
                null,
            </otherwise>
        </choose>
        #{addtime}
        )
    </insert>
    
    <!--查询跟进人员记录-->
    <select id="queryTrackUserList" parameterType="java.util.Map" resultType="java.util.Map">
        select trackid,tracktime,trackuname,tracktype,trackcid,trackcontent,image,summary
        from tb_track_user_list where status = '1'
        <if test="startTime != null and startTime!= ''">
            and addtime &gt;= startTime
        </if>
        <if test="endTime != null and endTime!= ''">
            and addtime &lt;= endTime
        </if>
        order by id desc
    </select>

    <!--查询跟进人员记录总数-->
    <select id="getTrackCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from tb_track_user_list where status = '1' and adduid = #{adduid}
    </select>
    
    <!--删除跟进人员记录-->
    <update id="delTrackUser" parameterType="java.util.Map" >
        update tb_track_user_list
        set status = '2' where trackid = #{trackid}
    </update>

    <!--修改跟进人员记录信息-->
    <!--trackid,tracktime,trackuname,tracktype,customer,trackcontent,image,addtime,
        adduid,status,summary)-->
    <update id="updTrackUser" parameterType="java.util.Map">
        update tb_track_user_list
        set
        <if test="upduid != null and upduid != ''">
            upduid = #{upduid},
        </if>
        <if test="tracktime != null and tracktime != ''">
            tracktime = #{tracktime},
        </if>
        <if test="trackuname != null and trackuname != ''">
            trackuname = #{trackuname},
        </if>
        <if test="tracktype != null and tracktype != ''">
            tracktype = #{tracktype},
        </if>
        <if test="trackcontent != null and trackcontent != ''">
            trackcontent = #{trackcontent},
        </if>
        <if test="image != null and image != ''">
            image = #{image},
        </if>
        <if test="summary != null and summary != ''">
            summary = #{summary},
        </if>
        updtime = #{updtime}
        where
        trackid = #{trackid}

    </update>
    
</mapper>