<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.TenderResultMapper">

    <!--获取中标信息-->
    <select id="queryTenderResult" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        tendid,
        ( SELECT cname FROM tb_project_type WHERE typeid = A.projecttype ),
        certificate,
        ( SELECT cname FROM tb_tendering_notice_type WHERE typeid = A.noticetype ) AS tname,
        title,
        opendate,
        TYPE,
        SOURCE,
        provice,
        city,
        pbmode,
        onename,
        oneoffer
        FROM
        tb_tendering_result_list A
        WHERE
        status = '1'
        <if test="provice!=null and provice != ''">
            and provice = #{provice}
        </if>
        <if test="city!=null and city != ''">
            and city = #{city}
        </if>
        <if test="beginoneoffer!=null and beginoneoffer != '' and endoneoffer!=null and endoneoffer!=''">
            and oneoffer between #{beginoneoffer} and #{endoneoffer}
        </if>
        <if test="keyword!=null and keyword != ''">
            and title ~ #{keyword}
        </if>
        ORDER BY
        ID
        LIMIT #{rows} OFFSET #{page}
    </select>


    <!-- 查询总数-->
    <select id="quertTenderResultCount"  resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from tb_tendering_result_list where status='1'
        <if test="provice!=null and provice != ''">
            and provice = #{provice}
        </if>
        <if test="city!=null and city != ''">
            and city = #{city}
        </if>
        <if test="beginoneoffer!=null and beginoneoffer != '' and endoneoffer!=null and endoneoffer!=''">
            and oneoffer between #{beginoneoffer} and #{endoneoffer}
        </if>
        <if test="keyword!=null and keyword != ''">
            and title ~ #{keyword}
        </if>
    </select>
</mapper>
        <!--https://gcdn.grapecity.com.cn/forum.php?mod=viewthread&tid=58622-->