<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzb.org.dao.TenderMapper">

    <!-- 添加中标-->
    <insert id="addTenderList" parameterType="java.util.List">
        insert into tb_project_tendering_list
        (tendid,
        projecttype,
        certificate,
        noticetype,
        title,
        opendate,
        type,
        source,
        provice,
        city,
        pbmode,
        snatchid,
        addtime,
        updtime,
        status,
        summary)
        values
        <foreach separator="," index="index" item="item" collection="list">
            (
            #{item.tendid},
            #{item.projecttype},
            <choose>
                <when test="item.certificate != null">
                    #{item.certificate},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            #{item.noticetype},
            #{item.title},
            #{item.opendate},
            #{item.type},
            #{item.source},
            #{item.provice},
            <choose>
                <when test="item.city != null">
                    #{item.city},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="item.pbmode != null">
                    #{item.pbmode},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            #{item.snatchid},
            #{item.addtime},
            #{item.updtime},
            <choose>
                <when test="item.status != null">
                    #{item.status},
                </when>
                <otherwise>
                    null ,
                </otherwise>
            </choose>
            <choose>
                <when test="item.summary != null">
                    #{item.summary}
                </when>
                <otherwise>
                    null
                </otherwise>
            </choose>
            )
        </foreach>
    </insert>


    <!--查询投标列表信息-->
    <select id="queryTender" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        tendid,
        ( SELECT cname FROM tb_project_type WHERE typeid = A.projecttype ),
        certificate,
        ( SELECT cname FROM tb_tendering_notice_type WHERE typeid = A.noticetype ) AS tname ,
        title,
        opendate,
        type,
        source,
        provice,
        city,
        addtime
        FROM
        tb_project_tendering_list A
        WHERE
        status = '1'
        <if test="provice!=null and provice != ''">
            and provice = #{provice}
        </if>
        <if test="city!=null and city != ''">
            and city = #{city}
        </if>

        <if test="projecttype!=null and projecttype != ''">
            and projecttype = #{projecttype}
        </if>

        <if test="pbmode!=null and pbmode != ''">
            and pbmode = #{pbmode}
        </if>

        <if test="keyword!=null and keyword != ''">
            and title ~ #{keyword}
        </if>

        ORDER BY
        opendate
        desc

        LIMIT #{pagesize} OFFSET #{pageno}
    </select>

    <!-- 查询总数-->
    <select id="quertTenderCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from tb_project_tendering_list where status='1'

        <if test="provice!=null and provice != ''">
            and provice = #{provice}
        </if>
        <if test="city!=null and city != ''">
            and city = #{city}
        </if>

        <if test="projecttype!=null and projecttype != ''">
            and projecttype = #{projecttype}
        </if>

        <if test="pbmode!=null and pbmode != ''">
            and pbmode = #{pbmode}
        </if>

        <if test="keyword!=null and keyword != ''">
            and title ~ #{keyword}
        </if>
    </select>

</mapper>
        <!--https://gcdn.grapecity.com.cn/forum.php?mod=viewthread&tid=58622-->